@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../variables";
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";

.login-form-container {
    margin-top: 90px;
    margin-bottom: 90px;

    .login-register-header {

        .login-header {
            text-align: center;
            float: left;
            width: 49.5%;
            background-color: $background_dark;
            border: 1px solid $background_dark;

            h4 {
                margin: 0;
                a {
                    display: block;
                    padding: 10px 0;
                    color: #fff;
                }
            }

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 10px solid $background_dark;
                position: absolute;
                left: 25%;
                margin-left: -10px;
            }
        }

        .register-header {
            text-align: center;
            background: #ffffff;
            background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #f7f7f7 75%, #eaeaea 100%);
            background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f7f7f7 75%,#eaeaea 100%);
            background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#f7f7f7 75%,#eaeaea 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
            float: right;
            width: 49.5%;
            border: 1px solid $background_lighter;

            h4 {
                margin: 0;
                a {
                    display: block;
                    padding: 10px 0;
                    color: $blue-text;
                }
            }
        }

        .single-header{
            display: block;
            padding: 10px 0;
            color: #fff;
            background-color: #516a73;
            border: 1px solid #516a73;
            text-align: center;
            float: left;
            width: 100%;
            margin: 0;
        }
    }

    .login-form {
        padding: 60px 45px 20px 45px;
        border: 1px solid $background_lighter;

        @media (max-width: 479px) {
            padding: 60px 15px 20px 15px;
        }

        .form-group {
            margin-bottom: 30px;

            .md-mb30 {
                @media (max-width: 991px) {
                    margin-bottom: 30px;
                }
            }

            .form-control {
                height: 50px;
                font-size: 16px;
                padding: 6px 15px;
            }

            .checkbox-custom {
                display: inline-block;
                margin-right: 30px;
                position: relative;
                width: 260px;
                vertical-align: top;
                margin-top: 3px;

                @media (max-width: 991px) {
                    width: 100%;
                }

                input[type="checkbox"] {
                    height: 0;
                    width: 0;
                    margin-left: 0;
                    padding: 0;
                    outline: 0 !important;
                    visibility: hidden;

                    &:checked + label:after {
                        opacity: 1;
                    }
                }

                label {
                    width: 28px;
                    height: 28px;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #fff;
                    border-radius: 4px;
                    border: 1px solid $background_lighter;
                    margin-bottom: 0;
                    font-weight: normal;

                    span {
                        padding-left: 40px;
                        display: inline-block;
                        width: 200px;
                        font-size: 15px;
                        vertical-align: sub;
                        color: $blue-text;
                    }

                    &:after {
                        content: '';
                        width: 15px;
                        height: 8px;
                        position: absolute;
                        top: 7px;
                        left: 6px;
                        border: 3px solid $green;
                        border-top: none;
                        border-right: none;
                        background: transparent;
                        opacity: 0;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    &:hover:after {
                        opacity: 0.5;
                    }
                }
            }

            .forgot-password {
                display: inline-block;
                color: $alert;
                vertical-align: top;
                margin-top: 3px;

                .fa {
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    line-height: 30px;
                    vertical-align: middle;
                    text-align: center;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-right: 7px;
                }

                span {
                    font-size: 15px;
                    vertical-align: middle;
                }
            }

            button[type="submit"] {
                float: right;
                margin: 0;
                outline: none;
                background-color: $green;
                border-color: $green;
                text-transform: uppercase;
                font-size: 16px;
                color: #ffffff;
                -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
                box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
                padding:6px 12px;
                padding-left: 16px;
                padding-right: 10px;
                @media (max-width: 991px) {
                    float: left;
                }
                .fa-arrow-circle-o-right{
                    font-size: 18px;
                    font-weight: 300;
                    margin-left: 12px;
                }
                .fa-spinner{
                    display:none;
                }
                &.active{
                    opacity: 0.7;
                    .fa-spinner{
                        display: inline-block;
                        font-size: 25px;
                        margin-left: 10px;
                        vertical-align: middle;
                        line-height: 17px;
                        margin-top: -3px;
                    }
                    .fa-arrow-circle-o-right{
                        display:none;
                    }
                }
                &:hover{
                    background-color: $green-hover;
                    background-image: linear-gradient(to bottom, $green-hover, $green-hover);
                }
            }
        }
        .has-error:focus {
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
        }
        .has-error + div.error-msg{
            margin-top: 0px;
        }
    }
}