@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/site_properties";
@import "../includes/footer";
@import "../includes/pool_create_sidebar";
@import "../includes/ad_block";
@import "../includes/twitter_block";
.game-details {
    .team-details{
        @include make-sm-column(12);
        background-color: $background_lighter;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 30px 20px;
        overflow:hidden;
        .team-scores{
            @include make-md-column(8);
            overflow:hidden;
            .team-div{
                display: block;
                width: 100%;
                float: left;
                &:first-child{
                    margin-bottom: 20px;
                }
                table{
                    width:100%;
                    td{
                        vertically-align:middle;
                        &.team-logo{
                            width:15%;
                            img{
                                max-width: 100%;
                            }
                        }
                        &.team-name{
                            span{
                                font-size: 15px;
                                color: $nav;
                            }
                            .large-font{
                                font-size: 20px;
                                color: $nav;
                                margin-right: 10px;
                                line-height: 18px;
                            }
                            color: $light-grey;
                            line-height: 20px;
                            width: 70%;
                            padding-left: 10px;
                            font-size: 15px;
                            text-transform: uppercase;
                        }
                        &.team-score{
                            width: 15%;
                            font-size: 46px;
                            line-height: 51px;
                            color: $nav;
                            span{
                                float: none;
                                font-size: 15px;
                                font-weight: bold;
                                margin-left: -7px;
                            }
                        }
                    }
                }
            }
        }
        .score-details{
            @include make-md-column(4);
            table{
                th,td{
                    color: $dark-grey;
                    font-size: 17px;
                    border: 0;
                    text-align: center;
                }
                thead{
                    border-bottom: 2px solid $white;
                    .bigfont{
                        text-transform: uppercase;
                    }
                    th{
                        padding-bottom: 15px;
                        font-weight: normal;
                    }
                }
                .bigfont{ 
                    font-weight: 600;
                    font-size: 16px;
                    span{
                        font-weight: normal;
                        color: $light-grey;
                    }
                }
            }
        }
        p{
            color: $dark-grey;
            float: left;
            width: 100%;
        }
        .goal-players{
            overflow: hidden;
            text-indent: -3px;
            display: inline-block;
            vertical-align: top;
            margin-left: 2px;
            width: 93%;
        }
    }
    .scoring-summary{
        @include make-sm-column(12);
        .game-periods{
            float: left;
            width: 100%;
            h2{
                margin: 0;
                background: $dark-grey;
                color: $white;
                padding: 10px 15px;
                font-size: 20px;
            }
            p{
                background:$background_lightest;
                margin-bottom: 20px;
                padding:10px 15px;
                font-size: 15px;
            }
            table{
                background:$background_lightest;
                td{
                    font-size: 15px;
                    padding: 8px 15px;
                }
                thead{
                    th{
                        font-size: 16px;
                        font-weight: normal;
                        padding: 8px 15px;
                    }
                }
            }
        }
    }
    .shootout{
        @include make-sm-column(12);
        h2{
            margin: 0;
            background: #6f838b;
            color: #fff;
            padding: 10px 15px;
            font-size: 20px;
            margin-left: -15px;
            margin-right: -15px;
        }
        table {
            background: #e5e9ea;
        }
        table thead th {
            font-size: 16px;
            font-weight: normal;
            padding: 8px 15px;
        }
        table td {
            font-size: 15px;
            padding: 8px 15px;
        }
        p {
            background: #e5e9ea;
            margin-bottom: 20px;
            padding: 10px 15px;
            font-size: 15px;
        }
    }
    .box-score{
        @include make-sm-column(12);
        table{
            thead{
                border-top: 1px solid $background_lighter;
            }
            th,td{
                border: 0;
                text-align: center;
            }
            th{
                font-size: 17px;
                font-weight: normal;
                text-transform: uppercase;
            }
            img{
                max-width: 50px;
                margin-right: 10px;
                float: left;
            }
            .teamlabel{
                font-size: 21px;
                font-weight: 600;
                text-align: left;
                span{
                    float: left;
                    padding-top: 10px;
                }
            }
            td{
                font-size: 30px;
                padding-top: 4px;
                padding-bottom: 4px;
                vertical-align: middle;
            }
        }

    }
    .team-player-details{
        @include make-sm-column(12);
        table{
            margin-bottom:10px; 
            &:last-child{
                margin-bottom: 20px;
            }
            thead{
                background: $nav;
                color: $white;
                th{
                    font-weight: normal;
                    font-size: 15px;
                    padding: 10px 2px; 
                    text-align: center;
                    border:0;
                    &:nth-child(2){
                        text-align: left;
                    }
                }
            }
            td{
                padding: 10px 2px;
                font-size: 15px;
                text-align: center;
                &:nth-child(2){
                    text-align: left;
                }
            }
        }
    }
}    
@media only screen and (min-width:768px) and (max-width: 991px) {
    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
        padding: 10px 0px!important;
    }
}
@media screen and (max-width: 768px) {
    .game-details{
        .team-details{
            .team-scores{
                padding: 0;
            }
            .score-details{
                padding: 0;
            }
        }
        .scoring-summary{
            .game-periods{
                h2{
                    padding: 10px 8px 10px 0;
                    background: #fff;
                    color: #6f838b;
                }
                p{
                    padding: 10px 8px;
                }
                table {
                    background: #fff;
                    td{
                        padding: 10px 15px !important;
                    }
                }
            }
        }
        .box-score{
            table{
                overflow:hidden;
                thead tr{
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                td{
                    position: relative;
                    padding-left: 50% !important;
                    float:left;
                    width: 100%;
                    text-align:left;
                    font-size:22px;
                    &:first-child{
                        background: $nav;
                        color: $white;
                    }
                    &:before{
                        position: absolute;
                        top: 4px;
                        left: 6px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                    }
                    &:nth-of-type(1){
                        &:before{
                            content: "Team";
                            top: 12px;
                        }
                    }
                    &:nth-of-type(2){
                        &:before{
                            content: "SOG";
                        }
                    }
                    &:nth-of-type(3){
                        &:before{
                            content: "FO%";
                        }
                    }
                    &:nth-of-type(4){
                        &:before{
                            content: "PP";
                        }
                    }
                    &:nth-of-type(5){
                        &:before{
                            content: "PIM";
                        }
                    }
                    &:nth-of-type(6){
                        &:before{
                            content: "HITS";
                        }
                    }
                    &:nth-of-type(7){
                        &:before{
                            content: "BLKS";
                        }
                    }
                    &:nth-of-type(8){
                        &:before{
                            content: "GVA";
                        }
                    }
                }
            }
            table, thead, tbody, th, td, tr{
                display: block;
            }
            .teamlabel{
                span{
                    padding-top: 12px;
                }
            }
        }
    }
}
.site-container{
    background-color: rgb(12, 40, 62);
}
#game_details{
    margin-top: 20px;
    display:none;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
}
.adblocks{
    opacity:0;
}
.no-result-present{
    text-align: left !important;
}
@media (max-width:768px){
    #game_details{
        margin: 20px 15px 0 15px;
    }
    .game-details .flip-scroll-table{
        thead{
            background: #e5e9ea;
        }
        th{
            font-weight: normal;
            font-size: 15px;
            border-bottom: 0;
            border-top: 1px solid #ddd !important;
            border-left: 1px solid #ddd !important;
            border-right: 1px solid #ddd !important;
            padding: 10px 15px 9px 15px !important;
        }
        th:last-child{
            border-bottom: 1px solid #ddd !important;
        }
        td{
            padding: 8px !important;
            min-height: 41px;
        }
    }
}
@media screen and (max-width: 400px) {
    .heading{
        padding-left: 5px !important;
    }
}