@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/site_properties";
@import "../includes/footer";
@import "../includes/pool_create_sidebar";
@import "../includes/ad_block";
@import "../includes/twitter_block";
.scores{
    .dates{
        display: inline-block;
        margin: 30px 15px 30px 0px;
        font-size: 24px;
        cursor: pointer;
        color:$dark-grey;
        &.selected{
            font-size: 30px;
            font-weight: bold;
        }
    }
    .team-details{
        @include make-sm-column(12);
        background-color: $background_lighter;
        margin-top: 15px;
        margin-bottom:15px;
        padding: 30px 20px;
        overflow:hidden;
        display:none;
        &.selected{
            display: block; 
        }
        .team-scores{
            @include make-sm-column(8);
            .team-div{
                display: block;
                width: 100%;
                float: left;
                &:first-child{
                    margin-bottom: 20px;
                }
                span{
                    float: left;
                    display: inline-block;
                    &.team-logo{
                        width:15%;
                        img{
                            max-width: 100%;
                        }
                    }
                    &.team-name{
                        span:nth-child(1){
                            font-size: 15px;
                            float: none;
                            display: block;
                        }
                        span:nth-child(3){
                            font-size: 15px;
                            padding-left: 15px;
                            color: $light-grey;
                        }
                        padding-top: 8px;
                        line-height: 20px;
                        width: 60%;
                        padding-left: 10px;
                        font-size: 20px;
                        text-transform: uppercase;
                        color: $nav;
                    }

                    &.team-score{
                        width: 25%;
                        font-size: 46px;
                        line-height: 51px;
                        color: $nav;
                        padding-left: 24px;
                        span{
                            float: none;
                            font-size: 15px;
                            font-weight: bold;
                            margin-left: -7px;
                        }
                    }
                }
            }
        }
        .score-details{
            @include make-sm-column(4);
            table{
                th,td{
                    color: $dark-grey;
                    font-size: 17px;
                    border: 0;
                    text-align: center;
                }
                thead{
                    border-bottom: 2px solid $white;
                    .bigfont{
                        text-transform: uppercase;
                    }
                    th{
                        padding-bottom: 15px;
                        font-weight: normal;
                    }
                }
                .bigfont{
                    font-weight: 600;
                    font-size: 16px;
                    span{
                        font-weight: normal;
                        color: $light-grey;
                    }
                }
            }
        }
        p{
            color: $dark-grey;
            float: left; 
            width: 100%;
        }
        &:last-child{
            margin-bottom: 20px;
        }
        .goal-players{ 
            overflow: hidden;
            text-indent: -3px;
            display: inline-block;
            vertical-align: top;
            margin-left: 2px;
            width: 94%;
        }
        .btn-blue{
            margin-top: 10px;
        }
    }
} 
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#scores{
    margin-top: 20px;
    display:none;
}
.adblocks{
    opacity:0;
}
.no-game-p{
    margin-bottom: 20px;
}
@media (max-width:768px){
    #scores{
        margin: 20px 15px 0 15px;
    }
    .scores .dates{
        margin: 15px 15px 15px 0px;
    }
}
//END Loader

//selectBoxIt
.schedule-header{ 
    margin-top: 20px;
    margin-bottom: 20px;
    .pool--top-heading{
        display: inline-block;
        margin: 3px 0 20px 0;
    }
    .schedule-dates{
        display: inline-block;
        margin-top: -18px;
        vertical-align: middle;
        font-size: 25px;
        color: #0F6AAE;
        margin-left: 15px;
        cursor: pointer;
        position:relative;
        #datetimepicker{
            width: 40px;
            opacity: 0;
            cursor:pointer;
            position: absolute;
            top: -22px;
            left: 0px;
            z-index: 2;
        }
        .fa{
            position: absolute;
            top: -10px;
            left: 4px;
            z-index: 1;
        }
    }
}
