.squaredThree span{ 
    padding-left: 24px;
    width: 122px;
    display: inline-block;
}
.squaredThree span.ar{ 
    display: none;
}
.squaredThree .radio label,.squaredThree .checkbox label{
    min-height: 10px; 
    padding-left: 0px; 
}
.squaredThree {
    position: relative;
}
.squaredThree label {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0px, -50%);
    right: 8px;
    height:24px;
    border-radius: 5px;
    margin-bottom: 0;
    border: 1px solid #fff;
}
.squaredThree label:after {
    content: '';
    width: 12px;
    height: 7px;
    position: absolute;
    top: 6px;
    border: 3px solid #58a81e;
    left: 5px;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredThree label:hover::after {
    opacity: 1;
}
.squaredThree input[type=checkbox] {
    visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.squaredThree input[type=checkbox]:checked + label{
    background: #fff;
}
@media (max-width:768px){
    .squaredThree .checkbox input[type="checkbox"]{
        margin:2px 0px 5px -20px;
    }
}