@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/twitter_block";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
.advertise--content{
    @include make-sm-column(8);
    padding: 0;
    margin-top: 20px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    /*form*/
    .input-fields{
        @include make-sm-column(6);
        padding: 0;
        margin-bottom: 15px;
        label{
            display: block;
            font-weight: 500;
            font-size: 16px;
            color:$light-grey;
        }
        @media (min-width:768px){
            &:nth-child(2){
                padding-right: 10px;
            }
            &:nth-child(3){
                padding-left: 10px;
            }
        }
    }
    .textarea-field{
        @include make-sm-column(12);
        padding: 0;
        margin-bottom: 18px;
        label{
            display: block;
            font-weight: 500;
            font-size: 16px;
            color:$light-grey;
        }
    }
    .recaptcha-field{
        margin-bottom: 18px;
    }
    .g-recaptcha > div{
        height: auto !important;
    }
    .submit-form{
        text-align: left;
        z-index: 1;
        padding: 20px 0px 15px 0px;
        .emailaddress{
            height: 36px;
            width: 100%;
            padding-left: 10px;
            font-size: 15px;
            color: $black;
            &:focus{
                outline: none;
            }
        }
        .namefield{
            height: 36px;
            width: 100%;
            padding-left: 10px;
            font-size: 15px;
            color: $black;
            &:focus{
                outline: none;
            }
        }
        .informationfield{
            height: 90px;
            width: 100%;
            margin-right: 7px;
            padding:6px 10px 6px 10px;
            font-size: 15px;
            color: $black;
            &:focus{
                outline: none;
            }
        }
        .btn-backgreen{
            margin: 0;
            outline: none;
            font-size: 16px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    .submit-btn{
        .fa{
            display:none;
        }
        &.active{
            opacity: 0.7;
            .fa{
                display: inline-block;
                font-size: 25px;
                margin-left: 10px;
                vertical-align: middle;
                line-height: 17px;
                margin-top: -3px;
            }
        }
    } 
    /*form-ends*/
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .advertise--content{
            padding: 0 15px;
        }
    }
}
.has-error + div.error-msg{
    margin-top: 0;
}
//Remove this and solve issue
body{
    overflow-x: hidden;
}