@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/ad_block";
.faq--content{
    @include make-sm-column(8);
    padding: 0;
    margin-top: 20px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    a{
        display: block;
        font-size: 16px;
        padding: 12px 10px;
        span{
            .fa{
                font-size: 25px;
                float: right;
                line-height: 16px;
                margin-right: 10px;
            }
        } 
        &:focus{
            text-decoration: none;
        }
    }
    .panel-body p{
        a{
            padding: 0;
            display: inline-block;
            font-size: 15px;
        }
    }
    .btn-grey{
        background: $light-grey;
        color:$white;
        text-align: left;
        border: 1px solid $dark-grey;
        cursor: pointer;
        list-style: none;
        border-bottom: 0;
        font-size: 16px;
        border-radius: 0;
        span{
            margin-left: 30px;
        }
        &.opened-faq{
            background: $dark-grey;
            a{
                span{
                    .fa{
                        transform: rotate(180deg);
                    }
                }
                &:active{
                    text-decoration: none;
                }
                &:focus{
                    text-decoration: none;
                }
            }
        }
    }
    .panel-collapse{
        background-color: $background_lightest;
    }
    .panel-heading{
        padding: 0px;
    }
    .panel-group {
        .panel{
            margin-bottom: 10px;
        }
    }
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .faq--content{
            padding: 0 15px;
        }
    }
}
/*ad_block create-btn*/
.welcome-slider--button{
    .btn-backgreen{
        margin: 0;
        outline: none;
        font-size: 16px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
/*ad_block create-btn-ends*/
//Remove this and solve issue
body{
    overflow-x: hidden;
}    