@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation"; 
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/ad_block";

.how-it-works--content{
    @include make-sm-column(8);
    padding: 0;
    margin-top: 20px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    .pool--small-heading{
        font-size: 22px;
        margin: 30px 0 5px 0;
        color: $light_blue;
        font-weight: 300;
    }
    a:hover, a:active, a:active{
        text-decoration: underline;
    }
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .how-it-works--content{
            padding: 0 15px;
        }
    }
}
//Remove this and solve issue
body{
    overflow-x: hidden;
}