@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/ad_block";

.pool-type--content{
    @include make-sm-column(8);
    padding: 0;
    margin-top: 20px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    .pool-type{
        @include make-sm-column(12);
        padding: 0;
        border-top:1px solid $background_lightest;
        margin: 30px 0 0 0;
        .pool-type--types{
            @include make-sm-column(12);
            padding: 0;

            .pool-type--create{
                @include make-sm-column(3);
                padding: 0;
                text-align: left;
                .btn-backgreen{
                    float: right;
                    margin-top: 40px;
                }
            }
            .pool-type--description{
                @include make-sm-column(9);
                padding: 0;
            }
            .pool--small-heading{
                font-size: 22px;
                margin: 30px 0 5px 0;
                color: $light_blue; 
                font-weight: 300;
            }
        }
    }
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .pool-type--content{
            padding: 0 15px;
        }
    }
    .pool-type--description,.pool-type--content .pool-type,.pool--main-heading,.pool--small-heading{
        width: 100%;
        float: left;
    }
    .pool-type--content .pool-type .pool-type--types .pool-type--create{
        width: 100%;
        float: left;
        text-align: center;
    }
    .pool-type--content .pool-type .pool-type--types .pool-type--create .btn-backgreen{
        float: none;
        margin-top: 20px;
        margin-bottom: 20px; 
    }
}
//Remove this and solve issue
body{
    overflow-x: hidden;
}