@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/ad_block";

.privacy-policy--content{
    @include make-sm-column(8);
    padding: 0;
    margin-top: 20px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .privacy-policy--content{
            padding: 0 15px;
        }
    }
}