body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px; } }

.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block; }

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal; }

.sweet-alert fieldset {
  border: none;
  position: relative; }

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s; }

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s; }

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px; }

.sweet-alert .sa-error-container p {
  display: inline-block; }

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: all 0.1s; }

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px; }

.sweet-alert .sa-input-error::before {
  transform: rotate(-45deg); }

.sweet-alert .sa-input-error::after {
  transform: rotate(45deg); }

.sweet-alert .sa-input-error.show {
  opacity: 1;
  transform: scale(1); }

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  transition: all 0.3s; }

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5; }

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd; }

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd; }

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd; }

.sweet-alert.show-input input {
  display: block; }

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative; }

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden; }

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }

.sweet-alert button:hover {
  background-color: #7ecff4; }

.sweet-alert button:active {
  background-color: #5dc2f1; }

.sweet-alert button.cancel {
  background-color: #C1C1C1; }

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9; }

.sweet-alert button.cancel:active {
  background-color: #a8a8a8; }

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default; }

.sweet-alert button.confirm[disabled] {
  color: transparent; }

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

.sweet-alert button::-moz-focus-inner {
  border: 0; }

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important; }

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px; }

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box; }

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474; }

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block; }

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  transform: rotate(45deg);
  left: 17px; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  transform: rotate(-45deg);
  right: 16px; }

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86; }

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1; }

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86; }

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px; }

.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0px 60px; }

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg); }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg); }

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat; }

/*
 * Animations
 */

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  animation: slideToBottom 0.3s; }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in; }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  animation: animateErrorIcon 0.5s; }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  animation: animateXMark 0.5s; }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  animation: pulseWarning 0.75s infinite alternate; }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate; }

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */

@keyframes ball-fall {
  0% {
    opacity: 0;
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    transform: translateY(0); }
  80% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    transform: translateY(145%); } }

/* Defaults ==================================== */
html {
  height: 100%; }

body {
  height: 100%;
  color: #777;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.6em;
  background: #1778a9 url(../../img/landing/bg.jpg) fixed center center;
  background-size: 100% 100%;
  height: 100%; }

/* Typography ==================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  padding: 0;
  font-weight: 300;
  color: #444;
  font-family: 'Titillium Web', sans-serif; }

h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0 0 .8em; }

h2 {
  font-size: 1.8em;
  line-height: 1.4em;
  margin: 0 0 .8em; }

h3 {
  font-size: 1.4em;
  line-height: 1.4em; }

h4 {
  font-size: 1.2em;
  line-height: 1.4em; }

h5 {
  font-size: 1.1em;
  line-height: 1.4em; }

h6 {
  font-size: 1em;
  line-height: 1.2em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

p {
  padding: 0 0 1em;
  margin: 0; }

a {
  color: #444; }

a.btn, a.btn:visited {
  border: 0;
  padding: 1em 1.5em;
  margin: 0 1em 1em 0;
  font-size: 1em;
  line-height: 4em;
  border: solid 1px #226eac;
  color: #fff;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
  background-color: #53c5e1;
  background-image: -o-linear-gradient(top, #53c5e1, #3aa2cb); }

a.btn:hover {
  background: #168cce; }

img {
  border: 0; }

.clearfix {
  clear: both; }

.clear-sml {
  display: none; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

/* Forms ==================================== */
.form-box {
  padding: 0;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  color: #666;
  border-radius: 4px; }

form h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0; }

form a {
  text-decoration: none; }

form a:hover {
  text-decoration: underline; }

.form-row {
  margin-bottom: 1em; }

.form-row input.text, .form-row textarea {
  width: 92%;
  border: solid 1px #e8e8e8;
  padding: 1.0em 4%;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Titillium Web', sans-serif;
  background: #f7f7f7;
  color: #666;
  border-radius: 4px;
  box-shadow: inset 5px 5px 5px  #f3f3f3; }

.form-row select {
  width: 100%;
  font-size: 1em; }

.form-row input.btn {
  border: 0;
  padding: 1em 1.5em;
  font-size: 1em;
  border: solid 1px #226eac;
  color: #fff;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-decoration: none;
  background-color: #0e5972;
  background-image: -o-linear-gradient(top, #0e5972, #0d273e); }

.form-row input.btn:hover, .form-row input.btn:focus {
  background: #0d273e; }

.form-row input.btn-wide {
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

.form-row label {
  font-size: 1em;
  color: #111;
  display: block;
  font-weight: 700;
  text-transform: uppercase; }

.form-row label span.required {
  color: red; }

.shadow {
  background: url(../../img/landing/shadow.png) no-repeat top center;
  background-size: 90% 100%;
  height: 20px; }

.meta a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }

#success, #error {
  display: none;
  background: #f9f9f9;
  border: solid 1px #ccc;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 4px;
  color: #777; }

#success p, #error p {
  padding: 0;
  margin: 0; }

#success {
  border-color: #77b054; }

#error {
  border-color: #e65445; }

#success span p {
  color: #77b054;
  font-weight: 400;
  padding: 0;
  margin: 0; }

#error span p {
  color: #e65445;
  font-weight: 400;
  margin: 0;
  padding: 0; }

label.error {
  color: red; }

.subscribe {
  margin-top: 2em; }

#subscribe {
  position: relative; }

#subscribe label.error {
  background: #fff;
  border-radius: 4px;
  padding: 1em 1.3em .5em;
  position: absolute;
  top: -3.5em;
  left: -1.4em;
  right: -1.4em; }

/* subscribe  ==================================== */
.subscribe {
  text-align: center;
  border-radius: 4px; }

.subscribe .form-row {
  border-radius: 4px;
  padding: 0;
  margin: 0;
  background: #fff; }

.subscribe .form-row input.text {
  width: 50%;
  padding: 1em 5%;
  float: left;
  border-right: 0;
  margin: 0 0 0 -1px; }

.subscribe .form-row .btn {
  width: 40%;
  padding: 1.1em 5%;
  float: right;
  margin: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

/* Menu  ==================================== */
.hamburger {
  position: absolute;
  top: 0%;
  right: -5px;
  z-index: 998;
  width: 30px;
  height: 20px; }

.hamburger a {
  width: 30px;
  height: 20px;
  overflow: hidden;
  display: inline;
  float: left;
  padding: 10px;
  background: #fff url(../../img/landing/menu.png) no-repeat center center;
  text-indent: -999999px; }

.close {
  z-index: 999;
  width: 100%;
  height: 26px;
  margin-bottom: 45px; }

.close a {
  width: 100%;
  height: 26px;
  overflow: hidden;
  display: block;
  float: left;
  background: url(../../img/landing/close.png) no-repeat center center;
  text-indent: -999999px; }

nav {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222;
  text-align: center;
  color: #fff;
  display: none; }

nav section {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0; }

nav a {
  color: #999; }

nav h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 20px; }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

nav ul li {
  list-style: none;
  padding: 0 0 1em;
  margin: 0; }

nav ul li a {
  font-weight: 400;
  text-decoration: none; }

/* Structure and containers ==================================== */
section {
  padding: 20px; }

.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  float: left;
  width: 50%;
  background: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.08); }

.left section {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: none;
  padding-top: 55px; }

.left section h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px; }

.right {
  float: right;
  width: 50%; }

.right section {
  display: none; }

.right .narrow {
  margin: 0 auto;
  width: 60%; }

.right .wide {
  margin: 0 auto;
  width: 80%; }

.right .form-box {
  background: #fff;
  padding: 20px; }

.right .title {
  color: #fff;
  margin-bottom: 20px; }

.right .title p {
  margin: 0;
  padding: 0; }

.right .title h2 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
  padding: 0; }

.right .title h1 {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0 0 .4em;
  padding: 0; }

.right .title p {
  color: rgba(255, 255, 255, 0.8); }

.right img.phone {
  height: 560px;
  width: 300px; }

.padded {
  padding: 4em	!important; }

/* Responsive options  ==================================== */
@media screen and (max-width: 50em) {
  .left, .right {
    width: 100%;
    position: relative; }
  .left section {
    text-align: center;
    width: 80%; }
  .right .narrow {
    width: 100%; }
  .right .wide {
    width: 100%; }
  .hamburger {
    right: 20px; }
  .clear-sml {
    clear: both;
    display: block; } }

.sweat-alert-confirm h2 {
  font-weight: normal;
  font-size: 27px;
  margin-top: 15px;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase; }

.sweat-alert-confirm p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px; }

.sweat-alert-confirm .confirm {
  color: white;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  text-decoration: none;
  width: 155px;
  cursor: pointer;
  font-size: 15px;
  background: #6bb52a !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #6bb52a !important;
  padding: 10px 0px !important;
  border-radius: 4px !important; }

/*# sourceMappingURL=landing.css.map */

/*# sourceMappingURL=landing.css.map */
