@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/site_properties";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/twitter_block";
@import "../includes/pool_create_sidebar";
.home-public--content{  
    @extend .container-fluid;
    position:relative;
    .pool-type-duplicate{
        float: left;
        width: 64.5%;
        position: absolute;
        top: 0;
        left: 0;  
        bottom: 0;
        background: #fff;
        z-index: 0;
        margin: 0;
        padding: 0;
        .pool-type--header {
            padding: 12px 0px;
            color: $white;
            text-transform: uppercase;
            background-color: $light-grey;
            margin: 0;
            font-size: 16px;
            span{
                @extend .invisible
            }
        }
        @media #{$mobile} {
            display: none;
        }
    }
    .pool-news-duplicate{
        float: left;
        width: 35.5%;
        position: absolute;
        top: 0;
        right: 0;  
        bottom: 0;
        background: #E5E9EA;
        z-index: 1;
        margin: 0;
        padding: 0;
        .pool-type--footer {
            padding: 12px 0px;
            color: $white;
            margin: 0;
            font-size: 16px;
            background-color: $dark-grey;
            text-transform: none;
            padding-left: 25px;
            span{
                @extend .invisible
            }
        } 
        @media #{$mobile}  {
            display: none;
        }
    }
}

.typerow {
    border-bottom: 1px solid $background_lightest;
    overflow:hidden;
    p {
        color: $background_dark;
        font-size: 15px;
        margin: 5px 0px;
    }
    a {
        text-decoration: underline;
    }
}
.home-public--types{
    @extend .container; 
    position:relative;
    .home-public--pool-type{
        @include make-sm-column(8);
        .home-public--pool-type--heading{
            @include make-row();
            p{
                padding: 12px 0px 12px 15px;
                color: $white;
                text-transform: uppercase;
                background-color: $light-grey;
                margin: 0;
                font-size: 16px;  
            }
            .arrow-down{
                border-top: 16px solid  $light-grey;
            }
        }
        .home-public--each-pool-type{
            @include make-row();
            padding: 35px 0px 35px 0px;
            @extend .typerow; 
            width:93%;
            .each-pool-type--col1{ 
                width: calc(100% - 134px);
                padding: 0 15px;
                float: left;
                h4{
                    font-size:30px;
                    color:$light_blue;
                    text-transform: uppercase;
                    margin-top: 0;
                }
                a{
                    color:$light_blue;
                }
                a:focus{
                    outline:0;
                }
            }
            .each-pool-type--col2{
                float: left;
                padding-right: 15px;
                @extend .text-right; 
                .btn-backgreen{
                    margin-bottom: 16px; 
                }  
                .btn-bordergreen{
                    color: #6db72e;
                }
            } 
            @media #{$mobile}  {
                width:auto;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .home-public--types .home-public--pool-type .home-public--each-pool-type .each-pool-type--col2{
        width: 100%;
        text-align: center !important;
        margin-top: 15px;
        margin-bottom: -16px;
        padding: 0;
    }
    .home-public--types .home-public--pool-type .home-public--each-pool-type .each-pool-type--col1{
        width: 100%;
    }
}