@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/site_properties";
@import "../includes/footer";
@import "../includes/pool_create_sidebar";
@import "../includes/ad_block";
@import "../includes/twitter_block";
@import "../includes/pool_h2h";
@import "../includes/pagination";
.mypools{ 
    @include make-sm-column(8);
    .mypools--head2head > .row {
        .head2head--main-heading{
            @extend .heading;
            @extend .text-uppercase;
            margin: 0 auto 30px auto;
        } 
        .head2head--heading{
            @extend .darkgray;
            @extend .text-uppercase;
            margin: null null 5px null;
        }
        .head2head--heading-description{
            margin: 0;
            text-transform: capitalize;
            color: #0F6AAE;
            margin-top: 20px;
            a{
                font-size: 24px;
                font-weight: 300;   
            }
            a:nth-child(2){
                float: right;
                font-size: 16px;
            }
        }
    }
    .bggray{
        background-color: $background_lighter;
        color:$nav;
        position:relative;
        .img-div{
            width:11%;
            img{
                height:55px;
            }
        }
        .name-div{
            width: 29%;
            p{
                font-size: 16px;
                text-transform: uppercase;
                margin: 0;
                font-weight: 600;
                padding: 16px 0px;
            }
        }
        .goal-div{
            width: 8%;
            text-align: center;
            p{
                margin: 0;
                font-size: 51px;
                font-weight: bold;
                line-height: 55px;
            }
        }
        .vs{
            width: 4%;
            text-align: center;
            float:left;
            p{
                background: white;
                border-radius: 100%;
                height: 30px;
                width: 30px;
                padding: 3px;
                margin-top: 14px;
                font-size: 16px;
                font-weight: bold;
            }
        }
    } 
    .draft{
        img{
            width: 100px;
            padding: 1px;
        }
        .text{
            display: inline-block;
        }
        .btn-backgreen{
            float: right;
            margin: 20px 10px 10px 0;
        }
    }
    .mypools--head2head{ 
        border-bottom: 1px solid $background_lighter;
        padding-bottom: 30px;
        padding-top: 50px;
        a{
            font-size: 16px;
        }
    }
    .twitter-feeds{
        .home-public--news{
            width: 100%; 
            margin-bottom: 70px;
            position :relative;
        }
        .replay{
            margin-top: 10px;
            input{
                height: 33px;
                width: 80%;
                margin-right: 4%;
                padding-left:5px;
                &:focus{
                    outline: 0;
                }
            }
            .btn-backgreen{
                padding: 4px 0;
                width: 15%;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .mypools{
        .rankdiv{
            .rank{
                width: 12%;
                font-size: 45px;
                line-height: 53px;
                text-align: center;
                font-weight: bold;
                p{
                    margin : 0;
                    sup{
                        font-size: 21px;
                        font-weight: 500;
                        top: -15px;
                    }
                }
            }
            .img-div{
                width: 11%;
            }
            .name-div.big{
                width: 62%;
                border-right: 2px solid $white;
                span{
                    margin-left: 13px;
                    color:$background_dark;
                }
            }
            .right-div{
                width:15%;
                p{
                    margin : 0px;
                    text-align: center;
                    font-size: 36px;
                    margin: 0;
                    font-weight: 500;
                    color:$maroon;
                    .arrow-down {
                        width: 0;
                        height: 16px;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 10px solid $maroon;
                        display: inline-block;
                        margin-right: 6px;
                    }
                }
            }
            .bottom_div{
                width: 100%;
                float: left;
                border-top:2px solid $white;
                .width10{
                    width:10%;
                    float: left;
                    padding: 3px 4px;
                    .circular{
                        background: $white;
                        border-radius: 100%;
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        text-align: center;
                        font-size: 11px;
                        font-weight: 800;
                        margin-top: 3px;
                        float: left;
                        margin-right: 5px;
                    }
                    .score{
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 800;
                        float: left;
                        color:$background_dark;
                    }
                }
            }
        }
        .rev768{
            float:left;
            width:50%;
            .pull-left{
                float: right !important;
            }
            .pull-right{
                float: left !important;
            }
            .text-left{
                text-align: right !important;
            }
            .text-right{
                text-align: left !important;
            }
            .pl10{
                padding-left: 0;
                padding-right: 10px;
            }
            .pr10{
                padding-left: 10px;
                padding-right: 0px;
            }
            .name-div{
                width: 58%;
                p{
                    padding: 10px 0 0 0;
                }
                span{
                    color: $background_dark;
                    font-size: 13px;
                }
            }
            .img-div{
                width: 22%;
            }
            .goal-div{
                width:16%;
            }
            &.bleft{
                border-left: 1px solid $white;
            }
            &.bright{
                border-right: 1px solid $white;
            }

        }
        .vs{
            width: 8% !important;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0%);
            p{
                margin: auto;
                margin-top: 14px;
            }
        }
        .btm{
            width :100%;
            float: left;
            border: 2px solid $background_lighter;
            margin-top: 2px;
            background:$white;
            .width10{
                width: 10%;
                float: left;
                position:relative;
                border-right:2px solid $background_lighter;
                &:last-child{
                    border-right:0;
                }
                p{
                    margin: 0;
                    font-weight: 600;
                    font-size: 16px;
                    text-align:center; 
                }
                span{
                    position: absolute;
                    top:3px;
                    left: 3px;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background: $main_action;
                    &.red{
                        background: $maroon;
                    }
                    &.gray{
                        background: $light-grey;
                    }
                }
            }
        }
        /*        .leading-losing{
                    .circle{
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                        display: inline-block;
                        margin-right: 2px;
                        &.maroon{
                            background: $maroon;
                        }
                        &.green{
                            background: $main_action;
                        }
                        &.gray{
                            background: $light-grey;
                        }
                    }
                    span{
                        font-size: 10px;
                        text-transform: uppercase;
                        margin-right: 15px;
                    }
                }*/
    }
}
@media screen and (max-width: 400px) {
    .container{
        padding: 0px;
    }
    .mypools{
        .rankdiv{
            .rank{
                width: 25%;
            }
            .img-div{
                width: 18%;
            }
            .name-div.big{
                width: 37%;
                border-right: 0;
                p{
                    padding:0;
                    margin-top: 6px;
                    span{
                        display: none;
                    }
                }
            }
            .right-div{
                width: 20%;
                p{
                    font-size: 27px;
                    margin-top: 8px;
                    line-height:21px;
                    span.visible-xxs{
                        color:$background_dark;
                        font-size: 16px;
                    }
                    .arrow-down{
                        height: 12px;
                    }
                }
            }
            .bottom_div{
                .width10{
                    width: 20%;
                }
            }
        }
        .rev768{
            width:100%;
            border:0 !important;
            &.bright,&.bleft{
                border-bottom: 2px solid $white!important;
            }
            .pull-left{
                float: left!important;
            }
            .text-left{
                text-align: left !important;
            }
            .pl10,.pr10{
                padding-right: 0;
                padding-left: 10px;
            }
        }
        .vs{
            left: 10.5%;
            transform: translate(-50%, -0%);
            top: 26px;
        }
        .btm{
            border-bottom:0;
            margin-top:  0;
            .width10{
                width: 20%;
                border-bottom:2px solid #D2D7DA;
                &:nth-child(5n){
                    border-right: 0;
                }
            }
        }
        .btndiv{
            .pull-right{
                float: none !important;
                text-align: center;
                .mr15,.bggreen{
                    margin: 4px;
                }
            }
        }
        .heading,p.darkgray,.smallheading{
            padding-left: 15px;
        }
        .heading{
            margin-bottom: 20px;
        }
        .paginationdiv{
            margin-left: 15px;
            margin-right: 15px;
        }
        .mypools--head2head{ 
            padding-top: 20px;
        }
    }
}
#pool-right-header-outer{
    .pools--h2h {
        margin-bottom: 15px;
    }
}
.no-result-present{
    display: none;
    margin-bottom: 25px;
    a{
        font-size: 18px;
        color: #31708f;
        text-decoration: underline;
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content ,.adblocks{
    opacity:0;
}
//END Loader
@media screen and (max-width: 768px) {
    .mypools-container{
        padding: 0;
    }
    #pool--content{
        margin: 0 15px;
    }
}
#get-pool-link{
    border: 0;
    width: auto;
    padding: 0;
    margin: 0;
}
.post-pagination{
    transition: all 0.5s ease;
    .pagination-child{
        width: auto;
    }
}
#pool-destroy{
    margin-right: 10px;
    padding: 6px 15px;
    float: right;
    font-size: 16px;
}