@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";

.add__setup--content{
    border: 1px solid #e5e9ea;
    border-bottom: 0;
    padding: 25px;
    position: relative;
    width: 100%;
    float: left;
    @media(max-width:500px){
        border: 0 !important;
        padding: 0 !important;
    }
    .select__players--drop{
        @include make-sm-column(12);
        width: 100%;
        float: left;
        padding: 0;
        p{
            margin-bottom: 25px;
            margin-top: 0px;
        }
        p.pool--main-heading{
            margin-top: 30px;
        }
        .roster__table{
            .table{
                @include make-sm-column(6);
                padding: 0;
            }
        }
        .roster__size{
            @include make-sm-column(6);
            @media screen and (max-width: 768px) {
                padding: 0;
                width: 100%;
                float: left;
            }
            .pool--main-heading{
                margin: 0px;
                p{
                    padding-left: 25px;
                    margin-bottom: 15px;
                    @media screen and (max-width: 768px) {
                        padding-left: 0;
                    }
                }
                @media screen and (max-width: 991px) {
                    font-size: 25px;
                }
            }
            .list-inline{
                margin-left: 0px;
                padding-left: 25px;
                @media screen and (max-width: 768px) {
                    padding-left: 0;
                }
                li{
                    a{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .players__added{
        margin:15px 0;
        float: left;
    }
    .pool--main-heading{
        float: left;
        width: 100%;
    }
    .custom-checkbox{
        width: 100%;
        position: relative;
        margin: auto;
        text-align: center;
        input{
            width:0;
        }
        label{
            left: 50%;
            transform: translate(-50%,0);
            cursor: pointer;
        }
    }
    .table{
        &.light-grey-table{
            margin-bottom: 20px;
        }
        .gray-row{
            background-color: $background_lightest;
        }
    }
     #all-players-outer{
        .player-deleted, .player-traded{
            td:nth-child(1){
                opacity: 0;
            }
        }
    }
}
.ad-small-block{
    margin-bottom:70px;
}
.small-grey-title{
    color: #516a73;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
@media(max-width:500px){
    #pool--content {
        padding: 0 !important;
    }
}
//END Loader
//Go to add confirmation page class
.player__action{
    text-align:center;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    p{
        margin-bottom: 15px;
    }
    .list-inline { 
        li{
            min-width:120px;
            a{
                width:100%;
            }
        }
    }
}
.select__players--confirmation, .player__action{
    display:none;
}
.select__players--confirmation{
    p{
        margin-bottom: 10px;
    }
    .pool--main-heading{
        width: 100%;
        float: left;
    }
}
//END Go to add confirmation page class
#my-team-head{
    float: left;
    width: 100%;
}
#add-player-list span, #drop-player-list span{
    overflow: hidden;
    display: inline-block;
    text-indent: -7px;
    vertical-align: bottom;
}
.add-confirmation{
    #rosters-players{
        th:first-child{
            display:none;
        }
        .pool-player{
            display:none;
            &.drop-player{
                display: table-row;
                @media screen and (max-width: 768px) {
                    display: inline-block;
                }
            }
            td:first-child{
                display:none;
            }
        }
    }
    #rosters-goalies{
        th:first-child{
            display:none;
        }
        .pool-goalie{
            display:none;
            &.drop-player{
                display: table-row;
                @media screen and (max-width: 768px) {
                    display: inline-block;
                }
            }
            td:first-child{
                display:none;
            }
        }
    }
    .select__players--drop, .color-explain ,.players--drop{
        display:none;
    }
    .select__players--confirmation, .player__action{
        display:block;
    }
}
@media screen and (max-width: 500px) {
    .setup_container{
        padding: 0 15px;
    }
}
