@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pool_h2h";
@import "../includes/pool_name_header";
@import "../includes/ad_block";

.draft-results-container{
    @include make-sm-column(12);
    float: left;
    padding: 0;
    border: 1px solid #e5e9ea;
    border-bottom: 0;
    padding: 25px;
    .draft-results{ 
        @include make-sm-column(12);
        padding:0;
        .draft-rounds{
            margin-bottom: 35px;
            padding-left: 0;
        }
    }
    .draft-rounds {
        .light-grey-table{
            th:nth-child(3){
                width:250px;
            }
        }
    }
}
.box-score{
    width:100%;
    float:left;
    position: relative;
    border-top: 0;
    margin-top: -25px;
    .box-score-single{
        @include make-sm-column(6);
        padding: 0px 15px 30px 15px;
        .light-grey-table{
            th:nth-child(n+2){
                width:100px;
            }
        }
    }
    .custom-checkbox input[type=checkbox]{
        width:0;
    }
}
#draft-results-all{
    padding:0;
}
.light-grey-table.table{
    td:nth-child(2){
        text-transform: capitalize; 
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
}
//END Loader
@media screen and (max-width: 768px) { 
    .light-grey-table.table tr th{
        height: 42px;
    }
    .draft-results-container .draft-rounds .light-grey-table th:nth-child(3){
        width:auto;
    }
    .flip-scroll-table tbody tr{
        &:last-child{
            border-right: 1px solid #babcbf;
        }
    }
    .pool--main-heading{
        width:100%;
        float:left;
    }
    .draft-results-container .draft-results .draft-rounds{
        margin-bottom: 0px;
    }
    #draft-results-all {
        float: left;
        width: 100%;
    }
    .box-score{
        #box-score-all{
            margin:0px;
        }
        .box-score-single{
            padding: 0 0 20px 0;  
            .light-grey-table th:nth-child(n+2){
                width: 49px;
            }
        } 
    }
    .ad-small-block{
        padding: 0 15px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px) { 
    #pool--content{ 
        padding: 0;
    }
    .box-score{
        padding: 25px 15px 0 15px !important;
        margin-top: 0;
    }
    #draft-results-all{
        padding: 0 15px;
    }
}