@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/twitter_block";
@import "../includes/ad_block";
.edit-pool-content{
    @include make-sm-column(8);
    padding-left: 0;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    form{ 
        @include make-sm-column(12);
        padding: 0;
        .form-field{
            @include make-sm-column(12);
            padding: 0;
            margin-bottom: 15px;
        }
        label{
            @include make-sm-column(4);
            padding: 0;
            font-weight: 300;
            font-size: 16px;
            color:$light-grey;
        }
        .input-field{
            @include make-sm-column(8);
            padding-right: 0;
            padding-left: 0;
            @media (min-width:768px){
                padding-left:10px;
            }
        }
        .field{
            padding: 0;
            height: 36px;
            padding-left: 10px;
            font-size: 15px;
            color: $black;
            width: 100%;
        }
        input{
            &:focus{
                outline: none;
            } 
        }
    }
    .btn-backgreen{
        float:right;
    }
    .submit-btn{
        float: right;
        .fa{
            display:none;
            .fa-arrow-circle-o-right{
                display: block;
            }
        }
        &.active{
            opacity: 0.7;
            .fa{
                display: inline-block;
                font-size: 25px;
                margin-left: 10px;
                vertical-align: middle;
                line-height: 17px;
                margin-top: -3px;
            }
        }
    } 
}
.pool--content{
    @include make-sm-column(12);
    border: 1px solid $background_lightest; 
    border-bottom: 0;
    padding: 25px 25px 0 25px;
}
#pool--content{
    padding: 0px 15px;
}
.adblocks{
    position:relative;
}
.pool--main-heading{
    width:100%;
    float:left;
}
@media screen and (max-width: 991px) { 
    .edit-pool-content, .pool--content{
        width:100%;
        float:left;
    }
    .edit-pool-content{
        padding-right: 0;
    }
    .adblocks{
        position:relative;
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .adblocks{
        margin: 20px 0;
        padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .edit-pool-content{
        padding: 0 15px;
    }
}
