@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/team_records";
@import "../includes/player_news";
@import "../includes/pool_h2h";
.pool--content{
    @include make-sm-column(12); 
    border: 1px solid $background_lightest;
    padding: 25px;
    width: 100%;
    float: left;
}
.in-action-tonight>.pool--main-heading{
    width:100%;
    float:left;
}
.in-action-tonight-container{
    @include make-sm-column(12);
    padding: 0;
    width:100%;
    float:left;
}
.in-action-tonight{ 
    @include make-sm-column(8);
    padding-left: 0;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    @media #{$mobile} {
        padding-right: 0;
    }
    /*All teams*/
    .all-teams{
        margin-top: 15px;
        .each-team{
            color: #0F6AAE;
            width: 100%;
            float: left;
            background-color: #D2D7DA;
            padding: 2px;
            margin-bottom: 15px;
            .team-name{
                float: left;
                img{
                    max-width: 80px;
                }
                span{
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 33px;
                    vertical-align: middle;
                    padding-left: 15px;
                    @media #{$mobile} {
                        padding-left: 2px;
                    }
                }
            }
            .goal{
                margin: 0;
                font-size: 51px;
                font-weight: bold;
                line-height: 55px;
                float: right;
                padding-right: 42px;
                @media #{$mobile} {
                    padding-right: 0;
                }
            }
        }
    }
    /*END All teams*/

    .team--name{
        margin: 30px 0 20px 0;
        img{
            max-width: 80px;
        }
        .pool--main-heading {
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            line-height: 29px;
            padding-left: 15px;
            text-transform: capitalize;
        }
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
.adblocks{
    position: relative;
}
//END Loader
/*@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:15px !important;
    }
    #pool--content{
        padding: 0px;
    }
    #pool-left-header-outer{
        margin-top: -15px;
    }
}*/
@media screen and (max-width: 991px) { 
    .in-action-tonight,.pool--content{
        width:100%;
        float:left;
    }
    .in-action-tonight{
        padding-right: 0;
    }
    .adblocks{
        position:relative;
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .adblocks{
        margin: 20px 0;
        padding: 0 30px;
    }
    .light-grey-table.table{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .in-action-tonight{
        padding: 0 15px;
    }
}