@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pool_h2h";
@import "../includes/pool_name_header";
@import "../includes/league_nav";
@import "../includes/pagination";
@import "../includes/ad_block";
@import "../common_k";

.league-leaders-conatiner{
    width: 100%;
    float: left;
    padding: 0;
    position: relative;
    .light-grey-table.table tr th{
        padding-right:15px;
    }
    .head-arrow tr th span{
        right:3px;
    }
    .league-leaders{
        @include make-sm-column(12);
        padding: 0;
        margin-bottom:70px;
        .league-leaders-header{
            @include make-sm-column(12);
            padding: 0;
            padding: 0;
            .pool--main-heading{
                text-transform: capitalize;
                margin: 25px 0 15px 0;
            }
            .pool-name-right{
                float: right;
                color: #0F6AAE;
                margin-top: 14px;
                font-size: 14px;
                text-transform: capitalize;
            }
            ul{
                list-style:none;
                &.league_position{
                    @include make-sm-column(12);
                    padding: 0;
                    margin-bottom: 5px;
                    li{
                        .selectboxit-container .selectboxit{
                            background-color: #fff;
                            color:$pagination-color;
                        }
                        .selectboxit-container .selectboxit-arrow-container .selectboxit-default-arrow{
                            border-top:7px solid $pagination-color;
                        }
                        .selectboxit-container .selectboxit-arrow-container:after{
                            border-bottom:7px solid $pagination-color;
                        }
                        .selectboxit-container .selectboxit-options a{
                            font-size: 14px;
                        }

                    }
                }
            }
            .league-standings{
                width:100%;
                float:left;
                ul{
                    width:100%;
                    float:left;
                    list-style: none;
                    padding: 0;
                    margin-bottom: 15px;
                    li{
                        border: 1px solid $black;
                        text-align: center;
                        float: left;
                        border: 1px solid $background_lighter;
                        box-shadow: inset 0 0 2px 0px $background_lighter;
                        @media screen and (max-width:500px) {
                            width: calc(25% - 2px) !important;
                        }
                        a{
                            padding: 10px 0;
                            width: 100%;
                            float: left;
                            color:$black;
                            &:hover{
                                color:$blue-text;
                            }
                            &:focus{
                                color:$blue-text;
                            }
                            &.active{
                                background-color: $nav;
                                color:$white;
                            }
                        }
                    }
                }
            }
        }
        /*league-header ends*/

        /*league-pagination*/
        .league-leaders-pagination{
            width:100%;
            float:left;
            padding: 8px;
            text-align: right;
            a{
                color:$black;
                text-decoration:none;
                &:after{
                    content: '';
                    border-left: 1px solid $light-grey;
                    margin: 0px 10px;
                    font-size: 10px;
                }
                &:last-child{
                    &:after{
                        content: '';
                        border:none;
                        margin:0px 10px;
                    }
                }
            }
            a:hover{
                color:$blue-text;
            }
        }
        /*league-pagination*/
    }
}
.tcell{
    display: table-cell !important;
}
@media screen and (max-width: 768px) {
    .league-leaders-conatiner .league-leaders{
        float: left;
        width: 100%;
        @media screen and (max-width:500px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .league-leaders-header{
            float: left;
            width: 100%;
        }
    }
}
th.asc span {
    transform: rotate(180deg);
}
#main-table{
    th:nth-child(n+5),tr td:nth-child(n+5){
        width:130px;
    }
}
#main-table.displayfirst{
    th:nth-child(n+5),tr td:nth-child(n+5){
        display:none;
    }
    th:nth-child(5),tr td:nth-child(5){
        display: table-cell;
    }
}
#main-table.displaysecond{
    th:nth-child(n+5),tr td:nth-child(n+5){
        display:none;
    }
    th:nth-child(6),tr td:nth-child(6){
        display: table-cell;
    }
}
#main-table.displaythird{
    th:nth-child(n+5),tr td:nth-child(n+5){
        display:none;
    }
    th:nth-child(7),tr td:nth-child(7){
        display: table-cell;
    }
}
#main-table.displayfourth{
    th:nth-child(n+5),tr td:nth-child(n+5){
        display:none;
    }
    th:nth-child(8),tr td:nth-child(8){
        display: table-cell;
    }
}
#main-table.displayfifth{
    th:nth-child(n+5),tr td:nth-child(n+5){
        display:none;
    }
    th:nth-child(9),tr td:nth-child(9){
        display: table-cell;
    }
}
#main-table.displaysixth{
    th:nth-child(n+5),tr td:nth-child(n+5){
        display:none;
    }
    th:nth-child(10),tr td:nth-child(10){
        display: table-cell;
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
@media screen and (max-width:500px) {
    #pool--content{
        padding:0 !important;
    }
    #main-table th:nth-child(n+5), #main-table tr td:nth-child(n+5){
        width: auto;
    }
    .league-leaders-conatiner .league-leaders .league-leaders-header ul.league_position li .selectboxit-container{
        width: 100% !important;
        .selectboxit{
            width: 100% !important;
        }
        .selectboxit-options {
            width: 100% !important;
        }
    }
}