@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
.pool--content{
    @include make-sm-column(12);
    border: 1px solid $background_lightest; 
    padding: 25px;
    width: 100%;
    float: left;
}
.live-stats-container{
    @include make-sm-column(12);
    @include make-xs-column(12);
    padding: 0;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    .team--name{
        margin: 30px 0 20px 0;
        img{
            max-width: 80px;
        }
        .pool--main-heading {
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            line-height: 29px;
            padding-left: 15px;
            text-transform: capitalize;
        }
    }
    #live-stats-head-outer{
        table{
            thead{
                th:first-child{
                    p{
                        display:inline;
                        margin:0;
                    }
                }
            }
            margin-bottom: 15px;
            tr{
                td:first-child{
                    text-transform: capitalize;
                }
            }
        }
    }

}
.light-grey-table.table {
    margin-bottom: 20px;
}
//Loader 
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
@media screen and (max-width: 768px) {
    #live-stats-head-template table th span{
        display: none;
    }
    #each-teams-outer table{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .live-stats-container{
        padding: 0 15px;
    }
}