@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/pool_slider";
.pool--content{
    @include make-sm-column(12);
    border: 1px solid $background_lightest; 
    border-bottom: 0;
    padding: 25px;
    padding-bottom: 0;
}
.pool-overview-container{
    @include make-sm-column(12);
    padding: 0;
}
.pool-overview{ 
    @include make-sm-column(12);
    padding-left: 0;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    #pools-h2h-outer{
        .pools--h2h{
            &:first-child{
                margin-top: 15px;
            }
            .bottom{
                .width10:after{
                    display: none;
                }
            }
        }
    }
    .ad-small-block{
        margin-top: 25px;
    }
}
.no-result-present{
    margin-bottom: 30px;
}
.pool--main-heading{
    width:100%;
    float:left;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
.adblocks{
    position:relative;
}
//END Loader
@media screen and (max-width: 991px) { 
    .pool-overview,.pool--content{
        width:100%;
        float:left;
    }
    .pool-overview{
        padding-right: 0;
    }
    .adblocks{
        position:relative;
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .adblocks{
        margin: 20px 0;
        padding: 0 30px;
    }
    #league-feed th{
        padding: 10px 8px !important;
    }
}

@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .pool-overview{
        padding: 0 15px;
    }
}
//Week select
.season-week-outer{
    margin-top: 20px;
    width: 100%;
    float: left;
    .selectboxit-container{
        .selectboxit{
            width: 296px !important;
        }
        .selectboxit-text{
            max-width: 296px !important;
            text-transform: capitalize;
        }
        .selectboxit-options{
            width: 296px !important;
            a{
                text-transform: capitalize;
            }
        }
        span{
            height: 40px;
            line-height: 38px;
            font-size: 21px;
            font-weight: 300;
            font-family: "Titillium Web",sans-serif;
        }
        .selectboxit-default-arrow {
            top: 21px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 9px solid #fff;
        }
        .selectboxit-arrow-container:after{
            top: 8px;
            border-bottom: 9px solid #fff;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
}
@media (max-width:500px){
    .season-week-outer{
        .selectboxit-container{
            width: 100%;
            .selectboxit{
                width: 100% !important;
            }
            .selectboxit-text{
                max-width: 100% !important;
            }
            .selectboxit-options{
                width: 100% !important;
            }
        }
    }
}
//END Week select
//pool-h2h-full-width css
@media (min-width:1200px){
    .pool-h2h-full-width{
        .upper{
            .right .name-div, .left .name-div{
                padding-top: 11px;
            }
            .goal-div{
                padding-top: 15px;
            }
            .vs p{
                margin-top: 29px;
            }
        }
    }
}
@media (min-width:991px) and (max-width:1200px){
    .pool-h2h-full-width{
        .upper{
            .right .name-div, .left .name-div{
                padding-top: 4px;
            }
            .goal-div{
                padding-top: 5px;
            }
            .vs p{
                margin-top: 20px;
            }
        }
    }
}
@media (min-width:768px) and (max-width:991px){
    .pool-h2h-full-width{
        .upper{
            .right .name-div, .left .name-div{
                padding-top: 0px;
                margin-top: -3px;
            }
            .goal-div{
                padding-top: 0;
            }
            .vs p{
                margin-top: 14px;
            }
        }
    }
}
//END pool-h2h-full-width css