@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pool_h2h";
@import "../includes/pool_name_header";
@import "../includes/pool_slider";
@import "../includes/ad_block";

/*pools--h2h*/
#pool-h2h-all{
    margin-top: 5px;
}
/*matchup-slider*/
.pool--content{
    @include make-sm-column(12);
    @include make-xs-column(12);
    border: 1px solid $background_lightest; 
    border-bottom: 0;
    padding: 25px;
    float: left;
}
/*editing pools--h2h*/
@media screen and (min-width: 1200px){
    .matchup-individual-container{
        .pools--h2h{
            .upper{
                .name-div{
                    p{
                        padding: 20px 0 0 0;
                        .account_name{
                            text-transform: none;
                            margin-bottom: 5px;
                            margin-top: 1px;
                        }
                    }
                }
                .right,.left{
                    .goal-div{
                        padding-top: 15px;
                    }
                }
                .vs{
                    top: 50%;
                    transform: translate(-50%, -50%);
                    p{
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
#team-table-all{
    width:100%;
    float:left;
}
.pools--h2h .upper .name-div span{
    text-transform: none;
}
@media screen and (min-width:768px) and (max-width: 991px){
    .pools--h2h .upper .name-div p{
        padding: 5px 0 0 0;
    }

}
@media screen and (min-width: 768px) {
    .team-scores-mobile,.matchup--today-mobile,.team-table-outer-mobile{
        display:none;
    }
}
@media screen and (max-width: 768px) {
    #slider-all,#pool-h2h-all .upper,#matchup-all .table-matchup,#matchup-all .goalies,#team-table-outer{
        display:none;
    }
    .team-scores-mobile{
        width:100%;
        float:left;
        margin: 10px 0px;
        background-color:$background_lighter;
        .left-team,.right-team{
            width:50%;
            float:left;
            color:$nav;
            .team-name{
                width:77%;
                float:left;
                p{
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin: 0px;
                    padding: 5px;
                    text-align:center;
                    line-height: 15px;
                }
                img{
                    width: 70px;
                    margin: auto;
                    padding-bottom: 7px;
                }
            }
            .team-score{
                width:23%;
                float:left;
                text-align:center;
                p{
                    font-size: 44px;
                    font-weight: bold;
                    line-height: 71px;
                }
            }
        }
    }
    .matchup--today-mobile{
        width:100%;
        float:left;
        margin: 0;
        border-left: 1px solid $background_dark;
        border-right: 1px solid $background_dark;
        .left-team,.right-team{
            width:45%;
            float:left;
            .player-details{
                height: 54px;
                border-bottom: 1px solid $background_dark;
                padding:8px;
                .player-name{
                    font-size: 18px;
                    text-transform: capitalize;
                    font-weight: 600;
                    margin: 0px;
                    line-height: 15px;
                    height: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                p{
                    margin: 0px;
                }
                span{
                    font-size: 13px;
                    margin-top: 3px;
                    display: inline-block;
                    &:after{
                        content: ',';

                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
        .center-div{
            width:10%;
            float:left;
            text-align:center;
            p{
                background-color:$background_lighter;
                border: 1px solid $background_dark;
                border-top: 0;
                font-size: 24px;
                font-weight: bold;
                line-height: 23px;
                margin: 0;
                padding: 15px 0px;
                height: 54px;
                box-sizing: border-box;
            }
        }
    }
    .team-table-outer-mobile{
        width:100%;
        float:left;
        .team-name{
            width:15%;
            float:left;
            border-top:40px solid $background_lighter;
            p{
                line-height: 37px;
                border: 1px solid $background_lighter;
                border-top: 0;
                border-right: 0;
                height: 38px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 5px;
            }
        }        
        .team-score{
            width:70%;
            float:left;
            overflow: hidden;
            thead{
                background-color: $background_lighter;
            }
            table{
                td,th{
                    text-align: center;
                }
            }
        }
        .arrow-right{
            width:15%;
            float:left;
            background-color: $background_dark;
            height:116px;
            position: relative;
            cursor:pointer;
            span{
                display: block;
                height: 16px;
                width: 20px;
                transform: rotate(270deg);
                background-image: url("../../img/graphics.png");
                background-position: 300px -80px;
                position: absolute;
                top: 50%;
                left: 50%; 
                margin-left: -10px;
                margin-top: -8px;
            }
        }
    }
}
/*end editing pools--h2h*/
/*slider*/

/*slider*/
.goalies{
    width:100%;
    float:left;
    table{
        width:50%;
        float:left;
        &:nth-child(odd){
            border-right: 6px solid $white;
        }
        &:nth-child(even){
            border-left: 6px solid $white;
        }
    }
}
/*matchup-slider ends*/
.matchup--day{
    @include make-sm-column(12);
    padding: 0;
    margin-bottom: 25px;
    ul{
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        li{
            position: relative;
            width: 49.5%;
            text-align: center;
            padding: 0;
            border: 1px solid #D2D7DA;
            box-shadow: inset 0 0 2px 0px #D2D7DA;
            font-size: 17px;
            font-weight: 600;
            &.active{
                background:$dark-grey;
                box-shadow: none;
                border: 1px solid $dark-grey;
                .bottom-shadow{
                    width: 0;
                    height: 0;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-top: 7px solid #6f838b;
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    z-index: 5;
                    transform: rotate(0deg);
                    box-shadow: none;
                    margin-left: -10.5px;
                }
                a{
                    padding: 11px 0;
                    color: $white;
                    text-decoration: none;
                    &:focus{
                        text-decoration: none;
                    }
                }
            }
            .bottom-shadow{
                display: inline-block;
                width: 100%;
                height: 8px;
                margin: 0;
                float: left;
                box-shadow: inset 0 8px 6px -4px #D2D7DA;
                transform: rotate(180deg);
            }
            a{
                display: inline-block;
                padding: 11px 10px 3px 10px;
                width: 100%;
            }
            &:first-child{
                float: left;
            }
            &:last-child{
                float: right;
            }
        }
    }
    td.total_points{
        background-color: #efbe00 !important;        
    }
    .matchup--today{
        @include make-sm-column(12);
        padding: 0;
    }
    .matchup--week{
        @include make-sm-column(12);
        padding: 0;
        display:none;
    }
    .table-matchup{
        @include make-sm-column(6);
        padding: 0;
        table{
            &.light-grey-table{
                &.table{
                    margin-top: 20px;
                }
            }
        }
        &:nth-child(odd){
            padding-right: 6px;
            @media screen and (max-width: 768px) { 
                padding-right: 0;
            }
        }
        &:nth-child(even){
            padding-left: 6px;
            @media screen and (max-width: 768px) { 
                padding-left: 0;
            }
        }
    }
    p{
        margin: 15px 0;
    }
}
.table-matchup th.total_points,.goalies th.total_points{ 
    width: 70px;
}
#team-table{
    tr{
        td:first-child{
            text-transform: capitalize;
        }
    }
}
.three-ad-blocks{
    float: left;
    width: 100%; 
    .block-outer{
        @include make-sm-column(4);
        padding: 0 30px;
    }
    margin-bottom: 45px;
}
.teamPlayerHeading{
    border-bottom: 1px solid #fff !important;
    th:first-child{
        background-color: #fff !important;
    }
    th:nth-child(2){
        text-align: center;
        border-right: 1px solid #fff !important;
    }
    th:nth-child(3){
        text-align: center;
    }
    th:last-child{
        background-color: #fff !important;
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
@media screen and (max-width: 768px) { 
    .goalies table{
        width:100%;
        border:0px !important;
    }
    #matchup-all{
        width:100%;
        float:left;
    }
}
@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .matchup-individual-container{
        padding: 0 15px;
    }
}