@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/league_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h"; 
.mypool-teams{
    .table{
        tr{
            th{
                border-right: 1px solid $dark-grey !important;
                text-align: center;
                border-bottom:1px solid $light-grey;
                font-weight: 600;
                &:first-child{
                    text-align: left;
                }
            }
            td:first-child{
                padding: 0px;
            }
            td{
                font-size: 14px;
                color:$background_dark;
                border: 1px solid #dfe3e2;
                padding: 7px 10px;
                font-weight: 600;
                .fa{
                    float: right;
                    color: $mustard;
                    font-size: 21px;
                    margin-top: 0px;
                }
            }
        }
        .sub-header{
            background-color: #f2f2f2;
            td:first-child{
                width: 68px;
                padding: 7px 10px !important;
            }
            td{
                color:$background_dark;
                font-weight: 600;
                border: 1px solid #dfe3e2;
                padding: 7px 10px;
                font-size: 16px;
            }
        }
        .status-mover{
            border-radius: 2px;
            padding: 3px 10px;
            text-transform: uppercase;
            display: inline-block;
            text-align: center;
            text-decoration: none !important;
            color: #fff;
            border: 1px solid #6db72e;
            background: #6db72e;
            background-image: linear-gradient(to bottom, #6db72e, #58a81e);
            border-bottom: 2px solid #438627;
            outline: none;
            font-size: 16px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
            margin: 2px 5px;
            cursor: pointer;
            width: 47px;
        }
        .total_row{
            td:first-child{
                padding: 7px 10px !important;
            }
            td{
                background-color: $live_status;
                text-transform:uppercase;
                font-size: 16px;
                color:$brand_bg;
                .total-pool-points{
                    background-color: $brand_bg;
                    color:$white;
                }
            }
        }
        td.no-result-present{
            padding: 7px 10px !important;
        }
        .red-list,.red-warning{
            float: right;
        }
    }
    .gray-table{
        tbody{
            tr{
                opacity: 0.2;
            }
            .gray-row{
                background-color: #d4ecd4;
                opacity: 1;
            }
        }
    }
}
.pool--content{
    border: 1px solid $background_lightest;
    padding: 25px 25px 17px 25px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
    position: relative;
    /*changing element's css'*/
    /*    .matchup{
            float:left;
            padding-left: 15px;
            .head{
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
            }
        }
        .action-footer{
            width: 100%;
            float: left;
            padding: 15px 0 0 0;
            margin: 20px 0 0 0;
            border-top: 1px solid $background_lightest;
            .pool-action{
                float:left;
            }
        }
        .totals{
            float:right;
            span.label{
                text-transform: uppercase;
                font-size: 17px;
                font-weight: normal;
                padding-top: 8px;
                display: inline-block;
                color:$background_dark;
            }
        } */
    /*end changing element's css'*/
}
.team-datepicker{
    background: #fff !important;
    #team-datepicker{
        height: 41px;
        outline: none;
        padding-left: 10px;
        color: #0F6AAE;
        border: 0;
        z-index: 2;
        width: 100%;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .input-group-addon{
        padding: 9px;
        position: absolute;
        right: 0;
        top: 0;
        width: 44px;
        bottom: 0;
        background: #0F6AAE;
        color: white;
        border: 0;
        border-radius: 0;
        .fa{
            font-size: 23px;
        }
    }
}
.graphics.list{
    width:15px;
    height:15px;
}
.team-feed-bg{
    @include make-sm-column(8);
    background-color: $background_dark;
    height:60px;
}
.team-feeds{
    @include make-sm-column(7);
    .single-team-feed{
        width:100%;
        float:left;
    }
    .team-feed-heading{
        margin-top: -60px;
        height: 60px;
        padding: 12px 0;
        color: $white;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 300;
        position:relative;
    }
    .arrow-down{
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 7px solid $background_dark;
    }
    .pool--main-heading{
        margin-bottom:0;
        position:relative;
        .list-element{
            position: absolute;
            width: 200px;
            height: 4px;
            background-color: $background_lightest;
            left: -215px;
            top: 14px;
        }
        .date{
            font-size: 15px;
            margin-top: 13px;
            color: $background_dark;
            float:right;
        }
    }
    .sub-feed-heading{
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 3px;
        color:$background_dark;
    }
    .main-text{
        color:$background_dark;
        max-width: 550px;
    }
    .team-feed-comments{
        float: left;
        margin: 40px 0px;
        position: relative;
        width: 100%;
        .player-img{
            float:left;
            margin-right: 20px;
            position: absolute;
            img{
                width: 50px;
                height:50px;
                border-radius: 50%;
                border: 2px solid $nav;
            }
        }
        .main-text{
            max-width: 455px;    
        }
        .player-comment{
            float: left;
            width: 100%;
            padding-left: 70px;
            h3{
                margin:0;
                color:$nav;
                font-size: 17px;
                margin-top: 10px;
                .date{
                    font-size: 15px;
                    margin-top: 2px;
                    color: $background_dark;
                    float:right;
                }
            }
            a{
                border-bottom: 1px solid $nav;
                line-height: 15px;
                display: inline-block;
            }
        }
    }

}
#all-players-outer{
    margin-bottom: -20px;
    width: 100%;
    float: left;
    table{
        margin-bottom: 20px;
    }
    .no-result-present{
        margin-bottom: 20px;
    }
}
.league-nav > ul{
    width: 100%;
    li{
        width: 16.66%;
    }
}
@media(max-width:991px){
    .league-nav > ul{
        li{
            width: 33.33%;
        }
    }
}
@media screen and (max-width: 768px){
    .league-nav > ul li {
        width: 50%;
    }
}
//Loader 
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
@media(max-width:768px){
    #rosters-players{
        thead{
            display: none;
        }
    }
    .mypool-teams .table .sub-header td, .mypool-teams .table tr td{
        border: 1px solid #dfe3e2;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
}
@media(max-width:500px){
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content {
        padding: 0 !important;
    }
    .pool-team-container{
        padding: 0 15px;
    }
}