@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";

.payment-content{
    @include make-md-column(11);
    @include make-sm-column(10);

    @media (min-width:991px) and (max-width:1122px){
        @include make-sm-column(10);
    }
    @media (min-width:768px) and (max-width:991px){
        @include make-sm-column(12);
    }
    @media (min-width:768px){
        float:none;
    }
    margin: auto;
    float:none;
    overflow: hidden;
    margin-bottom: 70px;
    margin-top: 30px;
    .payment-content--left{
        @include make-sm-column(6);
        padding:0;
        .premium-heading{
            background:$alert;
            color:$white;
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 300;
            padding:10px 10px 13px 15px;
            border-bottom: 5px solid $background_dark;
            -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.17);
            -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.17);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.17);
            .crown-icon{
                background-image: url("../../img/graphics.png");
                height: 55px;
                width: 55px;
                margin-right: 10px;
                background-position: -279px -316px;
                display: inline-block;
                vertical-align: bottom;
            }
            @media (min-width:990px) and (max-width:1200px){
                font-size: 30px;
            }
            @media (min-width:768px) and (max-width:990px){
                text-align: center;
                font-size: 27px;
            }
            @media (max-width:768px){
                font-size: 30px;
            }
        }
        .premium-description{
            padding: 0 20px;
            border: 1px solid $background_lightest;
            font-size: 16px;
            line-height: 24px;
            p{
                margin: 20px 0;
                b{
                    color:$alert;
                    font-weight: 600;
                }
            }
            h2{
                font-weight: 600;
                margin: 13px 0 18px 0;
            }
            .premium-price--rate{
                width:50%;
                float:left;
                font-size: 17px;
                padding: 18px 0px;
                border-top: 1px solid $background_lightest;
                border-bottom: 1px solid $background_lightest;
                text-align:center;
                &.btn-blue{
                    background: $nav;
                    border: 1px solid $nav;
                    text-transform: capitalize;
                    border-radius:0px;
                    b{
                        font-size: 28px;
                        vertical-align: bottom;
                    }
                }
            }
            a{
                &.btn-backgreen{
                    text-transform: uppercase;
                    width: 100%;
                    font-size: 22px;
                    padding: 20px 4px;
                    margin-top: 20px;
                    margin-bottom: 23px;
                    box-shadow: 0 5px 6px 0px rgba(210,215,218,0.7);
                }
            }
        }
    }
    .payment-content--right{
        @include make-sm-column(6);
        padding:0;
        margin-top: 80px;
        /*transform: translate(0,23%);*/
        ul{
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li{
                border-bottom: 1px solid #4086b9;
                border-top: 1px solid #064c7f;
                position:relative;
                div{
                    background: $nav;
                    text-transform: uppercase;
                    color: $white;
                    display: block;
                    padding: 22px 0px 22px 30px;
                    font-size: 22px;
                    text-align: left;
                    box-shadow: inset 10px 0px 10px 0px #0d5f9b;
                    span{
                        width: 15%;
                        float: left;
                        .fa-laptop{
                            font-size: 40px;
                            line-height: 13px;
                            vertical-align: middle;
                            margin-left: -6px;
                            margin-right: 10px;
                            @media (min-width:768px) and (max-width:991px){
                                margin-left: 6px;
                            }
                        }
                        .fa-mobile{
                            font-size: 48px;
                            line-height: 13px;
                            vertical-align: middle;
                            margin-left: 6px;
                        }
                        .fa-wifi{
                            font-size: 30px;
                            line-height: 13px;
                            vertical-align: middle;
                            margin-left: 1px;
                        }
                        .fa-user{
                            font-size: 34px; 
                            line-height: 13px;
                            vertical-align: middle;
                            margin-left: 4px;
                        }
                    }
                    @media (min-width:768px) and (max-width:990px){
                        text-align: center;
                        padding: 22px 12px;
                    }
                }
                &:first-child{
                    border-top: none;
                }
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        p{
            padding: 20px 0px;
            text-align: center;
            font-size: 13px;
        }
        @media (max-width:768px){
            margin-top: 0;
        }
    }
}
//draft-kit-content changes
.draft-kit-content{
    .payment-content--left {
        .premium-heading{
            font-size: 25px;
            padding-top: 21px;
            .crown-icon{
                margin-right: 3px;
                vertical-align: middle;
                margin-top: -7px;
            }
        }
        .premium-description .premium-price--rate{
            width: 100%;
        }
    }
    .payment-content--right ul li div{
        padding: 22px 0px 22px 25px;
        span{
            width: 8%;
        }
    }
    button.btn-backgreen{
        text-transform: uppercase;
        width: 100%;
        font-size: 22px;
        padding: 20px 4px;
        margin-top: 20px;
        margin-bottom: 23px;
        box-shadow: 0 5px 6px 0px rgba(210, 215, 218, 0.7);
    }
}
@media (max-width:400px){
    .payment-content .payment-content--left .premium-heading{
        font-size: 23px;
        padding-top: 20px;
        .crown-icon{
            vertical-align: middle;
            margin-top: -6px;
        }
        .hidden-xxs{
            display:none;
        }
    }
    .payment-content .payment-content--right ul li div{
        font-size: 15px;
        span{
            width: 40px;
        }
    }
}