@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/ad_block";
@import "../includes/league_nav";
@import "../includes/pool_h2h";
@import "../includes/pool_name_header";
@import "../includes/pagination";
.player-stats{ 
    .team-position{
        width: 100%;
        float: left;
        padding: 15px 0;
        p{
            padding: 10px 0;
        }
        .pool--main-heading{
            text-transform: capitalize;
            margin-top: 10px;
        }
        .search-bar{
            float: right;
            background-color: #fff;
            color: #0F6AAE;
            border: 1px solid #0F6AAE;
            padding-left: 10px;
            border-radius: 6px;
            height: 30px;
            min-width: 200px;
            outline: 0;
        }
        .selectboxit-container .selectboxit{
            background-color: #fff;
            color:$pagination-color;
        }
        .selectboxit-container .selectboxit-arrow-container .selectboxit-default-arrow{
            border-top:7px solid $pagination-color;
        }
        .selectboxit-container .selectboxit-arrow-container:after{
            border-bottom:7px solid $pagination-color;
        }
        .selectboxit-container .selectboxit-options a{
            font-size: 14px;
        }
        .white-small-select{
            #pool_teamsSelectBoxItContainer{
                margin-left: 20px;
            }
        }
    }
/*    .red-list,.red-warning{
        float:right; 
        margin-top: 0;
    }*/
    .add-btn{
        width:100%;
        float:left;
        padding:15px 0;
        border-top: 1px solid $background_lightest ;
    }
    #player-stats-all{
        td:nth-child(2){
            text-transform: capitalize;
        }
    }
    /*3 adblocks*/
    .ad-3-blocks{
        width:100%;
        float:left;
        padding: 30px 0 70px 0;
        .advert{
            @include make-sm-column(4); 
        }
    }
    .pool-name-right{
        float: right;
        color: #0F6AAE;
        margin-top: 14px;
        font-size: 14px;
        text-transform: capitalize;
    }
    img.team-logo {
        width:22px;
        height:22px;
        margin-right:5px; }
}
th.asc{
    span{
        transform: rotate(180deg);
    }
}
//Loader
.player-container{
    position: relative;
    width: 100%;
    float: left;
}
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
@media screen and (max-width: 991px) {
    .flip-scroll-table{
        display: block; position: relative; width: 100%;
        width: 100%; border-collapse: collapse; border-spacing: 0;
        float:left;
        .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
        * html .cf { zoom: 1; }
        *:first-child+html .cf { zoom: 1; }
        th,
        td { margin: 0; vertical-align: top; }
        th { text-align: left; }
        thead { display: block; float: left; }
        tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
        thead tr { display: block; }
        th { display: block; text-align: right; }
        tbody tr { display: inline-block; vertical-align: top;    margin-left: -4px; }
        td { display: block; text-align: left; }
        /* sort out borders */
        th { border-bottom: 0; border-left: 0; 
             border-top: 1px solid #85969d !important;
             padding: 10px 15px !important;
             span{
                 right: 2px !important;
                 top: calc(50% - 5px)!important;
                 bottom:auto!important;
                 left: auto !important;
             }
        }
        td { border-left: 0; border-right: 0; border-bottom: 0;     min-height: 42px;}
        tbody tr { border-right: 1px solid #babcbf; }
        th:last-child,
            td:last-child { border-bottom: 1px solid #babcbf; }
    }
}
@media screen and (max-width: 768px) {
    .player-stats .team-position .white-small-select #pool_teamsSelectBoxItContainer{
        margin-top: 20px;
        display: block;
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {
    .player-container{
        padding: 0 15px;
    }
    #pool--content{
        padding:0 !important;
    }
    .player-stats .team-position .search-bar{
        margin-top: 20px;
        width: 100%;
    }
    .white-small-select{
        width: 100%;
        .selectboxit-container{
            width: 100% !important;
            .selectboxit{
                width: 100% !important;
            }
            .selectboxit-options{
                width: 100% !important; 
            }
        }
    }
}