@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/team_records";
@import "../includes/player_news";
@import "../includes/trial_period";
.pool--content{
    @include make-sm-column(12);
    border: 1px solid $background_lightest; 
    border-bottom: 0;
    padding: 25px;
}
.pool-overview-container{
    @include make-sm-column(12);
    padding: 0;
}
.pool-overview{ 
    @include make-sm-column(8);
    padding-left: 0;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    .league-feed-table{
        tr th{
            &:nth-child(1){ 
                width: 11%;   
            }
            &:nth-child(2){
                width: 11%;   
            }
        }
    }
    #pools-h2h-outer{
        .pools--h2h:first-child{
            margin-top: 15px;
        }
    }
    .standing{
        tbody{
            tr{
                td:nth-child(2){
                    text-transform: capitalize;
                }
            }
        }
    }
    .ad-small-block{
        margin-top: 25px;
    }
    #league-feed{
        tbody{
            tr{
                td:nth-child(2){
                    text-transform: capitalize;
                }
            }
        }
    }
    .pool-matchup-outer{
        margin-top: 10px;
        float: left;
        width: 100%;
        text-align: right;
        .btn-green-line{
            font-size: 14px;
            padding: 5px 8px;
        }
    }
}
.no-result-present{
    margin-bottom: 30px;
}
.pool--main-heading{
    width:100%;
    float:left;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
.adblocks{
    position:relative;
}
//END Loader
@media screen and (max-width: 991px) { 
    #standing_wrapper,.pool-overview,.pool--content{
        width:100%;
        float:left;
    }
    .pool-overview{
        padding-right: 0;
    }
    .adblocks{
        position:relative;
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .adblocks{
        margin: 20px 0;
        padding: 0 30px;
    }
    #league-feed th{
        padding: 10px 8px !important;
    }
}

@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .pool-overview{
        padding: 0 15px;
    }
}