@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
.pool_creator{
    @include make-sm-column(12);
    @include make-md-column(11);
    @include make-lg-column(9);
    padding: 30px 15px 30px 15px;
    float: none !important;
    margin: auto; 
    h4{
        text-transform: uppercase;
        margin:0;
        float:left;
        font-size: 21px; 
    }
    li.selectboxit-focus a{
        background: $nav !important;
        background-color: $nav !important;
    }
    .pool-types{
        float:right;
        p{
            float:left;
            margin-top:6px;
            margin-right: 15px;
            color:$light-grey;
            text-transform: uppercase;
        }
        & > .selectboxit-container{
            min-width: 200px;
        }
        .selectboxit-container{
            .selectboxit{
                background: $nav;
                border: 1px solid $nav;
                color:$white;
                width: 100% !important;
            }
            .selectboxit-options{
                width: 100% !important;
                a{
                    height: 33px;
                    line-height: 33px;
                    background-image: none;
                    font-family: "Titillium Web",sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            span{
                height: 33px;
                line-height: 31px;
                font-size: 16px;
                font-weight: 500;
                font-family: "Titillium Web",sans-serif;
            }
            .selectboxit-text{
                max-width: 100% !important;
                width: 80%;
            }
            .selectboxit-arrow-container{
                &:after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 6px;
                    left: 0px;
                    right: 0px;
                    margin: 0 auto;
                    border-bottom: 7px solid $white;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                }
                .selectboxit-default-arrow{
                    border-top: 7px solid $white;
                    top: 16px;
                }
            }
        }
    }
    .pool-create-nav{
        ul{
            list-style:none;
            display:block;
            padding:0;
            margin-top: 10px;
            width:100%;
            overflow:hidden;
            margin-top:15px;
            margin-bottom:0px;
            li{
                display: inline-block;
                width: 20%;
                float: left;
                background: $background_lightest;
                text-align: center;
                padding: 10px 0;
                font-size: 16px;
                cursor: pointer;
                color:$nav;
                position:relative;
                padding-left:17px;
                text-transform: uppercase;
                span.number{
                    display: inline-block;
                    width: 27px;
                    line-height: 26px;
                    height: 27px;
                    border-radius: 100%;
                    background: $white;
                    margin-right: 0;
                    font-weight: bold;
                }
                .fa{
                    color: $main_action;
                    font-size: 16px;
                }
                &.selected{
                    background: $live_status;
                    color: $white;
                    span.number{
                        color: $live_status;
                    }
                    &:after{
                        border-left: 19px solid $live_status;
                    }
                }
                .right-arrow{
                    width: 0;
                    height: 0;
                    border-top: 24px solid transparent;
                    border-bottom: 24px solid transparent;
                    border-left: 20px solid $white;
                    display: block;
                    position: absolute;
                    right: -20px;
                    top: 0px;
                    z-index: 1;
                    border-radius: 0;
                    background: transparent;
                }
                &:after{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 23px solid transparent;
                    border-bottom: 23px solid transparent;
                    border-left: 19px solid $background_lightest;
                    display: block;
                    position: absolute;
                    right: -17px;
                    top: 1px;
                    z-index: 1;
                }
                &.complete{
                    span.number{
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        color: rgb(88, 168, 30);
                        text-align: center;
                        position: relative;
                        line-height: 26px;
                        &:before{
                            content: "\f00c";
                            width: 27px;
                            line-height: 27px;
                            height: 27px;
                            border-radius: 100%;
                            background: #fff;
                            display: inline-block;
                            float: left;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }

        } 
    }
    .pool-create-nav.box-step-1{
        ul li:nth-child(2){
            display:none;
        }
        ul li:nth-child(5){
            display:none;
        }
        ul li:nth-child(6){
            display:none;
        }
    }
    .pool-create-nav.h2h-step-1, .pool-create-nav.standard-step-1{
        ul li{
            width: 16.667%;
        }
        @media(max-width:991px){
            ul li{
                font-size: 15px;
            }
        }
        ul li:nth-child(6):after{
            display:none;
        }
        ul li:nth-child(7){
            display:none;
        }
        ul li:nth-child(8){
            display:none;
        }
    }
    .step-1{
        padding: 5px 50px 30px 25px; 
        border:1px solid $background_lighter;
        border-top: 0;
        h3{
            margin-top:25px;
            margin-bottom:10px;
            text-transform: uppercase;
            font-size:18px;
        }
        .form-group{
            margin-left: 0; 
            margin-right: 0; 
            width:100%; 
            position:relative;
            #question-mark{
                background: $main_action;
                color:$white;
                border:2px solid #58a81e;
                height: 25px;
                display: inline-block;
                width: 25px;
                text-align: center;
                border-radius: 50%;
                font-size: 17px;
                line-height: 23px;
                font-weight: bold;
                position: absolute;
                right: -31px;
                top: 5px;
                padding-left: 1px;
                cursor:pointer;
            }
            .pool-format-description{
                width: 60%;
                position: absolute;
                right: 3px;
                z-index: 9999999999;
                background: $brand_bg;
                padding: 15px 15px 5px 15px;
                color: $white;
                top: 0;
                p{
                    font-size: 14px;
                    margin-bottom: 10px;
                    font-style: italic;
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 11px;
                    right: -10px;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 11px solid $brand_bg;
                }
            }
            #pool-type-desc-text{
                position: absolute;
                z-index: 9999999999;
                background: #0C283E;
                padding: 5px 10px;
                color: #fff;
                top: -117%;
                display: none;
                p{
                    font-size: 14px;
                    margin: 0;
                    font-style: italic;
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -14px;
                    left: 47%;
                    border-top: 8px solid $brand_bg;
                    border-bottom: 6px solid transparent;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                }
            }
            .horizontal-line{
                width: 38%;
                background: $background_lighter;
                display: block;
                height: 1px;
                position: absolute;
                top: 18px;
                z-index: -1;
            }
            .main-label{
                background: $white;
                padding-right: 10px
            }
            label:first-child{
                width: 40%;
                color:$light-grey;
                padding-right: 15px;
                font-weight: 500;
                font-size: 16px;
                float:left;
                margin-bottom: 0;
                margin-top: 6px;
            }
            /*            .switch-blue{
                            width: 56px;
                            height: 24px;
                            border-radius: 5px;
                            background-image:none;
                            margin-left: 5px;
                        }
                        .switch-handle{
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            top: 0px;
                            left: -5px;
                            border:1px solid $background_lighter;
                            &:before{
                                display: none;
                            }
                        }
                        .switch-input:checked ~ .switch-label{
                            background: $nav;
                        }
                        .switch-input:checked ~ .switch-handle {
                            left: 40px!important;
                            box-shadow: none;
                        }
                        .switch-label{
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: none;
                        }*/
            .text-field{
                width: 60%;
                height: 33px;
                border-radius: 5px;
                border: 1px solid $nav;
                outline: none;
                padding-left:10px;
                color:$nav;
                &::-webkit-input-placeholder {
                    color: $light-grey;
                    font-size: 16px;
                }

                &:-moz-placeholder {
                    color: $light-grey;
                    font-size: 16px;
                }

                &::-moz-placeholder {
                    color: $light-grey;
                    font-size: 16px;
                }

                &:-ms-input-placeholder {  
                    color:$light-grey;
                    font-size: 16px;
                }
            }
            .input-group-addon{
                padding: 2px;
                position: absolute;
                right: 0; 
                top: 1px;
                width: 47px;
                bottom: 1px;
                background: $nav;
                color: white;
                border: 1px solid $nav;
                .fa{
                    font-size: 23px;
                }
                &.calender-icon{
                    border-radius: 0px 4px 4px 0;
                     width: 30px;
                }
            }
            input.datepicker{
                background: transparent;
                cursor: pointer;
                z-index: 2;
                position: relative;
            }
            & > .selectboxit-container{
                min-width: 200px;
            }
            .selectboxit-container{
                .selectboxit{
                    background: $white;
                    border: 1px solid $nav;
                    color:$nav;
                    height:35px;
                }
                .selectboxit-text{
                    margin-right: 30px;
                    height:32px;
                    line-height: 34px;
                }
                .selectboxit-options{
                    width: 100% !important;
                    a{
                        height: 33px;
                        line-height: 33px;
                        background-image: none;
                        font-family: "Titillium Web",sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                span{
                    height: 33px;
                    line-height: 31px;
                    font-size: 16px;
                    font-weight: 500;
                    font-family: "Titillium Web",sans-serif;
                }
                .selectboxit{
                    width: 100% !important;
                }
                .selectboxit-text{
                    max-width: 100% !important;
                    width: 80%;
                }
                .selectboxit-arrow-container{
                    background: $nav;
                    width:30px;
                    height:33px;
                    &:after{  
                        content: "";
                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        top: 8px;
                        left: 0px;
                        right: 0px;
                        margin: 0 auto;
                        border-bottom: 7px solid $white;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;

                    }
                    .selectboxit-default-arrow{
                        border-top: 7px solid $white;
                        top: 18px;
                    }
                }
            }
            #fullSelectBoxItContainer,#full2SelectBoxItContainer{
                width: 60% !important;
                #fullSelectBoxIt,#full2SelectBoxIt{
                    width: 100% !important;

                }
                #full2SelectBoxItOptions,#fullSelectBoxItOptions{
                    min-width: 100% !important;
                }
            }
        }
        .btn-backgreen{
            margin-top: 25px;
        }

    }
    .h2h-step-1{
        .pool-standard{
            display:none;
        }
        .pool-box{
            display:none;
        }
        .pool-h2h{
            display:block;
        }
    }
    .standard-step-1{
        .pool-h2h{
            display:none;
        }
        .pool-box{
            display:none;
        }
        .pool-standard{
            display:block;
        }
    }
    .box-step-1{
        .pool-standard{
            display:none;
        }
        .pool-h2h{
            display:none;
        }
        .pool-box{
            display:block;
        }
    }
    .step-2,.step-3,.step-4,.step-5,.step-6,.step-7,.step-8{  
        padding: 30px 25px 30px 25px;
        border:1px solid $background_lighter;
        border-top: 0;
        .step-4-header{
            @include make-md-column(12);
        }
        h3{
            text-transform: uppercase;
            margin:0;
            margin-bottom: 10px;
            width:100%;
            font-size: 18px; 
        }
        h4{
            font-size: 15px; 
            text-transform: none;
            margin-bottom: 10px;
            margin-top: 5px;
        }
        .text-field{
            width: 100%;
            height: 33px;
            border-radius: 5px;
            border: 1px solid $nav;
            outline: none;
            padding-left:10px;
            color:$nav;
            &::-webkit-input-placeholder {
                color: $light-grey;
                font-size: 16px;
            }
            &:-moz-placeholder {
                color: $light-grey;
                font-size: 16px;
            }
            &::-moz-placeholder {
                color: $light-grey;
                font-size: 16px;
            }
            &:-ms-input-placeholder {  
                color:$light-grey;
                font-size: 16px;
            }
        }
        .extra{
            width: 5%;
            float:left;
        }
        .team-name{
            width: 47.5%;
            float:left;
            padding-right: 10px;
        }
        .invitee-email-address{
            width: 47.5%;
            float:left;
            padding-left: 10px;
        }
        .team-number{
            width: 5%;
            float:left;
            font-size: 16px;
            color:$light-grey;
            margin-top : 6px;
        }
        .team-name-input{
            width: 47.5%;
            float:left;
            padding-right: 10px;
        }
        .invitee-email-input{
            width: 47.5%;
            padding-left: 10px;
            float:left;
        }
        .form-group{
            width:100%;
            float:left;
        }
        .btn-backgreen{
            margin-top: 10px;
        }
        /*SETP 3*/
        .rooster-settings,.scoring_settings{
            @include make-md-column(6);
            table{
                thead{
                    background:$background_lightest;
                    th{
                        font-size: 16px;
                        font-weight: 400;
                        padding: 5px 10px;
                        border: 0;
                    }
                }
                td{
                    border-top: 0;
                    border-bottom: 1px solid #ddd;
                    vertical-align: middle;
                    color: $dark-grey;
                    font-size: 15px;
                    .blue-border{
                        background: $white;
                        border: 1px solid $nav;
                        font-size: 16px;
                        color: $dark-grey;
                        padding: 5px 14px; 
                        &:hover,&:focus{
                            color: $dark-grey;
                            outline: 0;
                        }
                    }
                }
                tr{
                    &:last-child{
                        td{
                            border-top: 2px solid $dark;
                            border-bottom: 0;
                            color: $dark;
                        }
                    }
                }
            }
        }
        input.roster_value, input.total_team_size{
            max-width: 70px;
        }
        /*step-4*/
        .scoring_settings{
            @include make-md-column(12);
            table{
                thead{
                    th{
                        &:first-child{
                            background: $live_status;
                            text-align: center;
                            width: 40px;
                        }
                    }
                    .point-value{
                        display:none;
                    }
                }
                tbody{
                    .squaredThree{
                        background: $nav;
                        width: 40px;
                    }
                    tr{
                        &:last-child{
                            td{
                                border-top:1px solid #ddd;
                                border-bottom:1px solid #ddd;
                                color: $dark-grey;
                            }
                        }
                    }
                    .point-value{
                        display:none;
                        input{
                            width: 51px;
                            height: 28px;
                            border-radius: 5px;
                            border: 1px solid #0F6AAE;
                            outline: none;
                            padding: 0 0 0 10px;
                            color: #333;
                            font-weight: bold;
                            float:left;
                        }
                        .add-number,.subtract-number{
                            display: inline-block;
                            position: relative;
                            background: $nav;
                            width: 28px;
                            height: 28px;
                            border-radius: 4px;
                            margin-left: 5px;
                            float: left; 
                            cursor:pointer;
                            &:after{
                                content:'';
                                display: block;
                                width: 0;
                                height: 0;
                                position: absolute;
                                top: 10px;
                                left: 0px;
                                right: 0px;
                                margin: 0 auto;
                                border-bottom: 7px solid #fff;
                                border-right: 4px solid transparent;
                                border-left: 4px solid transparent;
                            }
                        }
                        .subtract-number{
                            &:after{
                                border-top: 7px solid #fff;
                                border-bottom: 0;
                                top: 11px;
                            }
                        }
                    }
                }
            }
            .helper-index{
                .yellow-bg,.black-bg{
                    display: inline-block;
                    width: 40px;
                    float: left;
                    background: $live_status;
                    text-align: center;
                    padding: 5px 0px;
                    font-weight: 600;
                    font-size: 16px;
                    border-bottom:1px solid $white;
                }
                .black-bg{
                    background-color: $black;
                    color:$white;
                    font-weight: 700;
                }
                p{
                    float: left;
                    margin-top: 6px;
                    margin-left: 20px;
                    font-size: 16px;
                    color:$dark-grey;
                    &.dark-text{
                        color:$black;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }

        } 
        .sub-head{
            font-size: 16px;
            color: $light-grey;
            margin-bottom: 10px;
        }
        /*step-5*/
        .step-5-header{
            @include make-md-column(12);
            h4{
                font-size: 18px;
                margin-top: 0;
                width:88%;
                margin-left:12%;
                span{
                    font-size: 15px;
                    color:$light-grey;
                    font-style: italic;
                }
            }
        }
        .draft-order{
            @include make-md-column(12);
            .team-number{
                width:12%;
                margin-top:0;
                span{
                    display: inline-block;
                    width: 31px;
                    line-height: 30px;
                    height: 31px;
                    border-radius: 100%;
                    font-weight: bold;
                    text-align: center;
                    font-size: 20px;
                    background: $live_status;
                    color:$white;
                    margin-top: 14px;
                    margin-bottom: 22px;
                    &:after{
                        content: " ";
                        display: table;
                    }
                }
                &.blank{
                    span{
                        background: $white;
                        color:$light-grey;
                    }
                }
            }
            ul{
                padding: 0;
                float: left;
                width: 85%;
                margin-bottom: 0;
                li{
                    list-style: none;
                    overflow:hidden;
                    cursor: move;
                }
            }
            .team-name{
                width:100%;
                background-color:$brand_bg;
                float:left;
                padding: 8px 10px;
                border-radius: 4px;
                position:relative;
                margin-bottom:12px;
                h2{
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                    color: $white;
                    text-transform: capitalize;
                }
                p{
                    color: $background_lightest;
                }
                .fa{
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    color: $nav;
                    font-size: 23px;
                }
                &.blank{
                    height: 55px;
                    text-align: center;
                    background: $white;
                    border: 2px dotted $light-grey;
                    h3{
                        margin-top: 8px;
                        color:$light-grey;
                        text-transform: none;
                        font-style: italic;
                        font-size: 16px;
                    }
                }
                &.light-blue{
                    margin-right: 0;
                    margin-left: 12%;
                    background: $nav;
                    .fa{
                        color: $white;
                    }
                    &.blank{
                        background: $background_lightest;
                        border: 0;
                    }
                }
            }
        }
        //step 6
        .step-6-header,.step-7-header,.step-8-header{
            @include make-sm-column(12);
            h2{
                text-transform: uppercase;
            }
            a{
                font-size: 30px;
            }
        }
        .draft-round,.boxes,.review{
            @include make-sm-column(12);
            .each-round,.each-box{
                @include make-sm-column(6);
                h3{
                    background-color: #d0d5d8;
                    margin: 0;
                    padding: 8px;
                    font-size: 16px;
                    font-weight: 600;
                }
                table{
                    padding-bottom: 1px;
                    border-bottom: 2px solid #d0d5d8;
                    border-collapse: separate;
                }
                &:nth-child(2n){ 
                    padding-right: 0;
                    padding-left: 2.5px;
                    h3{
                        width: 100%;
                    }
                }
                &:nth-child(2n+1){
                    padding-left: 0;
                    padding-right: 2.5px;
                    h3{
                        width: 99.8%;
                    }
                }
                ul{
                    list-style: none;
                    padding: 0;
                    position: absolute;
                    z-index: 99;
                }
                ul.active{
                    background: #fff;
                    width: 92%;
                    margin-top: 1px;
                    border-radius: 6px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    max-height: 350px;
                    overflow: auto;
                    color: #333333;
                    margin: 0;
                }
                ul li{
                    padding: 7px 10px 7px 10px;
                    cursor: pointer;
                    &.hovered{
                        background: $light_blue;
                        color: $white;
                    }
                }
                .has-error + div.error-msg {
                    width: 100% !important;
                }
            }
            table{
                thead{
                    background:$background_lightest;
                    th{
                        font-size: 16px;
                        font-weight: 400;
                        padding: 5px 10px;
                        border: 0;
                    }
                }
                td{
                    border-top: 0;
                    border-bottom: 1px solid #ddd;
                    vertical-align: middle;
                    color: $dark-grey;
                    font-size: 15px;
                    position:relative;
                }
                tr td:nth-child(2){
                    text-transform: capitalize;
                }
            }
            h2{
                text-transform: uppercase;
            }
            p.description{
                margin-top: 50px;
            }
            .review-table{
                @include make-sm-column(6);
                padding: 0;
                table tr:last-child td{
                    border-top: 2px solid #333;
                    border-bottom: 0;
                    color: #333;
                }
            }
            .submit_btn{
                float: left;
            }
            .info-content{
                float: right;
                margin-top: 10px;
                i{
                    margin-top: 2px;
                    margin-bottom: 2px;
                }
                span{
                    vertical-align: bottom;
                    margin-top: 4px;
                    display: inline-block;
                }
            }
        }
    }
    .bootstrap-datetimepicker-widget table td span.active{
        background-color: $nav;
    }
    .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
        background-color: $nav;
    }
    .btn-backgreen{
        span.arrow-right{
            height: 15px;
            width: 22px;
            background-image: url("../../img/graphics.png");
            display: inline-block;
            background-position: -230px -79px;
            transform: rotate(270deg);
            margin-right: -5px;
        }
        span.arrow-left{
            height: 15px;
            width: 24px;
            background-image: url("../../img/graphics.png");
            display: inline-block;
            background-position: -225px -79px;
            transform: rotate(90deg);
            margin-left: -5px;
        }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }
    .pool-image-upload {
        .btn{
            padding: 4px 6px 5px 6px;
            line-height: 13px;
        }
    }
    .playoff-format-div{
        .right{
            margin-top: 15px;
            display:none;
            .team{
                width: 40%;
                color: #85969d;
                padding-right: 15px;
                font-weight: 500;
                font-size: 16px;
                float: left;
                margin-bottom: 0;
                margin-top: 16px;
            }
            .team_no{
                margin-top: 15px;
            }
            & > .selectboxit-container{
                min-width: 200px;
            }
            .relative{
                position:relative;
            }
        }
    }
} 

@media screen and (max-width: 768px) {
    .pool_creator{
        .step-1{
            .form-group{
                label:first-child{
                    width:100%;
                    margin-bottom:8px;
                }
                .horizontal-line{
                    display: none;
                }
                .text-field{
                    width: 100%;
                }
                #fullSelectBoxItContainer,#full2SelectBoxItContainer{
                    width: 100% !important;
                }
                input.datepicker{
                    width:66%;
                }
                .input-group-addon{
                    right: 34%;
                    top: 36px;
                }
                #question-mark{
                    top: 41px;
                }
                .pool-format-description{
                    width: 100%;
                    top: 36px;
                }
            }
        }
        .step-2,.step-3{
            .team-number{
                width: 10%;
            }
            .team-name-input{
                width:90%;
                margin-bottom: 10px;
                padding-right: 0;
            }
            .invitee-email-input{
                width: 100%;
                padding-left: 10%;
            }
            .extra,.invitee-email-address,.team-name{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .pool_creator{
        .step-1,.step-2,.step-3,.step-4,.step-5{
            padding-left: 5px;
            padding-right: 5px;
        }
        .step-4{
            .scoring_settings{
                table{
                    thead th{
                        padding: 5px;
                    }
                    tbody .point-value input{
                        width: 45px;    
                        padding: 0 0 0 5px;
                    }
                    td{
                        padding: 5px;
                    }
                }
            }
        }
        .add-number,.subtract-number{
            display: none !important;
        }
        .pool-create-nav.h2h-step-1 ul li, .pool-create-nav.standard-step-1 ul li, .pool-create-nav.box-step-1 ul li{
            width:100%;
            text-align: left;
            span.number{
                text-align: center;
                margin-right: 0;
            }
        }
        .step-1{
            .form-group #question-mark{
                right:1%;
            }
            .form-group #fullSelectBoxItContainer, .pool_creator .step-1 .form-group #full2SelectBoxItContainer{
                width:90% !important;
            }
            .form-group .pool-format-description{
                width:90%;
                right:10%;
            }
        }
        .pool-create-header{
            padding: 5px;
        } 
    }
}
@media screen and (max-width: 300px) {
    .squaredThree label{
        left:5px !important;
        right:5px !important;
    }
    .pool_creator{
        .step-1{
            .form-group #fullSelectBoxItContainer, .pool_creator .step-1 .form-group #full2SelectBoxItContainer{
                width:85%;
            }
            .form-group .pool-format-description{
                width:85%;
                right:15%;
            }
        }
    }
}
//Readonly, disabled, error
input[disabled], input[readonly] {
    background-color: #eee; 
    cursor: not-allowed !important;
}
select[disabled] + .selectboxit-container > .selectboxit{
    cursor: not-allowed;
}
input[disabled] + .switch-blue {
    cursor: not-allowed;
    & > .switch-handle{
        background: #eee;
    }
}
button[disabled]{
    cursor: not-allowed;
}
.has-error {
    border-color: #a94442 !important;
}
#main-steps{
    select[disabled] + .selectboxit-container > .selectboxit{
        background-color: #eee !important;
        cursor: not-allowed;
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
.pool_creator{
    opacity:0;
}
//END Loader
/*Drag drop csss*/
.dropzone:after{
    content:'Drag and drop your image here or click to add one.';
    bottom: 22%;
} 
/*END Drag drop csss*/
.info-content{
    border: 3px solid $background_lightest; 
    padding-top: 4px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding-left:10px;
    p{
        text-transform: uppercase;
        color:$black;
        font-style: italic;
        font-size: 13px;
    }
    span{
        font-style: italic;
        font-size: 13px;
        color: $light-grey;
    }
    i{
        margin-top: 8px;
        float: left;
        margin-right: 10px;
    }
}
#randomise-list{
    margin-top: 10px;
}
.has-error + div.error-msg{
    margin: 0;
}
@media (min-width:768px){
    .has-error + div.error-msg{
        width: 60%;
        float: right;
    }
    .step-2 form .has-error + div.error-msg{
        width: 100%;
    }
}