@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/ad_block";
@import "../includes/team_records";
@import "../includes/pool_h2h";
@import "../includes/pool_name_header";
@import "../includes/pool_slider";
@import "../includes/player_news";
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
.pool-standing-container{
    @include make-sm-column(12);
    padding: 0;
    .pool-standing{ 
        @include make-sm-column(8);
        margin-bottom: 35px;
        padding-left: 0;
        h3{
            margin-top: 0;
        }
        table{
            tr{
                th{
                    width: 25%;  
                }
            }
        }
    } 
}
.adblocks{
    position: relative;
    margin-bottom: 30px;
}
.team-records{
    margin-top:30px;
}
.player-news{
    margin: 0 0 30px 0;
}
@media screen and (max-width: 768px) { 
    .pool-standing-container .pool-standing{
        padding: 0px 10px;
    }
    .adblocks{
        padding: 0 25px;
    }
}