@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/twitter_block";
@import "../includes/ad_block";

.pool--show-container{
    @include make-sm-column(8);
    padding-left: 0;
    .pool--show-info{
        @include make-sm-column(12);
        padding: 0;
        padding-bottom: 30px;
        .table{
            @extend .table-striped;
            margin-bottom: 40px;
        }
    }
}
#pool-score{
    text-indent: -4px;
    overflow: hidden;
    margin: 8px;
    padding: 0;
    display: inline-block;
    border: 0;
}
.control-commas{
    overflow: hidden;
    text-indent: -3px;
}
.adblocks{
    position: relative;
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.pool--content{
    padding-bottom: 0;
}
@media screen and (max-width: 991px) { 
    .pool--show-container{
        width:100%;
        float:left;
        padding-right: 0;
    }
    .adblocks{
        position:relative;
        width: 100%;
        float: left;
    }
}
@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .pool--show-container{
        padding: 0 15px;
    }
}