@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_h2h";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
.trades-container{
    @include make-sm-column(12);
    border: 1px solid #e5e9ea;
    padding: 25px;
    float: left;
    width: 100%;
    &:after{
        content:'';
        margin-bottom: 15px;
        display: block;
        float: left;
        width: 100%;
    }
    .trades-header{
        @include make-sm-column(12);
        @include make-xs-column(12);
        padding: 0;
        border-bottom:1px solid $light-grey;
        img{
            max-width: 150px;
            margin: 20px 20px 20px 0px;
            float: left;
        }
        div{
            width: 50%;
            float: left;
            h3{
                &:first-child{
                    margin: 20px 0 5px 0;
                }
            }
            p{
                margin: 0px;
            }
        }
    }
    .create-trade{
        width:100%;
        float:left;
        margin-bottom: 30px;
        padding:0;
        p{
            &.pool--main-heading{
                float: left;
            }
            &:last-child{
                @include make-sm-column(12);
                padding:0;
            }
        }
        .btn-backgreen{
            float: right;
            margin-top: 35px;
            @media (max-width:768px){
                float: right;
                margin: 30px 0 20px 0; 
            }
            @media (max-width:350px){
                float: none;
                margin: 0 0 20px 0; 
            }
        }
        @media (max-width:768px){
            margin-bottom: 0;
        }
    }
    .table{
        margin: 30px 0px;
    }
    .custom-checkbox{
        width: 100%;
        position: relative;
        margin: auto;
        text-align: center;
        input{
            width:0;
        }
        label{
            left: 50%;
            transform: translate(-50%,0);
        }
    }
    .large-checkbox{
        .custom-checkbox{
            width: 50px;
            label {
                width: 50px;
                height: 28px;
                top: -3px;
                background: $white;
                &:after {
                    opacity: 0.3;
                    width: 25px;
                    height: 10px;
                    top: 6px;
                    left: 12px;
                    transform: rotate(-38deg);
                    border: 3px solid #0F6AAE;
                    border-top: none;
                    border-right: none;
                }
            }
        }
    }
    .select-team{
        width: 100%;
        float: left;
        @media (max-width:768px){
            margin-bottom: 30px;
        }
        .selectboxit-container{
            width: 100%;
            max-width: 278px;
            vertical-align: middle;
            span{
                height: 40px;
                line-height: 38px;
                font-size: 21px;
                font-weight: 300;
            }
            .selectboxit{
                width: 100% !important;
            }
            .selectboxit-text{
                max-width: 100% !important;
                text-transform: capitalize;
            }
            .selectboxit-options{
                width: 100% !important;
                a{
                    text-transform: capitalize;
                }
            }
            .selectboxit-arrow-container {
                .selectboxit-default-arrow {
                    border-top: 9px solid #fff;
                    top: 21px;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                }
                &:after{
                    border-bottom: 9px solid #fff;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    top: 8px;
                }
            }
        }
    }
    .roster-players-count{
        thead{
            th:last-child{
                text-align: center; 
            }
        }
        tbody{
            td:first-child{
                text-transform: capitalize;
            }
            td:last-child{
                text-align: center; 
            }
        }
    }
    @media screen and (max-width: 768px){
        .roster-players-count.flip-scroll-table th {
            padding: 10px 8px !important;
        }
    }
    .right-tick{
        transform: rotate(-45deg);
        width: 25px;
        height: 10px;
        border: 3px solid #3c763d;
        border-top: none;
        border-right: none;
        display: inline-block;
    }
    .right-cross{
        transform: rotate(-47deg);
        width: 25px;
        height: 3px;
        display: inline-block;
        background: #a94442;
        &:after{
            content: '';
            transform: rotate(95deg);
            width: 25px;
            height: 3px;
            display: inline-block;
            background: #a94442;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
    .color-explain{
        margin-top: 0;
        margin-bottom: 10px;
    }
    #all-players-outer{
        .player-deleted, .player-traded{
            td:nth-child(1){
                opacity: 0;
            }
            td:nth-child(2){
                opacity: 0;
            }
        }
    }
    #team-players-outer{
        .player-deleted, .player-traded{
            td:nth-child(1){
                opacity: 0;
            }
        }
    }
}
.pools--box .stats table{
    margin: 0;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader
@media screen and (max-width: 500px) {
    .trades-container{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .create-trade{
        padding: 0 15px !important;
    }
}