@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/team_records";
@import "../includes/player_news";
.pool--content{
    @include make-sm-column(12);
    border: 1px solid $background_lightest;
    padding: 25px;
}
.pool-overview-container{
    @include make-sm-column(12);
    padding: 0;
}
.pool-overview{ 
    @include make-sm-column(8);
    padding-left: 0;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
}
.pool--main-heading{
    width:100%;
    float:left;
}
.light-grey-table.table {
    margin-bottom: 20px;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
.adblocks{
    position: relative;
}
//END Loader
@media screen and (max-width: 991px) { 
    .pool-overview,.pool--content{
        width:100%;
        float:left;
    }
    .pool-overview{
        padding-right: 0;
    }
    .adblocks{
        position:relative;
        width: 100%;
        float: left;
    }
}
@media screen and (max-width: 768px) {
    .adblocks{
        margin: 20px 0;
        padding: 0 30px;
    }
    .flip-scroll-table th {
        padding: 10px 8px !important;
    }
}
@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .pool-overview{
        padding: 0 15px;
    }
}
//pending-trades
.trades{
    @include make-sm-column(12);
    padding:0;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 40px;
    }
}
.trades-content{
    @include make-sm-column(12);
    padding:0;
    border:1px solid $background_lightest;
    .teams{
        @include make-sm-column(12);
        padding:0;
        .center-arrows{
            width: 40px;
            float: left;
            position: absolute;
            right: -40px;
            top: 55px;
            text-align: center; 
            .fa{
                position: absolute;
                font-size: 19px;
                color:$light_blue;
                &:first-child{
                    left: 5px;
                    top: 10px;
                }
                &:nth-child(2){
                    right: 5px;
                }
            }
        }
        .single-team{
            width:calc(50% - 20px);
            &:first-child{
                float:left; 
                position: relative;
            }
            &:nth-child(2){
                float:right; 
            }
            .team-name{
                font-size: 16px;
                text-transform: capitalize;
                margin: 0;
                padding: 8px 15px;
                color: $white;
                font-size: 16px;
                background-color: $light-grey;
            } 
            .trade-details{
                @include make-sm-column(12);
                padding: 15px;
                min-height: 75px;
                background-color: $background_lightest;
            }
        }
        .trade-status{
            @include make-sm-column(12);
            text-align: center;
            padding: 15px;
            border-top:none;
            p{
                margin-bottom: 10px;
            }
            a{
                margin: 15px 25px 0 25px;
            }
            .btn-green,.btn-orange{
                padding: 6px 15px;
            }
            #alert-box{
                margin-top: 20px;
            }
        }
    }
}
.empty-pending-trades{
    @include make-sm-column(12);
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    font-style: italic;
    padding: 20px;
    font-size: 18px;
}