@import "variable-overrides";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import '../../../../node_modules/font-awesome/scss/font-awesome';

@import "variables";
@import "core";
@import "mixins";

@import "header";
@import "sidebar";
@import "sidebar-mini";
@import "control-sidebar";
@import "dropdown";
@import "forms";
@import "progress-bars";
@import "small-box";
@import "boxes";
@import "info-box";
@import "timeline";
@import "buttons";

@import "callout";
@import "alerts";
@import "navs";
@import "products";
@import "table";
@import "labels";
@import "direct-chat";
@import "users-list";
@import "carousel";
@import "modal";

//PAGES
//------
@import "mailbox";
@import "lockscreen";
@import "login_and_register";
@import "404_500_errors";
@import "invoice";

@import "fullcalendar";

//SKINS
@import "skins/_all-skins";

//OTHER
@import "custom";

//Miscellaneous
//-------------
@import "miscellaneous";
@import "print";

/*Blog edit/create page*/
.blog_image img{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #d2d6de;
}
.checkbox-inline{   
    padding-left: 35px;
}
/*END Blog edit/create page*/

/*All Blogs*/
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
/*END All Blogs*/
