.center-header{
    @include make-sm-column(12);
    padding:15px;
    border-top:1px solid $background_lighter;
    height: 269px;
    overflow-y: scroll;
    overflow-x: hidden; 
    transition: all 0.2s ease-out; 
    .queue-details{
        display: inline-block;
        width: 100%; 
        vertical-align: top;
        a{
            &:nth-child(1){
                float: left;
            }
            &:nth-child(2){
                float: left;
            }
            &:nth-child(3){
                min-width: 130px;
                float: right;
            }
            @media screen and (max-width:370px){
                float: left;
                display: block;
                margin-right: 30px;
                &:nth-child(1){
                    margin-bottom: 10px;
                }
                &:nth-child(2){
                    margin-bottom: 10px;
                }
                &:nth-child(3){
                    float: left;
                }
            }
        }
        #player-final-draft{
            display:none;
        }
        #player-drafted{
            color: $green;
            font-weight: 400;
            font-size: 27px;
            width: 100%;
            margin: 4px 0 4px 0;
            float: right;
            max-width: 87px;
            display: none;
        }
        h3{
            color: $blue-text;
            font-weight: 400;
            font-size: 27px;
            float: left;
            width: 100%;
            margin: 10px 0 0 0;
            span{
                color:$light-grey;
                font-size: 16px;
            }
            @media screen and (max-width:768px){
                margin-top:15px;
            }
        }
    }
    .table{
        &.light-grey-table{
            margin-top: 10px;
        }
    }
}
#player-full-desc-all p{
    height: 269px;
    background-color: #d9edf7;
    font-style: italic;
    font-size: 14px;
    color: #516a73;
    font-weight: 600;
    padding: 116px 20px;
    text-align: center;
}