.draft-overview{
    @include make-sm-column(12);
    padding: 0;
    border: 1px solid $background_lighter;
    border-top: none;
    .all-rounds{
        overflow-y:auto;
        height: calc(100vh - 275px);
    }
    .draft-heading{
        color: $blue-text;
        font-weight: 400;
        font-size: 27px;
        margin: 15px 0;
        text-align: center;
        @media screen and (max-width:768px){
            padding: 0;
            text-align: center;
        }
    }
    .round-heading{
        font-size: 17px;
        padding:5px 15px;
        background-color: $dark-grey;
        margin: 0; 
        color: $white;
    }
    .draft{
        @include make-xs-column(12);
        background-color: $background_lightest;
        padding: 10px 0px 10px 0px; 
        .draft-number{
            width: 20px;
            float: left; 
            span{
                font-size: 20px;
                font-weight: 400;  
                padding-left: 10px;
            }
            .fa{
                display:none;
                &.green{
                    color: $green;
                }
                &.red{
                    color: $alert;
                }
            }
        }
        .draft-details{
            width: calc(100% - 20px);
            float: left;
            padding: 0 5px 0px 10px;
            text-align: left;
            p{
                &:nth-child(1){
                    margin: 0;
                    font-size: 20px;
                    font-weight: 400;
                }
                &:nth-child(2){
                    margin: 5px 0;
                    font-size: 14px;
                        height: 20px;
                }
            }
        }
        border-bottom: 1px solid $background_lighter;
    }
}

