@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer"; 
@import "center_header";
@import "my_queue";
@import "my_team";
@import "queue_overview";
@import "round_header";
@import "draft_overview";
@import "trash_talk"; 
@import "../includes/pagination";

header{
    display: none;
}
.livescoreboard{
    display: none;
}
footer{ 
    display: none;
}
.live-draft-container{
    @include make-sm-column(12);
    padding:0;
    /*left-side-block*/
    .left-block{
        @include make-sm-column(12);
        @include make-md-column(2);
        padding:0;
        text-align: center;
        .logo-img{
            padding: 10px 0 10px 0;
            background-color: $brand_bg; 
            text-align: center;
            img{
                display: inline-block;
            }
        }
    }  
    /*left-side-block-END*/

    /*center-block*/
    .center-block{
        @include make-sm-column(12);
        @include make-md-column(7);
        padding:0;
    }
    .livedraft-heading{
        padding: 23px 15px 22px 15px;
        background: $brand_bg;
        margin: 0;
        color: $white;
        h3{
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            color: $white;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 300;
        }  
        h4{
            display: inline-block;
            padding-left: 15px;
            text-transform: uppercase;
            margin: 0;
            vertical-align: sub;
        }
    }
    /*center-block-END*/

    /*right-side-block*/
    .right-block{
        @include make-sm-column(12);
        @include make-md-column(3);
        padding:0;
    }  
    /*right-side-block-END*/
    /*loader*/
    .scorer-loader-logo{
        background-color: $brand_bg;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }
    /*END*/
}
