.my-queue{
    @include make-sm-column(12);
    padding:0;
    border-bottom:none; 
    h3{
        padding: 10px;
        margin: 0;
        background-color:$nav;
        color:$white;
        .fa{ 
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .table{ 
        margin-bottom: 0px;
    }
    td{ 
        span{
            .fa{
                margin: 0 5px;
                font-size: 18px;
            }
            .fa-times{
                float: right;
            }
        }
    }
    .all-queues{
        height: calc(33.33vh - 46px);
        overflow-y: auto;
    }
    #player-queue-body{
        td:nth-child(1){
            cursor: move;
        }
        td:nth-child(3){
            cursor: pointer;
        }
        td:nth-child(4){
            cursor: pointer;
        }
        .green-row td{
            background-color: #d4ecd4;
        }
        .empty{
            background-color: #d9edf7;
            font-style: italic;
            font-size: 14px;
            color: #516a73;
            font-weight: 600;
            padding: 7.4vh 20px;
            text-align: center;
            cursor: default !important;
            border-left: 1px solid #fff;
        }
        tr:last-child(){
            border-bottom: 1px solid #ddd;
        }
    }
}
#player-remove-queue{
    display:none;
}
