.my-team{
    @include make-sm-column(12);
    padding:0;
    h3{
        padding: 10px;
        margin: 0;
        background-color:$nav; 
        color:$white;
        .fa{
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .table{ 
        margin-bottom: 0px;
    }
    .all-teams{
        height: calc(33.33vh - 46px);
        overflow-y: auto;
    }
}
#teams{
    height: calc(100vh - 385px);
    overflow-y: auto;
    #teams-list-all{
        .no-teams{
            background-color: #d9edf7;
            font-style: italic;
            font-size: 14px;
            color: #516a73;
            font-weight: 600;
            padding: 30px 20px;
            text-align: center;
            margin-top: 15px;
        }
    }
}
