@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "my_queue";
@import "queue_overview";
@import "../includes/pagination";

.live-draft-container{
    width: 100%;
    float: left;
    border: 1px solid #e5e9ea;
    border-bottom: 0;
    padding: 25px;
    @media screen and (max-width: 500px) {
        border: 0 !important;
        padding: 0 !important;
    }
    /*center-block*/
    .center-block{
        @include make-sm-column(8);
        padding:0;
        margin-top: 5px;
        margin-bottom: 15px;
        .center-header{
            display:none;
            .queue-details{
                padding-top: 15px;
                padding-right: 15px;
                .btn-yellow{
                    float: right;
                }
                h3{
                    display: inline;
                    float: left;
                    margin-top: 6px;
                }
            }
        }
    }
    .queue-overview #players .player-header{
        padding-left: 0;
        @media screen and (max-width: 768px) {
            padding-right: 0;
        }
    }
    .my-queue .all-queues{
        height: 538px;   
    }
    .queue-overview .tab-pane #player-table-outer{
        height: 500px;
        @media screen and (max-width: 768px) {
            height: auto;
        }
        .player-stats-table{ 
            thead tr{
                border-bottom: 1px solid #ddd !important; 
            }
            th{
                border-top: 1px solid #ddd !important;
                border-bottom: 0px solid #ddd !important;
                border-right: 1px solid #ddd !important;
            }
        }
    }
    /*center-block-END*/

    /*right-side-block*/
    .right-block{
        @include make-sm-column(4);
        padding:0;
        margin-top: 15px;
        padding-left: 10px;
        margin-bottom: 15px;
        @media screen and (max-width: 768px) {
            padding-left: 0;
            float: left;
            width: 100%;
        }
    }  
    /*right-side-block-END*/
}
/*loader*/
.container-fluid{
    position: relative;
}
.scorer-loader-logo{
    background-color: $brand_bg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 42;
}
/*END*/
@media screen and (max-width: 768px) {
    .site-container .container-fluid{
        padding: 0;
    }
}
@media screen and (max-width: 500px) {
    .site-container .container-fluid .container{
        padding: 0;
    }
    .center-block{
        margin: 0 15px;
    }
    .right-block{
        margin: 0 15px 25px 15px;
    }
    .pool-name-header{
        .pool-name{
            width: 100%;
            .image{
                margin-top: 15px;
                width: 30%;
                img{
                    width: 100%;
                }
            }
            .details{
                margin-top: 15px;
                width: calc(70% - 13px);
                margin-bottom: 15px;
                .selectboxit-container {
                    width:100% !important;
                    .selectboxit{
                        width:100% !important;
                    }
                    .selectboxit-options{
                        width:100% !important;
                    }
                }
            }
        }
    }
}
