.queue-overview{
    @include make-sm-column(12);
    padding:0;
    /*overflow: scroll;*/
    ul{
        &.nav-tabs{
            border-top:1px solid $background_lighter;
            border-bottom: 1px solid $background_lighter;
            display: table;
            width: 100%;
            li{
                width: 25%;
                text-align: center;
                border-right: 1px solid $background_lighter;
                display: table-cell;
                height: 100%;
                float: none;
                vertical-align: middle;
                &:last-child{
                    border-right: none;
                }
                a{
                    color:$dark;
                    margin: 0;
                    border-radius: 0;
                    &:hover{
                        color:$dark;
                        background-color:$background_lighter;
                        margin: 0;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                &.active{
                    border-color: $background_lighter;
                    color:$dark;
                    background-color:$background_lighter;
                    margin: 0;
                    border-radius: 0;
                    a{
                        background-color:$background_lighter;
                        margin: 0;
                        vertical-align: middle;
                        display: inline-block !important;
                        border: none;
                        width: 100%;
                    }
                }
                &:hover{
                    background-color:$background_lighter;
                    a{
                        &:hover{
                            border: none;
                        }
                    }
                }
            }
        }
    }
    .tab-pane{
        padding: 0 15px;
        .pool--main-heading{
            margin: 15px 0 15px 0;
        }
        #player-table-outer{
            height: calc(100vh - 479px);
            overflow-y:auto;
            width: 100%; 
        }
        /*        .player-stats-table{
                    margin-bottom: 0;
                    tbody{
                        height: calc(100vh - 518px);
                        overflow-y:auto;
                        width: 100%;
                    }
                    thead{
                        margin-right: 17px;
                    }
                    thead,tbody,tr,td,th{
                        display:block;
                    }
                    tbody{
                        td{
                            float:left;
                            width: 7.8%;
                            &:nth-child(1){
                                width: 11%;
                            }
                            &:nth-child(2){
                                width: 42%;
                            }
                        }
                    }
                    thead {
                        tr{
                            th{
                                float:left;
                                width: 7.8%;
                                &:nth-child(1){
                                    width: 11%;
                                }
                                &:nth-child(2){
                                    width: 42%;
                                }
                            }
                        }
                    }
                }*/
    }
    .post-pagination{
        margin-bottom: 0;
    }
    /*pool-settings*/
    #pool-settings{
        padding: 20px 15px;
        tr{
            td{
                padding: 0 8px;
                vertical-align: top;
                span{
                    display: block;
                }
                &:nth-child(1){
                    text-align: right;
                }
                &:nth-child(2){
                    text-align: left;
                }
            }
        }
    }
    /*draft-results*/
    #draft-results{
        padding: 0;
        .head-arrow{
            th{
                padding-left: 20px;
            }
        }
        #draft-results-outer{
            height: calc(100vh - 385px);
            overflow-y: auto;
            overflow-x: hidden !important;
            .no-drafts{
                background-color: #d9edf7;
                font-style: italic;
                font-size: 14px;
                color: #516a73;
                font-weight: 600;
                padding: 30px 20px;
                text-align: center;
                margin: 15px;
            }
        }
    }
    /*players*/
    #players{
        padding:0;
        .player-stats-table{
            th{
                cursor: pointer;
                position: relative;
                span{
                    display: inline-block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    right: 8px;
                    top: 17px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 9px solid #333;
                }
                &[data-order_type="asc"] span {
                    transform: rotate(180deg);
                }
            }
        }
        #player-stats-all{
            tr{
                cursor: pointer; 
            }
            .green-row td{
                background-color: #d4ecd4;
            }
        }
        .player-header{
            padding:10px 15px;
            width: 100%;
            float: left;
            .search-field{
                width: calc(100% - 480px);
                border-radius: 6px;
                border: 1px solid $background_lighter;
                margin: 0 10px;
                &.mob{
                    display: none;
                }
            }
            .selectboxit-container{
                margin: 0;
                .selectboxit{
                    width: 180px !important;
                }
                .selectboxit-text{
                    max-width: 180px !important;
                }
                .selectboxit-options{
                    width: 180px !important;
                }
                span{
                    height: 35px;
                    line-height: 32px;
                    font-size: 16px;
                    font-family: "Titillium Web",sans-serif;
                }
                .selectboxit-default-arrow {
                    top: 18px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 9px solid #fff;
                }
                .selectboxit-arrow-container:after{
                    top: 6px;
                    border-bottom: 9px solid #fff;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
            }
            .team-select2{
                margin-right:10px;
            }
            .btn-grey{
                padding: 4px 15px;
            }
            /*            @media screen and  (max-width:1122px){
                            .search-field{
                                float:right;
                                margin-right: 0;
                                min-width: 200px;
                            }
                            .btn-grey{
                                float:right;
                            }
                            #positionSelectBoxItContainer{
                                margin-bottom: 10px;
                            }
                        }*/
            @media screen and (max-width:1122px){
                .btn-grey{
                    display: block;
                    float: right;
                    margin-top: 10px;
                }
                .search-field{
                    min-width: 180px;
                    margin: 0;
                    display:none;
                    &.mob{
                        width: calc(100% - 92px);
                        float: left;
                        margin-top: 10px;
                        display: block;
                    }
                }
                #positionSelectBoxItContainer{
                    width: 100%;
                    margin-bottom: 10px;
                    .selectboxit {
                        width: 100% !important;
                    }
                    .selectboxit-options{
                        width: 100% !important;
                    }
                }
                #teamSelectBoxItContainer{
                    width: 100%;
                    .selectboxit {
                        width: 100% !important;
                    }
                    .selectboxit-options{
                        width: 100% !important;
                    }
                }
                .team-select2{
                    margin-right: 0;
                }
            }
            /*            @media screen and (max-width:420px){ //commented by MP
                            .selectboxit-container{
                                .selectboxit{
                                    width: 230px !important;
                                }
                                .selectboxit-text{
                                    max-width: 230px !important;
                                }
                                .selectboxit-options{
                                    width: 230px !important;
                                }
                            }
                            #positionSelectBoxItContainer{
                                margin-bottom: 10px;
                                float: left;
                            }
                            #teamSelectBoxItContainer{
                                float: left;
                            }
                            .search-field{
                                &.mob{
                                    width: 100%;
                                }
                            }
                        }*/
        }
    }
}
.control-commas {
    overflow: hidden;
    text-indent: -3px;
}
