@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
.share-tech-font{
    font-family: 'Share Tech Mono', monospace;
}
.round-header{
    @include make-sm-column(12);
    padding:0;
    .round-details{
        @include make-sm-column(12);
        padding:15px;
        background-color: $light_blue;
        color:$white;
        display: table;
        width: calc(100% + 1px) !important;
            display: none;
        p{
            @include make-sm-column(6);
            padding: 0;
            float: none !important;
            display: table-cell;
            vertical-align: middle;
            &>span{
                display: block;
            }
            &:nth-child(1){
                font-size: 42px;
                @extend .share-tech-font;
                text-align: left;
            }
            &:nth-child(2){
                text-align: right;
            }
        }
        @media screen and (min-width:769px) and (max-width:992px){
            padding:10px 5px;
            p{
                &:nth-child(1){
                    font-size: 26px;
                }
            }
        }
    }
    .round-text{
        @include make-sm-column(12);
        padding: 15px;
        color:$white;
        background-color: $green;
        text-align: center;
            display: none;
    }
}
