.trash-talk{
    @include make-sm-column(12);
    padding:0;
    border-bottom:1px solid $background_lighter;
    border-top:none;
    height: 33.33vh;
    overflow-y: auto;
    h3{
        padding: 10px;
        margin: 0;
        background-color:$nav; 
        color:$white;
        .fa{
            font-size: 20px;
            margin-right: 10px;
        }
    }
    .all-messages{
        overflow-y: auto;
        height: calc(33.33vh - 77px);
        .empty{
            background-color: #d9edf7;
            font-style: italic;
            font-size: 14px;
            color: #516a73;
            font-weight: 600;
            padding: 10vh 20px;
            text-align: center;
        }
    }
    .message{
        padding: 5px 10px;
        border-top: 1px solid $background_lighter;
        .sender{
            color: $light-grey;
            font-size: 13px;
        }
        .text{
            font-size: 16px;
        }
    }
    form{
        .grey-input-field{
            height: 30px;
            margin: 0;
            border: none;
            border-top: 1px solid $background_lighter;
            border-bottom: 1px solid $background_lighter;
        }
    }
    #no-more-messages{
        p{
            padding: 10px;
        }
        text-align: center;
        background-color: #d9edf7;
        font-style: italic;
        font-size: 14px;
        color: #516a73;
        font-weight: 600;
    }
}
