@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/ad_block";
.widget--content{
    @extend .container; 
    .widget--box{
        @include make-sm-column(8);
        .widget--post{
            @include make-sm-column(4);
            h3{
                font-size: 17px;
                line-height: 22px;
                font-weight: bold;
            }
            div:nth-child(1){
                background-position: center;
                height: 130px;
            }
            a{
                font-weight: 600;
            }
            @media #{$mobile} {
                margin-top: 20px;
            }
        }
    }
}
/*single-post*/
.single_post--content{ 
    @extend .container;  
    .post--content{
        @include make-sm-column(8);
        margin-top: 20px;
        &:after{
            content:'';
            margin-bottom: 70px;
            display: block;
            float: left;
            width: 100%;
        }
        .back-link{
            color: #516a73;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
            display: block;
            vertical-align: middle;
            .fa{
                font-size: 25px;
                vertical-align: bottom;
                line-height: 20px;
                padding-right: 5px;
            }
        }
        .single_post--post{
            .pool--main-heading{
                width: calc(100% - 221px);
                float: left;
            }
            .share-div{
                @extend .pull-right;
                margin: 30px 0 20px 0;
                & >  span{
                    color: #516a73;
                    text-transform: uppercase; 
                    font-size: 14px;
                    vertical-align: middle;
                        margin-right: 5px;
                }
                a{
                    display: inline-block;
                    font-size: 20px;
                    width: 35px;
                    height: 35px;
                    line-height: 36px;
                    text-align: center;
                    color: $white;
                    position: relative;
                    margin-right: 3px;
                    & > i{
                        & > div{
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
                #facebook-share{
                    background-color: #405aa5;
                    .box{
                        display: none; 
                    }
                }
                #twitter-share{
                    background-color: #5baceb;
                }
                #google-share{
                    background-color: #d2543b;
                }
            }
            .post-pic{
                width: 100%;
            }
            .post-body{
                float: left;
                text-align: justify; 
                .ad-small-block {
                    img{
                        margin: 10px 0;
                    }
                }
                p{
                    float:left;
                }
            }
            .post-author{
                @include make-sm-column(6);
                padding: 0;
                text-align: left;
                margin-bottom: 10px;
            }
            .post-time{
                @include make-sm-column(6);
                padding: 0;
                text-align: right;
                margin-bottom: 10px;
            }
            .post-comment{
                float: left;
                width: 100%;
                form{
                    @extend .clearfix;
                    textarea{    
                        width: 100%;
                        float: left;
                        outline: 0;
                        padding: 6px 10px 6px 10px;
                        &:focus{
                            border: 1px solid #0F6AAE;
                            outline: 0;
                        }
                    }
                    .btn-backgreen{
                        padding: 4px 15px;
                        margin-top: 15px;
                        float: right;
                    }
                }
            }
            .all-comments{
                float: left;
                width: 100%;
                margin-top: 15px;
                .each-comment{
                    padding-bottom: 10px;
                    border-bottom: 1px solid #e5e9ea;
                    margin-bottom: 10px;
                    & > div{
                        padding-top: 5px;
                        text-align: right;
                    }
                    .name{
                        &:before{
                            content: 'By';
                            padding-right: 5px;
                        }
                    }
                    .created{
                        margin-left: 5px;
                        color: #90949c;
                    }
                }
            }
        }
        .ad-small-block{
            display: none;
        }
    }
}
/*single-post-ends*/
.index--content{
    @extend .container;
    .index--posts{
        @include make-sm-column(8);
        padding-left: 0;
        margin-top: 20px;
        &:after{
            content:'';
            margin-bottom: 70px;
            display: block;
            float: left;
            width: 100%;
        }
        .index--post{
            @include make-sm-column(12);
            padding: 0;
            margin-bottom: 40px;
            .index--post-left{
                @include make-sm-column(4);
                padding: 0;
                text-align: center;
                img{
                    width: 100%;
                    max-width:100%;
                }
                @media #{$mobile} {
                    margin-bottom: 20px;
                }
            }
            .index--post-right{
                @include make-sm-column(8);
                padding: 0;
                padding-left: 15px;
                .index--post-title{ 
                    @include make-sm-column(12);
                    padding: 0;
                    h3{
                        margin-top: -4px;
                    }
                }
                .index--post-author{
                    @include make-sm-column(6);
                    padding: 0;
                    text-align: left;
                    margin-bottom: 3px;
                }
                .index--post-time{
                    @include make-sm-column(6);
                    padding: 0;
                    text-align: right;
                    margin-bottom: 3px;
                }
                .index--post-body{
                    @include make-sm-column(12);
                    padding: 0;
                }
                @media #{$mobile} {
                    padding: 0;
                }
            }
        }
    }
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .blog-post{
            padding: 0 15px;
        }
    }
}
//Remove this and solve issue
body{
    overflow-x: hidden;
}