@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pagination";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";

/*messages1*/
.message1{
    @include make-sm-column(12);
    @include make-md-column(9);
    margin:auto; 
    overflow: hidden;
    margin-bottom: 35px;
    /*message-header */
    .message-header{
        width: 100%;
        float:left;
        h4{
            text-transform: uppercase;
            margin-top: 20px;
            font-size: 21px;
            float: left;
        }
        a{
            float:right;
            margin-top: 20px;
        }
    }
    textarea.grey-field{
        resize:none;
        margin: 15px 0px;
        float: left;
        width: 100%;
        border-radius: 0;
        &:focus{
            outline: 0;
            box-shadow: none;
            border-color: #cccccc;
        }
    }
    .post-btn{
        text-align: right;
    }
    /*message-header ends*/
    /*message-nav*/
    .message-nav{
        width: 100%;
        float:left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding: 0;
        ul{
            @extend .list-inline;
            margin-bottom: 0;
            margin-top: 20px;
            margin-left: 0;
            li {
                position: relative;
                min-width: 110px;
                text-align: center;
                padding: 0;
                margin-right: 6px;
                border: 1px solid $background_lighter;
                box-shadow: inset 0 0 2px 0px $background_lighter;
                font-size: 15px;
                &.active {
                    background: $dark-grey;
                    box-shadow: none;
                    border: 1px solid $dark-grey;
                    a{
                        padding: 11px 20px 11px 20px;
                        color: $white;
                        /*text-transform: uppercase;*/

                        &:hover{
                            color: $white;
                            text-decoration: none;
                        }
                        &:focus{
                            color: $white;
                            text-decoration: none;
                        }
                    }
                    .bottom-shadow {
                        width: 0;
                        height: 0;
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        border-top: 7px solid $dark-grey;
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        z-index: 5;
                        transform: rotate(0deg);
                        box-shadow: none;
                        margin-left: -10.5px;
                    }
                }
                a{
                    display: inline-block;
                    padding: 11px 20px 3px 20px;
                    width: 100%;
                    text-transform: capitalize;
                    &:hover{
                        text-decoration: none;
                    }
                    &:focus{
                        text-decoration: none;
                    }
                }
                .bottom-shadow {
                    display: inline-block;
                    width: 100%;
                    height: 8px;
                    margin: 0;
                    float: left;
                    box-shadow: inset 0 8px 6px -4px $background_lighter;
                    transform: rotate(180deg);
                }
                .notification{
                    position: absolute;
                    top: -9px;
                    right: -7px;
                    background: #F56200;
                    border-radius: 100%;
                    font-size: 14px;
                    width: 20px;
                    font-weight: 600;
                    height: 20px;
                    color: #fff;
                    line-height: 19px;
                    text-align: center;
                }
            }
        }
    }
    /*message-nav ends*/
    /*message-box*/
    .message-box{
        background-color: $background_lightest;
        padding: 20px;
        width: 100%;
        float: left;
        border-bottom: 2px solid #fff;
        /*form*/
        form{
            input.grey-field{
                font-size: 15px;
                @extend .form-control;
                border-radius: 0;
                margin-bottom:20px;
                &:focus{
                    border-color: #ccc;
                    outline: 0;
                    box-shadow:none; 
                }
            }
            textarea.grey-field{
                font-size: 15px;
                @extend .form-control;
                border-radius: 0;
                margin-bottom:20px;
                resize: none;
                &:focus{
                    border-color: #ccc;
                    outline: 0;
                    box-shadow:none;
                }
            }
            .identity{
                width:50%;
                float:left;
                padding: 0;
                label{
                    font-weight: normal;
                    color:$grey-text;
                }
                a{
                    color: $blue-text;
                    text-decoration: underline;
                    font-weight: bold;
                }
                span{
                    &:after{
                        content: '';
                        border-left: 1px solid $grey-text;
                        margin: 0px 10px;
                        font-size: 10px;
                    }
                }
            }
            .post-btn{
                padding: 0;
                text-align:right;
                .btn-backgreen {
                    @extend .btn;
                    border-radius: 2px;
                    padding: 3px 27px;
                    text-transform: capitalize;
                    display: inline-block;
                    text-align: center;
                    font-size: 15px;
                    text-decoration: none;
                    color: $white;
                    border: 1px solid $green;
                    background: $green;
                    background-image: linear-gradient(to bottom, $green, $main_action);
                    border-bottom: 2px solid $main_action_dark;
                    &:hover {
                        color: #fff;
                        text-decoration: none;
                        background: #6db82e;
                        background-image: linear-gradient(to bottom, #6db82e, #6db82e);
                    }
                }
            }
        }
        /*form-ends*/
    }
    /*message-box ends*/

    /*message-posts*/
    .message-posts{
        border:1px solid  $livescoreboard_bg;
        width:100%;
        float:left;
        padding: 0;
        #all-messages-sorting{
            cursor:pointer;
        }
        /*message-posts headings*/
        .message-post-headings{
            width:100%;
            float:left;
            padding: 13px 20px;
            background-color: $livescoreboard_bg;
            min-height:40px;
            text-transform:capitalize;
            .post-headings-like{
                width: 9%;
                float: left;
                color: $blue-text;
                text-align: center;
                span{
                    background-image: url(../../img/graphics.png);
                    background-repeat: no-repeat;
                    background-position: -132px -245px;
                    height: 20px;
                    width: 25px;
                    display: inline-block;
                }
            }
            .post-headings-dislike{
                width: 9%;
                float: left;
                color: $blue-text;
                text-align: center;
                span{
                    background-image: url(../../img/graphics.png);
                    background-repeat: no-repeat;
                    background-position: -177px -247px;
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                }
            }
            .post-headings-replies{
                width: 13%;
                float: left;
                color: $blue-text;
                text-align: center;
            }
            .post-headings-latest{
                width: 13%;
                float: left;
                color: $blue-text;
                &:after{
                    content: '';
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 7px solid $blue-text;
                    float: right;
                    margin-top: 7px;
                }
                &.desc{
                    &:after{
                        transform:rotate(180deg);
                    }
                }
            }
            .post-headings-title{
                width: 50%;
                float: left;
                color: $grey-text;
                padding: 0;
            }
        }
        /*message-posts headings ends*/

        /*message-posts details*/
        .message-post-details{
            width:100%;
            float:left;
            padding:0 20px;
            .post{
                width:100%;
                float:left;
                padding:20px 0;
                border-bottom: 1px solid  $livescoreboard_bg;
                .post-message{
                    width:50%;
                    float:left; 
                    padding: 0;
                    a{
                        color: $blue-text;
                        font-size: 16px;
                    }
                    div{
                        p{
                            display:inline;
                            &:first-child{
                                color: $grey-text;
                                &:after {
                                    content: '';
                                    border-left: 1px solid $grey-text;
                                    margin: 0px 5px 0 7px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
                /*post-options*/
                .post-options{
                    width:50%;
                    float:left; 
                    padding: 0;
                    .post-likes, .post-dislikes,.post-replies{
                        width: 18%;
                        float: left;
                        text-align: center;
                    }
                    .post-replies{
                        width:26%;
                    }
                    .post-latest{
                        width: 38%;
                        float: right; 
                        p:first-child{
                            float:left;
                            &:after {
                                content: '';
                                border-left: 1px solid $grey-text;
                                margin:0px 7px 0 7px;
                                height: 12px;
                                display: inline-block;
                            }
                        }
                    }
                    .post-likes{
                        color: $like-color;
                    }
                    .post-dislikes{
                        color: $dislike-color;
                    }
                }
                /*post-options*/
                &:last-child{
                    border: none;
                }
            }
        }
    }
}



@media(min-width:768px){
    .message1{
        float: none;
    }
}
@media(max-width:768px){
    .message1{
        /*message-nav-mobile*/
        .message-nav{
            ul{
                &:first-child{
                    display: none;
                }
            }
            .bootstrap_btn_mobile{
                position: relative;
                float: left;
                ul{
                    position:absolute;
                    z-index:3;
                    top:25px;
                    min-width: 130px;
                    li{
                        display: none;
                        background-color: $blue-text;
                        box-shadow:none;
                        border:none;
                        border-bottom: 1px solid #0F568C;
                        a{
                            color:$white;
                            padding:11px 10px;
                        }
                        .bottom-shadow {
                            box-shadow: none;
                        }
                    }
                }
                li{
                    &.active {
                        list-style: none;
                        min-width: 110px;
                        float: left;
                        text-align: center;
                        margin-right: 6px;
                        background: $dark-grey;
                        box-shadow: none;
                        border: 1px solid $dark-grey;
                        padding: 11px 10px 11px 10px;
                        a{
                            font-size: 15px;
                            color: $white;

                            &:hover{
                                color: $white;
                                text-decoration: none;
                            }
                            &:focus{
                                color: $white;
                                text-decoration: none;
                            }
                        }
                        .bottom-shadow {
                            width: 0;
                            height: 0;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            border-top: 7px solid $dark-grey;
                            position: absolute;
                            bottom: -7px;
                            left: 50%;
                            margin-left: -10.5px;
                        }
                    }
                    .close-sign{
                        position: absolute;
                        top: 0px;
                        right: 6px;
                        width: 18px;
                        height: 15px;
                        &:before {
                            height: 10px;
                            width: 2px;
                            right: 6px;
                            top: 2px;
                            content: '';
                            position: absolute;
                            background-color: #fff;
                            transform: rotate(45deg);
                        }
                        &:after {
                            height: 10px;
                            width: 2px;
                            right: 6px;
                            top: 2px;
                            content: '';
                            position: absolute;
                            background-color: #fff;
                            transform: rotate(-45deg);
                        }
                    }
                }
                .navbar-toggle{
                    margin: 0;
                    background: $green;
                    border-radius: 0;
                    padding: 13px 8px;
                    float: left;
                    .icon-bar{
                        background: $white;
                        width: 24px;
                        height: 3px;
                    }
                }
                .crossbtn{
                    display: none;
                    position: absolute;
                    background: #fff;
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    left: -1px;
                    bottom: -1px;
                    background-image: url("../../img/graphics.png");
                    background-position: -220px -97px;
                    &.show{
                        display: block; 
                    }
                }
            }
        }
        /*message-nav-mobile ends*/
    }
}
/*messages1 ends*/

/*messages2*/
.message2{
    @include make-sm-column(12);
    @include make-md-column(9);
    @include make-lg-column(8);
    margin:auto;
    overflow: hidden;
    margin-bottom: 35px;
    /*message-header*/
    .message-header{
        padding: 10px 0;
        h4{
            text-transform: uppercase;
            margin-top: 20px;
            font-size: 21px;
            float:left;
            margin-bottom: 0px;
        }
        .btn-backgreen {
            @extend .btn;
            border-radius: 4px;
            padding: 7px 11px;
            text-transform: uppercase;
            display: inline-block;
            text-align: center;
            font-size: 15px;
            text-decoration: none;
            color: $white;
            border: 1px solid $green;
            background: $green;
            background-image: linear-gradient(to bottom, $green, $main_action);
            border-bottom: 2px solid $main_action_dark;
            margin-top: 20px;
            float:right;
            &:hover {
                color: #fff;
                text-decoration: none;
                background: #6db82e;
                background-image: linear-gradient(to bottom, #6db82e, #6db82e);
            }
            span{
                margin-right: 6px;
                font-size: 20px;
                line-height: 0.8;
            }
        }
    }
    /*message-header ends*/
    /*message-nav*/
    .message-nav{
        position: relative;
        width: 100%;
        float:left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        padding: 0;
        ul{
            @extend .list-inline;
            margin-bottom: 0;
            margin-top: 10px;
            margin-left: 0;
            li {
                position: relative;
                min-width: 110px;
                text-align: center;
                padding: 0;
                margin-right: 6px;
                border: 1px solid $background_lighter;
                box-shadow: inset 0 0 2px 0px $background_lighter;
                font-size: 15px;
                &.active {
                    background: $dark-grey;
                    box-shadow: none;
                    border: 1px solid $dark-grey;
                    a{
                        padding: 11px 40px 11px 40px;
                        color: $white;

                        &:hover{
                            color: $white;
                            text-decoration: none;
                        }
                        &:focus{
                            color: $white;
                            text-decoration: none;
                        }
                    }
                    .bottom-shadow {
                        width: 0;
                        height: 0;
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        border-top: 7px solid $dark-grey;
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        z-index: 5;
                        transform: rotate(0deg);
                        box-shadow: none;
                        margin-left: -10.5px;
                    }
                }
                a{
                    display: inline-block;
                    padding: 11px 40px 3px 40px;
                    width: 100%;
                    text-transform: capitalize;
                    &:hover{
                        text-decoration: none;
                    }
                    &:focus{
                        text-decoration: none;
                    }
                }
                .bottom-shadow {
                    display: inline-block;
                    width: 100%;
                    height: 8px;
                    margin: 0;
                    float: left;
                    box-shadow: inset 0 8px 6px -4px $background_lighter;
                    transform: rotate(180deg);
                }
                .notification{
                    position: absolute;
                    top: -9px;
                    right: -7px;
                    background: #F56200;
                    border-radius: 100%;
                    font-size: 14px;
                    width: 20px;
                    font-weight: 600;
                    height: 20px;
                    color: #fff;
                    line-height: 19px;
                }
                .close-sign{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 18px;
                    height: 15px;
                    &:before {
                        height: 10px;
                        width: 2px;
                        top: 2px;
                        content: '';
                        position: absolute;
                        background-color: #fff;
                        transform: rotate(45deg);
                    }
                    &:after {
                        height: 10px;
                        width: 2px;
                        top: 2px;
                        content: '';
                        position: absolute;
                        background-color: #fff;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

    }
    /*message-nav ends*/
}
.champions{
    border:1px solid  $livescoreboard_bg;
    width:100%;
    float:left;
    padding:0 30px;
    /*champion-post*/
    .champion-post{
        float: left;
        width: 100%;
        padding-top: 30px;
        border-bottom:1px solid $livescoreboard_bg;
        &:first-child, &:last-child{
            border-bottom: none;
        }
        .champion-post{
            .champion-pic{

            }
            .champion-details{

            }
            .champion-post{
                div.champion-pic{
                    width: 14%;
                }
                .champion-details{
                    width: 86%;
                }
                .champion-post{
                    div.champion-pic{
                        width: 16%;
                    }
                    .champion-details{
                        width: 84%;
                    }
                }
            }
        }
        .champion-pic{
            width:12%;
            float:left;
            img{
                border-radius: 50%;
                height: 54px;
                width: 54px;
                border: 2px solid $blue-text;
                float:left;
            }
        }
        .champion-details{
            width:88%;
            float:left;
            .champion-name{
                color: $blue-text;
                text-transform: capitalize;
                width: 30%;
                float: left;
                font-size: 17px;
            }
            .post-date{
                width: 180px;
                float: right;
                text-align: right;
                p{
                    float:left;
                    &:first-child{
                        text-align: right;
                        &:after{
                            content: '';
                            border-left: 1px solid $grey-text;
                            margin: 0px 7px;
                            font-size: 10px;
                        }
                    }
                }
                span{
                    float:left;
                }
            }
            h3{
                clear: both;
                color: $blue-text;
                margin: 0;
                float: left;
                font-size: 22px;
            }
            .description{
                clear: both;
                float: left;
                width: 72%;
                span{
                    display: none;
                }
                &.readmore{
                    span{
                        display: block;
                    }
                    p{
                        display: none;
                    }
                }
            }
            .show-text{
                color: $blue-text;
                text-decoration: underline;
                font-weight: bold;
                float: left;
                width: 100%;
                margin-top: 10px;
                display: none;
            }
            .post-reponses{
                width: 100%;
                float:left;
                margin-top: 10px;
                margin-bottom: 15px;
                p{
                    min-width: 30px;
                    float: left;
                    cursor: pointer;
                    margin-right: 10px;
                }
                .likes{
                    color: $like-color;
                    line-height: 1.8;
                    span{
                        background-image: url(../../img/graphics.png);
                        background-repeat: no-repeat;
                        background-position: -132px -245px;
                        height: 20px;
                        width: 25px;
                        float: right;
                    }
                }
                .dislikes{
                    color: $dislike-color;
                    line-height: 1.7;
                    span{
                        background-image: url(../../img/graphics.png);
                        background-repeat: no-repeat;
                        background-position: -175px -245px;
                        height: 25px;
                        width: 25px;
                        float: right;
                    }
                }
                .replies{
                    color: $blue-text;
                    span{
                        background-image: url(../../img/graphics.png);
                        background-repeat: no-repeat;
                        background-position: -224px -247px;
                        height: 20px;
                        width: 25px;
                        float: left;
                    }
                }
            }
        }
        /*sort-posts*/
        .sort-posts{
            float: left;
            width: 100%;
            border-top: 1px solid $livescoreboard_bg;
            border-bottom: 1px solid $livescoreboard_bg;
            padding: 7px 0;
            color:$blue-text;
            .active{
                color:$grey-text;
            }
            label{
                text-transform: capitalize;
                float: left;
                min-width: 36px;
                color:$grey-text;
                font-weight: normal;
            }
            p{
                cursor:pointer;
                min-width: 60px;
                text-transform: capitalize;
                float: left;
                &:nth-child(2):after , &:nth-child(3):after {
                    content: '';
                    border-left: 1px solid $livescoreboard_bg;
                    margin:0px 5px 0 7px;
                    font-size: 10px;
                }
            }
            .expand-all{
                float: right;
                &:after{
                    content: '';
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 7px solid $blue-text;
                    float: right;
                    margin-left: 7px;
                    margin-top: 8px;
                    transform:none;
                }
                &.expanded{
                    &:after{
                        transform: rotate(180deg);
                    }
                }
            }
        }
        /*sort-posts*/
        .champion-post{
            padding-top: 10px;
            .description{
                width: 67%;
            }
        }
    }
    /*champion-post ends*/
}
@media(min-width:768px){
    .message2{
        float: none;
    }
    .bootstrap_btn_mobile{
        display: none;
    }
}
@media(max-width:768px){
    .message2{
        /*message-nav-mobile*/
        .message-nav{
            ul{
                &:first-child{
                    display: none;
                }
            }
            .bootstrap_btn_mobile{
                position: relative;
                float: left;
                ul{
                    position:absolute;
                    z-index:3;
                    top:35px;
                    min-width: 130px;
                    li{
                        display: none;
                        background-color: $blue-text;
                        box-shadow:none;
                        border:none;
                        border-bottom: 1px solid #0F568C;
                        a{
                            color:$white;
                            padding:11px 10px;
                        }
                        .bottom-shadow {
                            box-shadow: none;
                        }
                    }
                }
                li{
                    &.active {
                        list-style: none;
                        min-width: 110px;
                        float: left;
                        text-align: center;
                        margin-right: 6px;
                        background: $dark-grey;
                        box-shadow: none;
                        border: 1px solid $dark-grey;
                        padding: 11px 10px 11px 10px;
                        a{
                            font-size: 15px;
                            color: $white;

                            &:hover{
                                color: $white;
                                text-decoration: none;
                            }
                            &:focus{
                                color: $white;
                                text-decoration: none;
                            }
                        }
                        .bottom-shadow {
                            width: 0;
                            height: 0;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            border-top: 7px solid $dark-grey;
                            position: absolute;
                            bottom: -7px;
                            left: 50%;
                            margin-left: -10.5px;
                        }
                    }
                    .close-sign{
                        position: absolute;
                        top: 0px;
                        right: 6px;
                        width: 18px;
                        height: 15px;
                        &:before {
                            height: 10px;
                            width: 2px;
                            right: 6px;
                            top: 2px;
                            content: '';
                            position: absolute;
                            background-color: #fff;
                            transform: rotate(45deg);
                        }
                        &:after {
                            height: 10px;
                            width: 2px;
                            right: 6px;
                            top: 2px;
                            content: '';
                            position: absolute;
                            background-color: #fff;
                            transform: rotate(-45deg);
                        }
                    }
                }
                .navbar-toggle{
                    margin: 0;
                    background: $green;
                    border-radius: 0;
                    padding: 13px 8px;
                    float: left;
                    .icon-bar{
                        background: $white;
                        width: 24px;
                        height: 3px;
                    }
                }
                .crossbtn{
                    display: none;
                    position: absolute;
                    background: #fff;
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    left: -1px;
                    bottom: -1px;
                    background-image: url("../../img/graphics.png");
                    background-position: -220px -97px;
                    &.show{
                        display: block; 
                    }
                }
            }
        }
        /*message-nav-mobile ends*/
    }
}
@media(max-width:590px){
    .message2{
        .champions{
            .champion-post{   
                .champion-details{
                    width:100%;
                }
            }
        }
    }
}


span{
    &.close-sign{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 18px;
        height: 15px;
        cursor:pointer;
        &:before {
            height: 10px;
            width: 2px;
            top: 2px;
            content: '';
            position: absolute;
            background-color: #fff;
            transform: rotate(45deg);
        }
        &:after {
            height: 10px;
            width: 2px;
            top: 2px;
            content: '';
            position: absolute;
            background-color: #fff;
            transform: rotate(-45deg);
        }
    }
}
.has-error + div.error-msg{
    margin-top: -20px;
    margin-bottom: 20px;
}
/*post-submit-btn*/
.submit-btn,.submit-post-btn{
    .fa{
        display:none;
    }
    &.active{
        opacity: 0.7;
        .fa{
            display: inline-block;
            font-size: 25px;
            margin-left: 10px;
            vertical-align: middle;
            line-height: 17px;
            margin-top: -3px;
        }
    }
}
.reply-message,#reply-message-form{
    width: 100%;
    float: left;
}
#reply-message-form .success{
    float: left;
    width: 100%;
}
.disabled{
    pointer-events: none;
}
//pool name header
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
.pool--content{
    border-bottom: 1px solid #e5e9ea;
}
.pool-name-header{
    border-bottom: 0;
    padding-bottom: 0;
    .pool-action{
        ul{
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
    #pool--content{
        padding:0 !important;
    }
    .pool-overview{
        padding: 0 15px;
    }
}
//END 

//private-messages
.private-messages{
    width: 100%;
    float: left;
    padding: 0;
    border: 1px solid $livescoreboard_bg;
    .icon{
        background-image: url(../../img/graphics.png);
        height: 20px;
        width: 25px;
        float: left;
    }
    .vertical-line{
        width: 1px;
        height: 10px;
        display: inline-block;
        margin: 0 8px;
        vertical-align: middle;
        background-color: $dark;
    }
    form{
        width: 100%;
        float: left;
        background-color: $background_lightest;
        padding: 20px;
        .input-field{
            font-size: 15px;
            @extend .form-control;
            height: 42px;
            padding: 8px 16px;
            margin-bottom: 10px !important;
            border-radius: 0;
            margin-bottom:20px;
            &:focus{
                border-color: #ccc;
                outline: 0;
                box-shadow:none; 
            }
        }
        select.input-field{
            color:$light-grey;
        }
        .submit-btn{
            padding: 0;
            text-align:right;
            .btn-backgreen {
                @extend .btn;
                border-radius: 2px;
                padding: 3px 27px;
                font-size: 15px;
                border-bottom: 2px solid #438627;
                margin: 0;
                &:hover,  &:focus{
                    color: #fff;
                    text-decoration: none;
                    background: #6db82e;
                    background-image: linear-gradient(to bottom, #6db82e, #6db82e);
                    outline: none;
                }
            }
        }
    }
    .private-message-header{
        float: left;
        width: 100%;
        border-bottom: 1px solid $livescoreboard_bg; 
        .btn-backgreen{
            padding: 6px 12px 6px 20px;
            float: right;
            margin: 10px 15px;
        }
        .inbox-icon{
            display: inline-block;
            margin: auto;
            float: right;
            margin: 3px 0 0 20px;
            margin-left: 20px;
            background-position: 38px -6px;
            position: relative;
        }
        .private-message-form{
            width: 100%;
            float: left;
            .header-text{
                background-color: $brand_bg;
                color:$white;
                float: left;
                width: 100%;
                border-top: 5px solid $blue-text;
                text-transform: uppercase;
                padding: 15px 20px;
                font-size: 19px;
            }
        }
    }
    .private-message-box{
        float: left;
        width: 100%;
        .single-message{
            padding: 10px 15px;
            float: left;
            width: 100%;
            border-bottom: 1px solid $livescoreboard_bg;
            &:last-child{
                border-bottom: none;
            }
            .message-details{
                float: left;
                width: 100%;
                color: $dark;
                .message-subject{
                    font-weight: 600;
                    font-size: 16px;
                    color: $dark;
                    text-decoration: none;
                }
                .message{
                    font-size: 13px;
                    p{
                        width: calc(100% - 110px);
                        margin: 5px 0 5px 0;
                        float: left;
                    }
                }
                .message-sender{
                    float: left;
                    width: 100%;
                    font-size: 12px;
                }
            }
        }
    }
    .message-actions{
        width: 110px;
        float: left;
        text-align: center;
        .icon{
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            cursor: pointer;
        }
        .reply-icon{
            background-position: -224px -247px;
        }
        .trash-icon{
            display: inline-block; 
            /*vertical-align: middle;*/
            margin: 0 15px;
            cursor: pointer;
            line-height: 1;
            /*background-position: -224px -247px;*/
        }
    }
    .single-message-thread{
        width: 100%;
        float: left;
        .all-replies{
            padding: 20px;
            width: 100%;
            float: left;
            .message-reply{
                padding: 0;
                margin: 0;
                width: 100%;
                float: left;
                border:none;
                /*border-bottom: 1px solid $livescoreboard_bg;*/
                border-radius: 0;
                box-shadow: none;
                &:last-child{
                    border-bottom:none;
                }
                .panel-heading{
                    border-radius: 0px;
                    padding: 0;
                    border:none;
                    background-color:none;
                    .panel-title{
                        overflow: hidden;
                    } 
                    a{
                        font-size: 14px;
                        width: 100%;
                        float: left;
                        padding: 10px 15px;
                        text-align: center;
                        padding: 10px 15px;
                        line-height: 2;
                        background-color: $white;
                        border:1px solid $white;
                        text-decoration:none;
                        .reply-subject{
                            display: none;
                            float: left;
                        }
                        .vertical-line{
                            width: 1px;
                            height: 13px;
                            display: inline-block;
                            margin: -1px 20px 0 0;
                            vertical-align: middle;
                            background-color: #333;
                        }
                        .message-actions{
                            display: inline-block;
                        }
                        &.collapsed{
                            background-color: $background_lightest;
                            border:1px solid $background_lightest;
                            .message-actions{
                                display: none;
                            }
                            .reply-subject{
                                display: inline-block;
                            }
                        }
                    }
                    .reply-time{
                        float: right;
                    }
                }
                .sender-name{
                    width: auto;
                    min-width: 130px;
                    padding: 0 10px;
                    float: left;
                    text-align: left;
                    font-weight: 600;
                    color: $dark;
                    font-size: 16px;
                }
                .user-icon{
                    height: 30px;
                    width: 30px;
                    background-position: -338px -196px;
                    float: left;
                    display: block;
                }
                .reply-text{
                    float: left;
                    width: 100%;
                    white-space: pre-line;
                }
                .message-actions{ 
                    width: auto;
                    float: right;
                    .icon{
                        margin: 0 5px;
                    } 
                }
            }
            .panel-body{
                border-top: none;
            }
        }
    }
}
.private-messages .private-message-box .single-message.grey{
    background-color: #f9f9f9;
} 