@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pagination";
@import "../includes/ad_block";

.player-transaction-conatiner{
    @include make-sm-column(12);
    padding: 0;
    .player-transaction{
        @include make-sm-column(8);
        padding: 0;
        /*pool-slider*/
        .player-transaction-slider{
            position: relative;
            height: 82px;
            width: 100%;
            overflow: hidden;
            float: left;
            margin-top: 10px;
            .graphics{
                background-image: url("../../img/graphics.png");
                height: 34px;
                width: 24px; 
                margin: auto;
                margin-top: 35%;
                background-position: -238px -35px;
                cursor: pointer;
            }
            .slider--left-arrow{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 50px;
                background: $white;
                .graphics{
                    background-position: -218px -35px;
                }
            }
            .slider--right-arrow{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50px;
                background:$white;
                .graphics{
                    background-position: -238px -35px;
                }
            }
            .slider{
                margin-left:50px;
                .transaction{
                    border:1px solid $light-grey;
                    text-align: center;
                    width: 97px;
                    float: left;
                    height: 100%;
                    padding: 9px 0;
                    color:$black;
                    border-right: none;
                    &:last-child{
                        border-right: 1px solid $light-grey;
                    }
                    .day{
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    .month{
                        font-weight: bold;
                    }
                }
            }
        }
        /*pool-slider ends*/
        /*datepicker*/
        .calender{
            width: 100%;
            float: left;
            text-align:center;
            margin:10px 0 40px 0;
            position:relative;
            input.datepicker{
                background: transparent;
                color: transparent;
                border: none;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
            .see-calender{
                z-index: -1;
                position: absolute;
                top:0;
                left:37%;
                background-color: $white;
                color: $blue-text;
                font-weight: 300;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                margin-left: 15px;
                cursor: pointer;
                text-align: center;
                float: left;
                text-transform: uppercase;
            }
        }
        /*datepicker-ends*/
    }
}
