@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/pagination"; 
@import "../includes/footer"; 

.player--content{
    @include make-sm-column(12);
    padding: 0;
    margin-bottom:35px;
    .view-statistics{
        @include make-sm-column(12);
        padding: 0; 
        padding: 20px 0px;
        .statistics-buttons{
            float: right;
        }
        .player-select-heading{
            width: 153px;
            float: left;
            p{
                float: left;
            }
            .pool--main-heading{
                margin: auto;
            }
        }
    }
    .selectboxit-container{
        float:left;
        span{
            height:35px;
            line-height:35px;
        }
        .selectboxit-arrow-container{
            .selectboxit-default-arrow{
                top: 18px;
                &:after{
                    top: 8px;
                }
            }
        }
        .selectboxit-options {
            a{
                font-size: 14px;
            }
        }
    }
    .player-select-box {
        float: left;
        padding: 0 30px 35px 0px;
        .pool--main-heading{
            margin-bottom: 5px;
            font-size: 22px;
            margin-top: 10px;
        }
    }
}