/* SQUARED THREE */
.custom-checkbox{
    width: 20px;	
    position: relative;
    input[type=checkbox] {
        visibility: hidden;
    }
    label{
        cursor: pointer;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        border-radius: 4px;
        background: $nav;
        &:after{
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 11px;
            height: 6px;
            background: transparent;
            top: 6px;
            background: transparent;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:hover{
            &:after{
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
                filter: alpha(opacity=30);
                opacity: 0.3;
            }
        }
    }
    input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
.white-small-select{
    float:left;
    .selectboxit-container .selectboxit{
        background-color: #fff;
        color:$pagination-color;
    }
    .selectboxit-container .selectboxit-arrow-container .selectboxit-default-arrow{
        border-top:7px solid $pagination-color;
    }
    .selectboxit-container .selectboxit-arrow-container:after{
        border-bottom:7px solid $pagination-color;
    }
    .selectboxit-container .selectboxit-options a{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .flip-scroll-table{
        display: block; position: relative; width: 100%;
        width: 100%; border-collapse: collapse; border-spacing: 0;
        float:left;
        .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
        * html .cf { zoom: 1; }
        *:first-child+html .cf { zoom: 1; }
        th,
        td { margin: 0; vertical-align: top; }
        th { text-align: left; }
        thead { display: block; float: left; }
        tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
        thead tr { display: block; }
        th { display: block; text-align: right; }
        tbody tr { display: inline-block; vertical-align: top;    margin-left: -4px; }
        td { display: block; text-align: left; }
        /* sort out borders */
        th { border-bottom: 0; border-left: 0; 
             border-top: 1px solid #85969d !important;
             padding: 10px 15px !important;
             span{
                 right: 2px !important;
                 top: calc(50% - 5px)!important;
                 bottom:auto!important;
                 left: auto !important;
             }
        }
        td { border-left: 0; border-right: 0; border-bottom: 0;     min-height: 42px;}
        tbody tr { border-right: 1px solid #babcbf; }
        th:last-child,
            td:last-child { border-bottom: 1px solid #babcbf; }
    }
}