/*custom css*/
.relative {
    position: relative;
}
.text-uppercase{
    text-transform: uppercase;
} 
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.static {
    position: static;
}
.underline{
    text-decoration: underline;
}
.underline:hover,.underline:focus,.underline:active{
    text-decoration: underline;
}
.bordernone {
    border: 0;
}
.border1 {
    border: 1px solid $black;
}
.floatnone {
    float: none;
}
.marginauto {
    margin: auto;
}
.displaynone {
    display: none;
}
.width100 {
    width: 100%;
}
.maxwidth100 {
    max-width: 100%;
}
.invisible {
    opacity: 0;
}
.nooutline {
    outline: 0;
}
.hideoverflow {
    overflow: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.m0imp{
    margin:0!important;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.m15 {
    margin: 15px;
}
.m20 {
    margin: 20px;
}
.m25 {
    margin: 25px;
}
.m30 {
    margin: 30px;
}
.m35 {
    margin: 35px;
}
.m0 {
    margin: 0;
}
.m-5 {
    margin: -5px;
}
.m-10 {
    margin: -10px;
}
.m-15 {
    margin: -15px;
}
.m-20 {
    margin: -20px;
}
.m-25 {
    margin: -25px;
}
.m-30 {
    margin: -30px;
}
.m-35 {
    margin: -35px;
}
.m-40 {
    margin: -40px;
}
.m-45 {
    margin: -45px;
}
.m-50 {
    margin: -50px;
}
.ml0 {
    margin-left: 0;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml25 {
    margin-left: 25px;
}
.ml30 {
    margin-left: 30px;
}
.ml35 {
    margin-left: 35px;
}
.ml40 {
    margin-left: 40px;
}
.ml45 {
    margin-left: 45px;
}
.ml50 {
    margin-left: 50px;
}
.ml-5 {
    margin-left: -5px;
}
.ml-10 {
    margin-left: -10px;
}
.ml-15 {
    margin-left: -15px;
}
.ml-20 {
    margin-left: -20px;
}
.ml-25 {
    margin-left: -25px;
}
.ml-30 {
    margin-left: -30px;
}
.ml-35 {
    margin-left: -35px;
}
.ml-40 {
    margin-left: -40px;
}
.ml-45 {
    margin-left: -45px;
}
.ml-50 {
    margin-left: -50px;
}
.mr0 {
    margin-right: 0;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
}
.mr35 {
    margin-right: 35px;
}
.mr40 {
    margin-right: 40px;
}
.mr45 {
    margin-right: 45px;
}
.mr50 {
    margin-right: 50px;
}
.mr-5 {
    margin-right: -5px;
}
.mr-10 {
    margin-right: -10px;
}
.mr-15 {
    margin-right: -15px;
}
.mr-20 {
    margin-right: -20px;
}
.mr-25 {
    margin-right: -25px;
}
.mr-30 {
    margin-right: -30px;
}
.mr-35 {
    margin-right: -35px;
}
.mr-40 {
    margin-right: -40px;
}
.mr-45 {
    margin-right: -45px;
}
.mr-50 {
    margin-right: -50px;
}
.mt0 {
    margin-top: 0;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mt30 {
    margin-top: 30px;
}
.mt35 {
    margin-top: 35px;
}
.mt40 {
    margin-top: 40px;
}
.mt45 {
    margin-top: 45px;
}
.mt50 {
    margin-top: 50px;
}
.mt-5 {
    margin-top: -5px;
}
.mt-10 {
    margin-top: -10px;
}
.mt-15 {
    margin-top: -15px;
}
.mt-20 {
    margin-top: -20px;
}
.mt-25 {
    margin-top: -25px;
}
.mt-30 {
    margin-top: -30px;
}
.mt-35 {
    margin-top: -35px;
}
.mt-40 {
    margin-top: -40px;
}
.mt-45 {
    margin-top: -45px;
}
.mt-50 {
    margin-top: -50px;
}
.mb0 {
    margin-bottom: 0;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb35 {
    margin-bottom: 35px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb45 {
    margin-bottom: 45px;
}
.mb50 {
    margin-bottom: 50px;
}
.mb-5 {
    margin-bottom: -5px;
}
.mb-10 {
    margin-bottom: -10px;
}
.mb-15 {
    margin-bottom: -15px;
}
.mb-20 {
    margin-bottom: -20px;
}
.mb-25 {
    margin-bottom: -25px;
}
.mb-30 {
    margin-bottom: -30px;
}
.mb-35 {
    margin-bottom: -35px;
}
.mb-40 {
    margin-bottom: -40px;
}
.mb-45 {
    margin-bottom: -45px;
}
.mb-50 {
    margin-bottom: -50px;
}
.p0 {
    padding: 0;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
    padding-right: 10px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px;
}
.p25 {
    padding: 25px;
}
.p30 {
    padding: 30px;
}
.p35 {
    padding: 35px;
}
.p40 {
    padding: 40px;
}
.p45 {
    padding: 45px;
}
.p50 {
    padding: 50px;
}
.pl0 {
    padding-left: 0;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pl15 {
    padding-left: 15px;
}
.pl20 {
    padding-left: 20px;
}
.pl25 {
    padding-left: 25px;
}
.pl30 {
    padding-left: 30px;
}
.pl35 {
    padding-left: 35px;
}
.pl40 {
    padding-left: 40px;
}
.pl45 {
    padding-left: 45px;
}
.pl50 {
    padding-left: 50px;
}
.pr0 {
    padding-right: 0;
}
.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pr15 {
    padding-right: 15px;
}
.pr20 {
    padding-right: 20px;
}
.pr25 {
    padding-right: 25px;
}
.pr30 {
    padding-right: 30px;
}
.pr35 {
    padding-right: 35px;
}
.pr40 {
    padding-right: 40px;
}
.pr45 {
    padding-right: 45px;
}
.pr50 {
    padding-right: 50px;
}
.pt0 {
    padding-top: 0;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt25 {
    padding-top: 25px;
}
.pt30 {
    padding-top: 30px;
}
.pt35 {
    padding-top: 35px;
}
.pt40 {
    padding-top: 40px;
}
.pt45 {
    padding-top: 45px;
}
.pt50 {
    padding-top: 50px;
}
.pb0 {
    padding-bottom: 0;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb25 {
    padding-bottom: 25px;
}
.pb30 {
    padding-bottom: 30px;
}
.pb35 {
    padding-bottom: 35px;
}
.pb40 {
    padding-bottom: 40px;
}
.pb45 {
    padding-bottom: 45px;
}
.pb50 {
    padding-bottom: 50px;
}
p{
    margin: 0px;
}

%extend_1 {
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 12px;
    float: left;  
    padding: 6px 2px 1px 2px; 
    padding-left: 15px;
} 
.btn-group-justified{
    display: table;
    width: 100%; 
    table-layout: fixed;
    border-collapse: separate;
    box-sizing: border-box;
}
body{
    margin :0px;
    font-family: "Titillium Web",sans-serif;
    font-size: 15px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
a{
    text-decoration: none;
    color: #0E69AF;
    cursor: pointer;
}
a:hover,a:active,a:active{
    text-decoration: none;
}
%extend_2 { 
    color: $white;
    background: $main_action;
    border: 2px solid $main_action;
    text-decoration: none;
}
%extend_4 {
    padding: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    min-width: 110px;
    font-size: 15px;
    text-decoration: none !important;
}
.text-right {
    text-align: right !important;
}

.darkgray{
    color:$background_dark;
}
.heading, .pool--main-heading{
    color: #0F6AAE;
    font-weight: 300;
    font-size: 29px;
}
.pool--main-heading{
    margin: 30px 0 20px 0;
}
.pool--top-heading{
    color: #0F6AAE;
    margin: 0 0 20px 0;
    font-weight: 500;
}
.smallp{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: 500; 
}
.smallheading{
    color: #0F6AAE;
    font-weight: 300;
    font-size: 23px;
}
.btn-bordergreen{
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 15px;
    font-size: 15px;
    text-decoration: none !important;
    border: 1px solid #6db72e;
    text-align: center;
    color: #fff;
    &:hover{
        color: #6db82e;
        text-decoration: none;
    }
    &:active{
        color:#438627;
        text-decoration: none;
    }
    &:focus{
        color:#438627;
        text-decoration: none;
        outline:0;
    }
    &:active:focus{
        color:#438627;
        text-decoration: none;
        outline:0;
    }
}
.btn-green-line{
    border-radius: 2px;
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: #6db72e;
    border: 1px solid #6db72e;
    background: $white;
    font-size: 16px;
    &:hover{
        color: #6db72e;
        text-decoration: none;
    }
    &:active{
        color:#6db72e;
        text-decoration: none;
    }
    &:focus{
        color:#6db72e;
        text-decoration: none;
        outline:0;
    }
    &:active:focus{
        color:#6db72e;
        text-decoration: none;
        outline:0;
    }
}
.btn-orange-line{
    border-radius: 2px;
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    text-decoration: none !important;
    color: #F56200;
    border: 1px solid #F56200;
    &:hover{
        color: #F56200;
        text-decoration: none;
    }
    &:active{
        color:#F56200;
        text-decoration: none;
    }
    &:focus{
        color:#F56200;
        text-decoration: none;
        outline:0;
    }
    &:active:focus{
        color:#F56200;
        text-decoration: none;
        outline:0;
    }
}
.btn-orange{
    border-radius: 2px;
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    text-decoration: none !important;
    background-color: #F56200;
    color:$white;
    border: 1px solid #F56200;
    &:hover{
        background-color: #F56200;
        color:$white;
        text-decoration: none;
    }
    &:active{
        background-color: #F56200;
        color:$white;
        text-decoration: none;
    }
    &:focus{
        background-color: #F56200;
        color:$white;
        text-decoration: none;
        outline:0;
    }
    &:active:focus{
        background-color: #F56200;
        color:$white;
        text-decoration: none;
        outline:0;
    }
}
.btn-green{
    border-radius: 2px;
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color:$white;
    background-color: #6db72e;
    border: 1px solid #6db72e;
    font-size: 16px;
    &:hover{
        color:$white;
        background-color: #6db72e;
        text-decoration: none;
    }
    &:active{
        color:$white;
        background-color: #6db72e;
        text-decoration: none;
    }
    &:focus{
        color:$white;
        background-color: #6db72e;
        text-decoration: none;
        outline:0;
    }
    &:active:focus{
        color:$white;
        background-color: #6db72e;
        text-decoration: none;
        outline:0;
    }
}
.visible-xxs{
    display: none !important;
}
.btn-blue{
    border-radius: 2px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none !important;
    color: #fff;
    background: $nav;
    &:hover{
        background: $navhover;
        color: #fff;
    }
    &:active{
        background: $navhover;
        color: #fff;
    }
    &:focus{
        background: $navhover;
        color: #fff;
    }
}
.btn-backgreen{
    border-radius: 2px;
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: #fff;
    border: 1px solid #6db72e;
    background: #6db72e;
    background-image: -webkit-linear-gradient(top, #6db72e, #58a81e);
    background-image: -moz-linear-gradient(top, #6db72e, #58a81e);
    background-image: -ms-linear-gradient(top, #6db72e, #58a81e);
    background-image: -o-linear-gradient(top, #6db72e, #58a81e);
    background-image: linear-gradient(to bottom, #6db72e, #58a81e);
    border-bottom:2px solid #438627;
    margin: 0;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    &:active{
        color:   $white;
        background: #438627;
        background-image: -webkit-linear-gradient(top, #438627, #438627);
        background-image: -moz-linear-gradient(top, #438627, #438627);
        background-image: -ms-linear-gradient(top, #438627, #438627);
        background-image: -o-linear-gradient(top, #438627, #438627);
        background-image: linear-gradient(to bottom, #438627, #438627);
        border-color: #438627;
    }
    &:hover{
        color:   $white;
        text-decoration: none;
        background: #6db82e;
        background-image: -webkit-linear-gradient(top, #6db82e, #6db82e);
        background-image: -moz-linear-gradient(top, #6db82e, #6db82e);
        background-image: -ms-linear-gradient(top, #6db82e, #6db82e);  
        background-image: -o-linear-gradient(top, #6db82e, #6db82e);
        background-image: linear-gradient(to bottom, #6db82e, #6db82e); 
    }
    &:focus{ 
        color:   $white;
        text-decoration: none;
        background: #6db82e;
        background-image: -webkit-linear-gradient(top, #6db82e, #6db82e);
        background-image: -moz-linear-gradient(top, #6db82e, #6db82e);
        background-image: -ms-linear-gradient(top, #6db82e, #6db82e);  
        background-image: -o-linear-gradient(top, #6db82e, #6db82e);
        background-image: linear-gradient(to bottom, #6db82e, #6db82e); 
        outline:0;
    }
    &:active:focus{
        outline:0;
        color:   $white;
        text-decoration: none;
        background: #6db82e;
        background-image: -webkit-linear-gradient(top, #6db82e, #6db82e);
        background-image: -moz-linear-gradient(top, #6db82e, #6db82e);
        background-image: -ms-linear-gradient(top, #6db82e, #6db82e);  
        background-image: -o-linear-gradient(top, #6db82e, #6db82e);
        background-image: linear-gradient(to bottom, #6db82e, #6db82e); 
    }
    /*    .plussign{
            border: 2px solid #fff;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            font-size: 18px;
            line-height: 15px;
            display: inline-block;
            text-align: center;
        }*/
    .plus-sign{
        background-image: url("../../img/graphics.png");
        height: 23px;
        width: 25px;
        background-position: -277px -199px;
        display: inline-block;
        vertical-align: bottom;
    }
}
.red-warning{ 
    background-image: url("../../img/graphics.png");
    height: 23px;
    width: 25px;
    background-position: -279px -145px;
    display: inline-block;
    vertical-align: bottom;
    margin-top: -4px;
}
.red-list {
    background-image: url("../../img/graphics.png");
    height: 27px;
    width: 28px;
    background-position: -279px -246px;
    display: inline-block;
    vertical-align: bottom;
}
@media screen and (min-width: 768px) {
    .hockey_news{
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }
}
@media (min-width: 1600px){
    .container {
        width: 1550px;
    }
    .darkdiv .subdivs p{
        max-width: 450px;
    }
}
@media screen and (max-width: 768px) {
    .pool_types{
        padding-left: 30px;
        padding-right: 30px;
        .lightgraybg{
            padding-left: 12px;
        }
    }
    .leftabs{
        right: 0;
    }
    .rightabs{
        display: none;
    }
    .darkdiv{
        .subdivs{
            padding: 20px 5px;
            h3{
                font-size: 19px;
            }
        }
    }
} 
@media screen and (max-width: 400px) {
    .livescoreboard{
        height:60px; 
        .graphics{
            margin-top: 14px;
        }
        .main_header{
            .livescoreboard--scores-parts{ 
                width: 150px;
                padding: 6px 10px;
                height:40px;
                &.active{
                    padding-top: 0;
                }
                .final{
                    float: right;
                    width: 29px;
                }
                .score{
                    width: 23px;
                }
                .time{
                    float: right;
                }
                .img{
                    margin-left: 9px;
                }
            }
        }
    }
    .hidden-xxs{
        display: none !important;;
    }  
    .visible-xxs{
        display: block !important;;
    }
    .mobile-nav-header{
        background-color: $brand_bg;
        .logo_div_mobile{
            float: left;
            img{
                height: 43px;
            }
        }
        .bootstrap_btn_mobile{
            float: right;
            background:$nav;
            .navbar-toggle{
                margin: 0;
                padding: 12px 8px;
                .icon-bar{
                    background: $white;
                    width: 24px;
                    height: 3px;
                }
            }
        }
    }  
    .mobile-nav-btns{
        a{
            display: block;
            float: left;
            padding: 10px 0px;
            color: $white;
            text-transform: uppercase;
            text-align: center;
            &.mypools{
                background: $nav; 
                width: 40%;
                border-right: 1px solid $brand_bg;
            }
            &.msgs{
                background: $nav; 
                width: 20%;
            }
            &.createpool{
                background: $main_action; 
                width: 40%;
            }
            &:hover,&:active,&:focus{
                background: $navhover; 
            }
        }
    }
    .mobile-nav-list{
        display: none;
        a{
            display: block;
            padding: 10px 0px 10px 10px;;
            color: $white;
            text-transform: uppercase;
            text-align: left;
            width:100%;
            background: $nav;
            &:hover,&:active,&:focus{
                background: $navhover; 
            }
        }
    }
}

/*sweat alert css*/ 
.sweet-alert h2{
    font-weight: normal;
    font-size: 27px;
    margin-top: 15px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
}
.sweet-alert p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
} 
.sweat-alert-confirm .confirm, .sweat-alert-confirm .confirm:hover, .sweat-alert-confirm .confirm:focus, .sweat-alert-confirm .confirm:active{ 
    color: rgb(255, 255, 255);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    background: rgb(107, 181, 42) !important;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(107, 181, 42) !important;
    border-radius: 2px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 100px;
    border-bottom: 2px solid #438627 !important;
}
.sweat-alert-confirm .cancel, .sweat-alert-confirm .cancel:hover, .sweat-alert-confirm .cancel:focus, .sweat-alert-confirm .cancel:active{ 
    color: #F56200;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 400;
    min-width: 100px;
    background: #fff !important;
    border-color: #F56200 !important;
}

/*--------------Common css continues------------------*/
/*light grey table*/ 
.light-grey-table.table{
    margin: 0;
    tr th{
        font-weight: normal;
        font-size: 15px;
        padding: 10px 8px;
        border: 0;
        background: $light-grey;
        color: $white;
        outline: 0;
    }
    tr td{
        font-weight: normal;
        font-size: 15px;
        padding: 10px 8px;
    }
}
.head-arrow{
    tr th{
        position: relative;
        border-right: 1px solid #a5a5a5 !important; 
        cursor: pointer;
        span{
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            right: 8px;
            top: 17px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 9px solid #fff;
        }
        &.sorting_desc{
            span{
                transform: rotate(180deg);
                top: 16px;
            }
        }
        &.sorting_asc{
            span{
                transform: rotate(0deg);
                top: 17px;
            }
        }
    }
}
/*END light grey table*/ 
/*Blue table*/
.blue-table.table{
    margin: 0;
    tr th{
        font-weight: normal;
        font-size: 15px;
        padding: 10px 8px;
        border: 0;
        background: $light_blue;
        color: $white;
    }
    tr td{
        font-weight: normal;
        font-size: 15px;
        padding: 10px 8px;
    }
}
/*END Blue table*/
/*Selectboxit Custom Css*/ 
.selectboxit-container{
    font-family: "Titillium Web",sans-serif !important;
    .selectboxit{
        background: $nav;
        border: 1px solid $nav;
        color:$white;
        width: 200px !important;
    }
    .selectboxit-options{
        width: 200px !important;
        a{
            height: 40px;
            line-height: 40px;
            background-image: none;
            font-family: "Titillium Web",sans-serif;
            font-size: 18px;
            font-weight: 300;
        }
    }
    .selectboxit-arrow-container{
        &:after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 6px;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            border-bottom: 7px solid $white;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        .selectboxit-default-arrow{
            border-top: 7px solid $white;
            top: 16px;
        }
    }
    .selectboxit-btn.selectboxit-enabled:hover, .selectboxit-btn.selectboxit-enabled:focus{
        background: $light_blue;
        border: 1px solid $light_blue;
        color: $white;
    }
    .selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor{
        background: $light_blue;
    }
}
/*END Selectboxit Custom Css*/ 
/*Selectboxit grey Custom Css*/ 
.selectboxit-grey{
    .selectboxit-container{
        width: 100% !important;
        .selectboxit{
            width: 100% !important;
            border-radius: 0;
            border: 1px solid rgb(169, 169, 169);
            height: 36px;
            line-height: 36px;
            background: $white;
            &:hover, &:focus{
                background: $white;
                border: 1px solid rgb(169, 169, 169);
            }
        }
        .selectboxit-options{
            width: 100% !important;
            border-radius: 0;
            a{
                height: 36px;
                line-height: 36px;
                background-image: none;
                font-family: "Titillium Web",sans-serif;
                font-size: 15px;
                font-weight: 300;
            }
        }
        .selectboxit-text{
            height: 36px;
            line-height: 35px;
            font-size: 15px;
            color: #333;
        }
        .selectboxit-arrow-container {
            &:after{
                border-bottom: 7px solid rgb(169, 169, 169);
                top: 9px;
            }
            .selectboxit-default-arrow {
                border-top: 7px solid rgb(169, 169, 169);
                top: 19px;
            }
        }
    }
}
/*END Selectboxit grey Custom Css*/ 
/*Sub navbar with selected value bolded*/
.page-sub-nav{
    li{
        a{
            margin: 30px 15px 30px 0px;
            font-size: 24px;
            color: $dark-grey;
            &.selected {
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}
/*END Sub navbar with selected value bolded*/
/*Keeping css to 1200 width*/
@media (min-width:1600px){
    .container{
        width:1170px;
    }
} 
/*END Keeping css to 1200 width*/
/*Switch simple custom css*/
.switch-blue{
    width: 56px;
    height: 24px;
    border-radius: 5px;
    background-image:none;
    margin-left: 5px;
}
.switch-handle{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 0px;
    left: -5px; 
    border:1px solid $background_lighter;
    &:before{
        display: none;
    }
}
.switch-input:checked ~ .switch-label{
    background: $nav;
}
.switch-input:checked ~ .switch-handle {
    left: 40px!important;
    box-shadow: none;
}
.switch-handle{
    top: 1px;
}
.switch-label{
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
}
/*END Switch simple custom css*/
/*No result*/
.no-game-p, .no-result-present{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    font-style: italic;
    padding: 20px;
    font-size: 18px;
}
/*END No result*/
/*Site Loader*/
.scorer-loader-logo{
    position: relative;
    min-height: 700px;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}
/*END Site Loader*/
.ad-small-block{
    width: 100%;
    float: left;
    text-align: center;
    img{
        max-width: 100%;
    }
}
/*Responsive css*/
@media only screen and (max-width: 768px) {
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables tr { border: 1px solid #ccc; }
    #no-more-tables td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
    #no-more-tables td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    #no-more-tables td:before { content: attr(data-title); }
}
/*END Responsive css*/
#circle-loader{
    position: relative;
    min-height: 200px;
    width:100%;
    float:left;
    z-index: 3;
    background: $white;
    img{
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -24px; 
        margin-top: -24px;
    }
}
#alert-box{
    &.success{
        color: $white;
        background-color: #66b72c;
        padding: 15px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 300;
    }
}
.alert-danger, .alert-success ,.alert-info, .alert-warning{
    border-radius: 0;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 20px;
}
.header-messages{
    .alert-danger, .alert-success, .alert-info, .alert-warning{
        margin-bottom: 0;
    }
}
.has-error {
    border: 1px solid #a94442 !important;
}
.has-error + div.error-msg{
    background-color: #f2dede;
    padding: 7px 15px;
    color: #a94442;
    margin-top: -8px;
}
.grey-input-field{
    height: 36px;
    width: 100%;
    padding-left: 10px;
    font-size: 15px;
    color: #000;
    margin-bottom: 15px;
    &:focus{
        outline: none;
    }
}
.player-deleted{
    background-color: #f3d9d9;
}
.player-traded{
    background-color: #d4f3d5;
}
.color-explain{
    font-size: 10px;
    text-transform: uppercase;
    margin-right: -15px;
    margin-top: 20px;
    float: right;
    color: #333;
    font-weight: 400;
    span{
        margin-right: 15px;
        display: inline-block;
    }
    .light-red{
        width: 5px;
        height: 5px;
        display: inline-block;
        margin-right: 2px;
        vertical-align: middle;
        background-color: #f3d9d9;
    }
    .light-green{
        width: 5px;
        height: 5px;
        display: inline-block;
        margin-right: 2px;
        vertical-align: middle;
        background-color: #d4f3d5;
    }
}
.pool_points_hide{
    display: none;
}
.btn-grey{
    border-radius: 2px;
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: $grey-text;
    font-size: 17px;
    border: 1px solid $background_lighter;
    background: $background_lighter;
    background-image: -webkit-linear-gradient(top, $background_lighter, #cdd1d4);
    background-image: -moz-linear-gradient(top, $background_lighter, #cdd1d4);
    background-image: -ms-linear-gradient(top, $background_lighter, #cdd1d4);
    background-image: -o-linear-gradient(top, $background_lighter, #cdd1d4);
    background-image: linear-gradient(to bottom, $background_lighter, #cdd1d4);
    border-bottom:2px solid $background_lighter;
    margin: 0;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    &:hover,  &:active, &:focus, &:active:focus{
        color: $grey-text;
        background: $background_lighter;
        background-image: -webkit-linear-gradient(top, $background_lighter, #e8e9eb);
        background-image: -moz-linear-gradient(top, $background_lighter, #e8e9eb);
        background-image: -ms-linear-gradient(top, $background_lighter, #e8e9eb);  
        background-image: -o-linear-gradient(top, $background_lighter, #e8e9eb);
        background-image: linear-gradient(to bottom, $background_lighter, #e8e9eb); 
        outline:0;
    }
}
.btn-yellow{
    border-radius: 2px;
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    color: $white;
    font-size: 17px;
    border: 1px solid $yellow;
    background: $yellow;
    background-image: -webkit-linear-gradient(top, $yellow, #f1c10a);
    background-image: -moz-linear-gradient(top, $yellow, #f1c10a);
    background-image: -ms-linear-gradient(top, $yellow, #f1c10a);
    background-image: -o-linear-gradient(top, $yellow, #f1c10a);
    background-image: linear-gradient(to bottom, $yellow, #f1c10a);
    border-bottom:2px solid $yellow;
    margin: 0;
    outline: none;
    font-size: 16px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    &:hover,  &:active, &:focus, &:active:focus{
        color: $white;
        background: $yellow;
        background-image: -webkit-linear-gradient(top, $yellow, #f9d54a);
        background-image: -moz-linear-gradient(top, $yellow, #f9d54a);
        background-image: -ms-linear-gradient(top, $yellow, #f9d54a);  
        background-image: -o-linear-gradient(top, $yellow, #f9d54a);
        background-image: linear-gradient(to bottom, $yellow, #f9d54a); 
        outline:0;
    } 
}