$black: #000;
$white: #fff;
$brand_bg: #0C283E;
$nav: #0F6AAE;
$light_blue: #0F6AAE;
$dark:#333;
$navhover: #1b95f0;
$dark-grey: #6f838b;
$background_dark: #516a73;
$light-grey: #85969d;  
$background_lighter: #D2D7DA;
$background_lightest: #e5e9ea;
$main_action: #58a81e;
$main_action_dark: #438627;
$livescoreboard_bg: #e5e5e5;
$live_status:#FFCC00; 
$error:#E91C00;
$alert:#F56200;
$maroon:#870000;
$mustard:#f25e00;
$mobile: "(max-width: 768px)";
$small-mobile: "(max-width: 320px)";
$medium-mobile: "(max-width: 500px)";

/*messages*/
$green:#6db72e;
$green-hover:#6db82e;
$blue-text:#0F6AAE;
$grey-text: #374b52;
$like-color:#75bb3f;
$dislike-color:#f9a167;
$pagination-color:#0F6AAE;
$yellow:#efbe00;
