@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/ad_block";
.account-content{
    @include make-sm-column(6);
    padding: 0;
    margin-top: 20px;
    margin-bottom: 55px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    form{
        @include make-sm-column(12);
        padding: 10px 0;
        .form-field{
            @include make-sm-column(12);
            padding: 0;
            margin-bottom: 15px;
        }
        &#change-password-form, &#account-info-form{
            label{
                @include make-sm-column(4);
                padding: 0;
                font-weight: 300;
                font-size: 16px;
                color:$light-grey;
            }
            .input-field{
                @include make-sm-column(8);
                padding-right: 0;
                padding-left: 0;
                @media (min-width:768px){
                    padding-left:10px;
                }
            }
            .field{
                padding: 0;
                height: 36px;
                padding-left: 10px;
                font-size: 15px;
                color: $black;
                width: 100%;
            }
        }
        &#email-settings-form {
            .custom-checkbox {
                width: 100%;
                position: relative;
                height: 21px;
                font-size: 16px;
                font-weight: 500; 
                color:$light-grey;
                input{ 
                    width: auto;
                }
                span{
                    padding-left: 30px;
                    float: left;
                    cursor: pointer;
                    min-width: 310px;
                }
                label{
                    left: 0px;
                    font-weight: 500; 
                    font-size: 16px;
                    color:$light-grey;
                }
            }
        }
        .submit-btn{
            float: right;
            .fa{
                display:none;
                .fa-arrow-circle-o-right{
                    display: block;
                }
            }
            &.active{
                opacity: 0.7;
                .fa{
                    display: inline-block;
                    font-size: 25px;
                    margin-left: 10px;
                    vertical-align: middle;
                    line-height: 17px;
                    margin-top: -3px;
                }
            }
        } 
        input{
            &:focus{
                outline: none;
            } 
        }
        .btn-backgreen{
            margin: 0;
            outline: none;
            font-size: 16px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}
#pool--content{
    padding: 0px 15px;
    min-height: 1000px;
}
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .account-content{
            padding: 0 15px;
        }
    }
}
.has-error + div.error-msg{
    margin-top: 0;
}
