@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/twitter_block";
@import "../includes/pool_nav";
@import "../includes/pagination";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/ad_block";

.history--container{
    @include make-sm-column(8);
    padding: 0;
    margin-top: 20px;
    margin-bottom: 70px;
    .pool--main-heading{
        text-transform: uppercase;
    }
    .select__pools{
        ul{
            margin-bottom: 0;
            margin-left: 0;
            li{
                position: relative;
                width: 49.2%;
                text-align: center;
                padding: 0;
                border: 1px solid #D2D7DA;
                box-shadow: inset 0 0 2px 0px #D2D7DA;
                font-size: 17px;
                font-weight: 600;
                &.active{
                    background:$dark-grey;
                    box-shadow: none;
                    border: 1px solid $dark-grey;
                    .bottom-shadow{
                        width: 0;
                        height: 0;
                        border-left: 11px solid transparent;
                        border-right: 11px solid transparent;
                        border-top: 7px solid #6f838b;
                        position: absolute;
                        bottom: -7px;
                        left: 50%;
                        z-index: 5;
                        transform: rotate(0deg);
                        box-shadow: none;
                        margin-left: -10.5px;
                    }
                    a{
                        padding: 11px 0;
                        color: $white;
                        text-decoration: none;
                        &:focus{
                            text-decoration: none;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
                .bottom-shadow{
                    display: inline-block;
                    width: 100%;
                    height: 8px;
                    margin: 0;
                    float: left;
                    box-shadow: inset 0 8px 6px -4px #D2D7DA;
                    transform: rotate(180deg);
                }
                a{
                    display: inline-block;
                    padding: 11px 10px 3px 10px;
                    width: 100%;
                }
                &:first-child{
                    float: left;
                }
                &:last-child{
                    float: right;
                }
            }
        }
    }
    .history--content{
        @include make-sm-column(12);
        padding: 0;
        padding: 0 35px;
        padding-bottom: 15px;
        border:1px solid $background_lighter;
        .past--pool{
            display: none;
        }
    }
    .ad-small-block{
        margin-top: 20px;
    }
    /*history-content-ends*/
}
.head2head--heading-description{
    margin: 0;
    text-transform: capitalize;
    color: #0F6AAE;
    margin-top: 20px;
    a{
        font-size: 24px;
        font-weight: 300;   
    }
    a:nth-child(2){
        float: right;
        font-size: 16px;
    }
}
#pool-right-header-outer{
    float: none;
    width: 100%;
    .pools--h2h {
        margin-bottom: 15px;
    }
}
.no-result-present{
    display: none;
    margin-bottom: 25px;
    a{
        font-size: 18px;
        color: #31708f;
        text-decoration: underline;
    }
}
#get-pool-link{
    border: 0;
    width: auto;
    padding: 0;
    margin: 0;
}
.post-pagination{
    transition: all 0.5s ease;
    .pagination-child{
        width: auto;
    }
}
#history-no-result{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    float: left;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
.adblocks{
    opacity:0;
}
//END Loader
@media screen and (max-width: 768px) {
    .history--container .history--content{
        width: 100%;
        float: left;
        padding: 0 15px;
    }
    .history--container{
        padding: 0 15px;
        float: left;
        width: 100%;
    }
    #pool--content{
        padding:0 !important;
    }
}
//Remove it and solve problem
body{
    overflow-x: hidden;
}