@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../common_k";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../includes/pool_h2h";
@import "../includes/ad_block";
.proposed__trade--container{
    @include make-sm-column(12);
    padding:25px;
    border:1px solid #e5e9ea;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    .propose__trade{
        @include make-sm-column(12);
        padding:0;
        margin-bottom: 20px;
    }
    .table{
        &.light-grey-table{
            margin-bottom: 20px;
        }
    }
    .players__status{
        margin-bottom: 15px;
        width:100%;
        float: left;
    }
    .pool--main-heading{
        width: 100%;
        float: left;
    }
    .traded-team-name{
        text-transform: capitalize;
    }
    .title-diff{
        margin-top: 30px;
    }
    .player__action{
        margin-top: 30px;
        float: left;
        width: 100%;
        text-align:center;
        margin-bottom: 20px;
        p{
            margin-bottom: 15px;
        }
        .list-inline { 
            li{
                min-width:120px;
                a{
                    width:100%;
                }
            }
        }
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
}
//END Loader