.adblocks{        
    @include make-sm-column(4);
    position:absolute;
    right:0;
    z-index:10;
    transition: all 0.5s linear;
    .welcome-slider{
        background-image: url("../../img/bg.png");
        padding-bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 65px; 
        background-position: 50%;
        .welcome-slider--logo{
            padding: 0;
            margin: 0;
            img{
                margin  :auto;
            }
        }
        .row{
            margin:0px;
        }
    }
    .welcome-slider--heading{
        @include make-sm-column(12);
        margin: 0 auto 0 auto;
        h2{
            font-size:27px;
            margin: 10px auto 10px auto;
            text-transform:uppercase;
            color:$white;
            text-align: center;
            line-height: 27px;
        }
    }
    .welcome-slider--subtext{
        font-size: 15px;
        color:$background_lighter;
        line-height: 28px;
        text-align:center;
        padding:0 15px;
        margin-top: 0;
    }
    .welcome-slider--button{
        padding: 30px 0;
        margin: 0;
        text-align: center;
        .btn-backgreen{
            margin: 0;
            outline: none;
            font-size: 16px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
            padding-top: 6px;
            padding-bottom: 6px; 
        }
    }
    .width100{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .adblocks{
        position:relative;
        float: left;
        width: 100%;
    }
}