footer{
    .footer--upper{
        @extend .hidden-xxs;
        @include make-sm-column(12);
        padding: 20px;
        background-color: $nav;
        .footer--upper--container{
            @extend .container;
            .footer--upper--container--footernav{
                @extend .row;
                .upperfooternav--item{
                    ul {
                        padding: 0px;
                        li {
                            list-style: none;
                            a {
                                color: $white;
                                font-size: 16px;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    ul.inline{
                        margin-top: 13px;
                        li{
                            display: inline; 
                            .fa{
                                font-size: 25px;
                                width: 40px;
                                height: 40px;
                                display: inline-block;
                                text-align: center;
                                line-height: 41px;
                            }
                        }
                    }
                }
                .upperfooternav--item:nth-child(1){
                    @extend .pull-left;
                    padding-right: 50px;
                }
                .upperfooternav--item:nth-child(2){
                    @extend .pull-left;
                }
                .upperfooternav--item:nth-child(3){
                    @extend .pull-right;
                }
            }
        }
    }

    .footer--lower {
        float: left;
        width: 100%;
        padding: 30px 0px;
        background-color: $brand_bg;
        .footer--lower--col{
            @include make-sm-column(12);
            .footer--lower--col--container{
                @extend .container;
                .footer--lower--col--container--footernav{
                    @extend .row;
                    .lowerfooternav--item{
                        @include make-xs-column(6);
                        ul {
                            text-align: right;
                            padding:0;
                            li {
                                list-style: none;
                                display: inline;
                                color: $background_dark;
                                a {
                                    color: $nav;
                                    margin-right: 20px;
                                    &:hover {
                                        color: $nav;
                                        text-decoration: none;
                                    }
                                    &:focus {
                                        color: $nav;
                                        text-decoration: none;
                                    }
                                    &:active {
                                        color: $nav;
                                        text-decoration: none;
                                    }
                                }
                            }
                            li:last-child{
                                a{
                                   margin-right: 0; 
                                }
                            }
                        }
                    }
                    .lowerfooternav--item:nth-child(2){
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .upperfooternav--item:nth-child(1){
        padding-right: 50px;
        padding-left: 15px;
    }

}
@media screen and (max-width: 768px) {
    footer{
        position:relative;
        float:left;
        width:100%;
    }
    .bg-trans{
        background-color: rgba(35,62,82,0.88);
        position:absolute;
        top: -5px;
        left:0;
        right:0;
        bottom:0;
        z-index: 11;
    }

    footer .footer--lower .footer--lower--col .footer--lower--col--container .footer--lower--col--container--footernav .lowerfooternav--item
    {
        width:50%; 
        ul li{
            &:last-child{
                width: 100%;
                display: block;
                text-align: right;
                margin-top: 5px;
            }
            a{
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .footer--lower{    
        text-align: center;
        .lowerfooternav--item{
            width  : 100% !important;
            ul{
                li{
                    display: inline-block;
                    width: 50%;
                    float: left;
                    &:last-child{
                        width: 100%;
                        text-align: center !important;
                    }
                    a{
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                        text-align: center !important;
                        display: block;

                    }
                }
            }
            img{
                margin :auto;
            }
        }
    }
}