/*league-nav*/
.league-nav{
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    #season_parent{
        width:25%;
        float:left;
        margin-top: 10px;
        height:42px;
        border-radius: 8px;
        background-color:$nav;
        .selectboxit-container{
            width: 100%;
            vertical-align: middle;
            li{
                width:100%;
                display: block;
            }
            span{
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                font-weight: 300;
                font-family: "Titillium Web",sans-serif;
            }
            .selectboxit{
                width: 100% !important;
            }
            .selectboxit-text{
                max-width: 100% !important;
            }
            .selectboxit-options{
                width: 100% !important;
                a{
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                }
            }
            .selectboxit-arrow-container{
                .selectboxit-default-arrow{
                    top: 23px;
                }
                &:after{
                    top: 11px;
                }
            }  
        }
    }
    &>ul{
        width: 75%;
        float: left;
        padding: 0;
        @extend .list-inline;
        margin-bottom: 0;
        margin-top: 10px;
        margin-left: 0;
        &>li {
            position: relative;
            width: 20%;
            float: left;
            text-align: center;
            padding: 0;
            margin-right: 0px;
            border: 1px solid $background_lighter;
            box-shadow: inset 0 0 2px 0px $background_lighter;
            font-size: 15px;
            cursor:pointer;
            &>a{
                padding: 10px;
                display:inline-block;
                vertical-align: middle;
                &:hover{
                    text-decoration: none;
                }
                &:focus{
                    text-decoration: none;
                }

            }
            &.active{
                background: $nav;
                &>a{
                    color: $white;
                }
            }
        }
    }
} 
/*league-nav ends*/
@media screen and (max-width: 768px) {
    .league-nav > ul{
        width: 100%;
        li{
            width: 50%;
        }
    }
    .league-nav #season_parent{
        width: 100%;
    }
}