header {
    .header--navigation{
        @extend .btn-group-justified;
        .msgimage{
            background-image: url("../../img/graphics.png");
            height: 19px;
            width: 25px;
            display: block;
            margin: auto;
            margin-top: 2px;
            background-position: 38px -6px;
            position:relative;
            span{
                position: absolute;
                top: -9px;
                right: -7px;
                background: #F56200;
                border-radius: 100%;
                font-size: 11px;
                width: 17px;
                font-weight: bold;
                height: 17px;
                line-height: 16px;
            }
        }
        .notification{
            display:none;
            .noti-number{
                display:none;
                position: absolute;
                top: 8px;
                background: #F56200;
                border-radius: 100%;
                padding: 2px 3px; 
                font-size: 11px;
                min-width: 18px;
                font-weight: bold;
                margin-left: 3px;
            }
        }
        .notification-dropdown{
            display: none;
            position: absolute;
            top: 100%;
            width: 370px;
            right: 0px;
            background: $white;
            text-align: left;
            z-index: 1;
            padding: 0;
            border: 1px solid $black;
            &.open{
                display:block !important;
            }
            .notification-header{
                background-color: $nav;
                color:$white;
                padding: 5px 13px;
                border-bottom: 1px solid black;
            }
            .notification-all{
                width:100%;
                float:left;
                max-height: 320px;
                overflow-y: scroll;
                overflow-x: hidden;
                .no-new-notification{
                    padding: 15px 10px;
                }
                .notification-single{
                    border-top: 1px solid black;
                    width: 100%;
                    float: left;
                    position:relative;
                    /*height:80px;*/
                    a{
                        color:$black;
                        display:inline-block;
                        float:left;
                        width:100%;
                        &:hover,&:active,&:focus{
                            color:$black;
                        }
                    }
                    &:first-child{
                        border-top: 0px solid black;
                    }
                    &:hover{
                        background-color: $navhover;
                        color:$white;
                        a{
                            color:$white;
                        }
                    }
                    .pool-logo{
                        width: 100px;
                        float: left;
                        padding: 7px;
                    }
                    .pool-logo-default{
                        margin:7px;
                        height: 64px;
                        width: 86px;
                        float: left;
                        position:relative;
                        background-color: $brand_bg;
                        img.notification-pool-logo{
                            position: absolute;
                            top: 50%;
                            transform: translate(0%,-50%);
                        }
                    }
                    .pool-notification{
                        width: 250px;
                        float: left;
                        padding-bottom:30px;
                        h3{
                            margin-top: 7px;
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                        p{
                            font-size: 13px;
                        }
                    }
                    .date-time{
                        position: absolute;
                        bottom: 10px;
                        right: 20px;
                        font-size: 13px;
                    }
                    .cross-btn{
                        position: absolute;
                        top:4px;
                        right: 4px;
                        transform: rotate(45deg);
                        font-size: 32px;
                        font-weight: bold;
                        line-height: 11px;
                        height: 19px;
                        width: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
        .hnavigation--item:first-child{
            display: table-cell;
            float: none;
            width: 1%;
            position: relative;
            background-color:$brand_bg;
            a{
                padding: 0 !important;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: inherit !important;
            }
            img{
                max-width: 100%;
                float: left;
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }         
        .hnavigation--item:nth-child(n+1){
            z-index:11;
            display: table-cell;
            float: none;
            width: 1%;
            @extend .btn-group; 
            > a,a.hnavitem-dropdown-trigger{
                @extend .btn;
                background-color: $nav;
                color: $white;
                text-transform: uppercase;
                border: 0;
                border-radius: 0;
                padding: 12px 0px;
                font-size: 15px;
                display: block;
                border-right: 1px solid $brand_bg;
                &:hover {
                    border-right: 1px solid $brand_bg;
                    background-color: $navhover;
                    color: $white;
                }
                &:focus {
                    border-right: 1px solid $brand_bg;
                    background-color: $navhover;
                    color: $white;
                }
                &:active {
                    border-right: 1px solid $brand_bg;
                    background-color: $navhover;
                    color: $white;
                }
                &.active{
                    background-color: $navhover;
                    color: $white;
                }
            }                       
            .activegreen {
                background-color: $main_action !important;;
                color: $white;
                &:hover {
                    background-color: $navhover;
                    color: $white;
                }
            }
            .hnavitem-dropdown{
                background-color:$navhover;
                display: none;
                top: 45px;
                ul{
                    padding: 0;
                    margin : 0;
                }
                li{
                    list-style: none;
                    line-height: 40px;
                    a{
                        color:#fff;
                        display:block;
                        border-top: 1px solid $navhover;
                        border-bottom: 1px solid $navhover;
                        text-align:center;
                        &:hover {
                            background-color: #fff;
                            color:#1069AD;
                            border-top: 1px solid #162739;
                            border-bottom: 1px solid #162739;
                            text-decoration: none;
                        }
                    }
                }                
            }
            .normaldropdown{
                position: absolute;
                left: 0;
                right: 1px;
                text-align: center;
            }
            .login-form,.register-form{
                position: absolute;
                width: 657px;
                right: 1px;
                top: 45px;
                background: $navhover;
                text-align: left;
                z-index: 1;
                padding: 20px 10px 15px 20px;
                .emailaddress{
                    height: 36px;
                    width: 256px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 8px;
                    font-size: 15px;
                    color: #4C4C4C;
                }
                .email-field, .password-field{
                    float: left;
                    padding-top: 4px;
                }
                .email-field{
                    .error-msg{
                        margin: -8px 1px 0 1px;
                    }
                }
                .password-field{
                    .error-msg{
                        margin: -8px 8px 0 8px;
                    }
                }
                hr{
                    border-color: rgb(22, 116, 188);
                    border-bottom: 0;
                }
                .password{
                    height: 36px;
                    width: 190px;
                    margin-left: 7px;
                    margin-bottom: 8px;
                    margin-right: 7px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 15px;
                    color: #4C4C4C;
                }
                .loginbtn,.registerbtn{
                    color: #fff;
                    background: #6bb52a;
                    border: 2px solid #6bb52a;
                    text-decoration: none;
                    padding: 10px 0px;
                    width:155px;
                    cursor: pointer;
                    border-radius: 4px;
                    font-size: 15px;
                    & input[disabled]{
                        cursor: not-allowed;
                    }
                }
                p{
                    color:#fff;
                    margin-bottom: 0;
                    font-weight: 600;
                }
                a{
                    margin-right: 3px;
                }
                .fa{
                    font-size: 34px;
                    color:#fff;
                }
                .fa:last-child{
                    margin-right: 0;
                }
                .icon-right{
                    margin:0px;
                }
                .linearrow{
                    display: inline-block;
                    width: 265px;
                    margin-left: 10px;
                    height: 2px;
                    background-color: #fff;
                }
                .arrow-right {
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 10px solid #fff;
                    display: inline-flex;
                }
            }
        }
    }
}
/* special css for logo*/ 
@media only screen and (min-width:0px) and (max-width: 768px)  {
    header .header--navigation .hnavigation--item:first-child img{
        display: none;
    }
    header .header--navigation .hnavigation--item:first-child img:first-child{
        display: block;
    }
} 
@media only screen and (min-width:768px) and (max-width: 991px)  {
    header .header--navigation .hnavigation--item:first-child img{
        display: none;
    }
    header .header--navigation .hnavigation--item:first-child img:nth-child(2){
        display: block;
    }
} 
@media only screen and (min-width:991px) and (max-width: 1400px)  {
    header .header--navigation .hnavigation--item:first-child img{
        display: none;
    }
    header .header--navigation .hnavigation--item:first-child img:first-child{
        display: block;
    }
} 
@media screen and (min-width: 1400px) {
    header .header--navigation .hnavigation--item:first-child img{
        display: none;
    }

    header .header--navigation .hnavigation--item:first-child img:nth-child(3){
        display: block;
    }
}
/* END special css for logo*/
@media screen and (min-width: 768px) {
    header:nth-child(3){
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    header .header--navigation .hnavigation--item:first-child img{
        width: 170px;
        margin: auto; 
    }    
}
@media screen and (max-width: 768px) {
    header:nth-child(2){
        display: none;
    }
    header:nth-child(3){
        display: block;
    }
    header {
        .header--navigation{
            .dropdown-click.notification{
                position: static;
                .notification-dropdown{
                    left:0;
                    right:0px;
                    width:100%;
                    z-index:20;
                    .notification-single{
                        .pool-logo{
                            width:30%;
                        }
                        .pool-notification{
                            width:70%;
                            text-align: left;
                            padding-right: 22px; 
                        }
                    }
                }
            }
        }

        .header--mobilenavigation{
            @include make-sm-column(12);
            background-color: $brand_bg;
            .logo_div_mobile{
                float: left;
                img{
                    height: 43px;
                }
            }
            .bootstrap_btn_mobile{
                float: right;
                background:$nav;
                .navbar-toggle{
                    margin: 0;
                    padding: 12px 8px;
                    .icon-bar{
                        background: $white;
                        width: 24px;
                        height: 3px;
                    }
                    .crossbtn{
                        display: none;
                        position: absolute;
                        background-color: #fff;
                        top: -1px;
                        right: -1px;
                        left: 0;
                        bottom: -1px;
                        background-image: url("../../img/graphics.png");
                        background-position: 45px 290px;
                        &.show{
                            display: block; 
                        }
                    }
                }
            }
        }  
        .header--mobilenavigation-btns{
            @include make-sm-column(12);
            .header--navigation{
                .hnavigation--item:first-child{
                    a{
                        position: relative !important;
                        padding: 12px 0px !important;
                        &.mypools{
                            background-color: $nav !important; 
                        }
                    }
                } 
            }
            a{
                display: block;
                float: left;
                padding: 10px 0px;
                color: $white;
                text-transform: uppercase;
                text-align: center;
                &.mypools{
                    background: $nav; 
                    width: 40%;
                    border-right: 1px solid $brand_bg;
                }
                &.msgs{
                    background: $nav; 
                    width: 20%;
                    .msgimage{
                        background-image: url("../../img/graphics.png");
                        height: 19px;
                        width: 25px;
                        display: block;
                        margin: auto;
                        margin-top: 2px;
                        background-position: 38px -6px;
                        position: relative;
                        span{
                            position: absolute;
                            top: -9px;
                            right: -7px;
                            background: #F56200;
                            border-radius: 100%;
                            font-size: 11px;
                            width: 17px;
                            font-weight: bold;
                            height: 17px;
                            line-height: 16px;
                        }
                    }
                }
                &.createpool{
                    background: $main_action; 
                    width: 40%;
                    &:hover,&:active,&:focus{
                        background: $main_action; 
                    }
                }
                &:hover,&:active,&:focus{
                    background: $navhover; 
                    text-decoration: none;
                }
            }
        }
        .header--mobilenavigation-list{
            display: none;
            float: right;
            position: absolute;
            z-index: 13;
            width: 175px;
            right: 0;
            a{
                display: block;
                padding: 10px 0px 10px 25px;;
                color: $white;
                text-transform: uppercase;
                text-align: left;
                width:100%;
                background: $nav;
                border-bottom:1px solid #0F568C;
                &:hover,&:active,&:focus{
                    background: $navhover; 
                }
                &.active{
                    background-color: $navhover;
                    .arrowdown{
                        -ms-transform: rotate(180deg); /* IE 9 */
                        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
                        transform: rotate(180deg);
                    }
                }
                .arrowdown{
                    display: block;
                    height: 16px;
                    width: 22px;
                    margin-right: 15px;
                    margin-top: 2px;
                    background-image: url("../../img/graphics.png");
                    background-position: 300px -80px; 
                }
            }
            .sub-menu{
                display: none;
                a{
                    background-color: $white;
                    color: $nav;
                    text-transform: capitalize;
                    padding-left: 35px;
                    border-bottom:1px solid $background_lighter;
                }
            }
            .other-links{
                background:$nav;
                padding:15px 0;
                a{
                    text-transform: none;
                    border: 0px;
                    padding: 5px 25px;
                }
                .social-links{
                    overflow:hidden;
                    margin: 12px 0 20px 0; 
                    a{
                        width: 50%;
                        float: left;
                        font-size: 23px;
                        padding: 5px 25px;
                        &:last-child{
                            padding-left: 5px;
                        }
                        &:hover, &:focus{
                            background: inherit;
                        }
                    }
                }
                .language-bar-mobile{
                    padding: 5px 15px 5px 25px;
                    color: #fff;
                    margin-bottom: 20px;
                    .switch-blue{
                        background: transparent;
                        margin-left: 10px;
                        margin-top: -2px;
                    }
                    .switch-label {
                        background: $white;
                        color: #aaa;
                    }
                    .switch-label:after {
                        color: #0F6AAE;
                        text-shadow: none;
                    }
                    .switch-label:before{
                        color: #0F6AAE;
                        text-shadow: none;
                    }
                    .switch-handle {
                        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5); 
                        background: #13609a;
                        border: 1px solid #13609a;
                    }
                }
            }
        }
    }
}