.nhl-headlines{
    background-color: #e5e9ea;
    .nhl-headlines-heading{
        padding: 12px 0px 12px 15px;
        color: #fff;
        background-color: #6f838b;
        margin: 0;
        font-size: 16px;
    }
    h3{
        margin: 0;
        color: #0F6AAE;
        font-size: 18px;
        font-weight: normal;
    }
    .description{
        padding: 7px 15px;
    }
}