/*post-pagination*/
.post-pagination{
    width:100%;
    float:left;
    background-color: $pagination-color;
    text-align: left;
    margin-bottom:35px;
    a{
        color:$white;
        text-decoration:none;
        border-right: 1px solid $light-grey;
        padding: 5px 0px;
        display: inline-block;
        line-height: 12px;
        margin: 3px 0;
        font-size: 16px;
        width:30px;
        text-align:center; 
        float: left;
        &:last-child{
            border-right: 0;
        }
        &.active{
            font-weight: bold;
            color:$pagination-color;
            background-color: $white;
        }
    }
    .pagination-child{
        float: right;
        margin: 5px 15px;
        .pagination-arrows{
            height: 20px;
            width: 20px;
            cursor:pointer;
                margin-top: 4px;
            background-image: url("../../img/graphics.png");
            display: inline-block;
            float:left;
            &.opacity0{
                opacity:0;
            }
        }
        #pagination-left{
            background-position: -230px -79px;
            transform: rotate(90deg);
        }
        #pagination-right{
            background-position: -230px -79px;
            transform: rotate(270deg);
        }
        #pagination-first{
            background-position: -230px -76px;
            transform: rotate(90deg);
            position:relative;
            .double-arrow{
                background-position: -230px -81px;
            }
        }
        #pagination-last{
            background-position: -230px -81px;
            transform: rotate(270deg);
            position:relative;
            .double-arrow{
                background-position: -230px -76px; 
            }
        }
        .double-arrow{
            transform: rotate(90deg);
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("../../img/graphics.png");
            transform: rotate(0deg);
        }
        .main-pagination{
            display: inline-block;
            float: left;
            height: 28px;
            overflow: hidden;
            width: 150px;
            margin: 0px 10px;
            padding: 0px;
            #page-list{
                display: block;
                width:10000px;
                height: 28px;
            }
        }
    }
}
/*post-pagination ends*/
