.player-news{
    width:100%;
    float:left;
    margin: 0 0 20px 0;
    h3{
        margin-top: 0px;
    }
    .list-name{
        padding:0;
        float: left;
        width: 100%;
        margin: 0;
        li{
            width: 50%;
            float: left;
            text-align: center;
            padding: 10px 0;
            background: $light-grey;
            color: $white;
            border: 1px solid $light-grey;
            cursor:pointer;
            list-style: none;
            border-bottom:0;
            font-size: 16px;
            &.active{
                background: $dark-grey;
            }
        }
    }
    .list-content{
        width:100%;
        float:left;
        padding: 0px 10px;
        background-color:$background_lightest;
        #myteam,#league{
            float: left;
            width: 100%;
            .news-single{
                width:100%;
                float:left;
                border-bottom: 1px solid #fff;
                &:last-child{
                    border-bottom: 0;
                }
                .img-div{
                    float:left;
                    width: 20%;
                    text-align:center;
                    img{
                        max-width: 100%;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin: 15px auto;
                    }
                }
                .news-main{
                    width:80%;
                    float:left;
                    h3{
                        font-size: 15px;
                        font-weight: bold;
                        margin-bottom: 0;
                        margin-top: 20px;
                    }
                    p{
                        margin-bottom: 20px;
                        span{
/*                            width: 100%;
                            float: left;
                            display: none;*/
                        }
                        &.readmore{
                            // height: 45px;
                            overflow: hidden;
                            .init-hidden{
                                display:none;
                            }
                            .init-shown{
                                display: inline;
                            }
                        }
                    }
                }
                span.init-hidden{
                    display: inline-block;
                }
                span.init-shown{
                    display: none;
                    float: none;
                }
                a.read-more{
                    color:$nav;
                    /*                    float:left;
                                        width: 20%;
                                        padding-top: 20px;
                                        padding-left: 10px;*/
                    /*a{*/
                    /*}*/
                }
            }

        }
    }
    .no-result-present{
        margin-bottom: 10px;
    }
}
