/*Pool name header*/
.pool-name-header{
    @include make-sm-column(12);
    @include make-xs-column(12);
    padding: 0;
    border-bottom: 1px solid #e5e9ea;
    padding-bottom: 15px;
    float: left;
    @media only screen and (max-width:500px){
        padding-left: 15px;
        padding-right: 15px;
    }
    .pool-name{
        float:left;
        width: 100%; 
        .image{
            float: left; 
            margin-right: 13px;
            img{
                max-width: 150px;
            }
        }
        .details{
            float: left;
            .selectboxit-container{
                .selectboxit{
                    width: 296px !important;
                }
                .selectboxit-text{
                    max-width: 296px !important;
                    text-transform: capitalize;
                }
                .selectboxit-options{
                    width: 296px !important;
                    a{
                        text-transform: capitalize;
                    }
                }
                span{
                    height: 40px;
                    line-height: 38px;
                    font-size: 21px;
                    font-weight: 300;
                    font-family: "Titillium Web",sans-serif;
                }
                .selectboxit-default-arrow {
                    top: 21px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 9px solid #fff;
                }
                .selectboxit-arrow-container:after{
                    top: 8px;
                    border-bottom: 9px solid #fff;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
            }
            .p1{
                color: $light_blue;
                text-decoration: underline;
                margin-top: 5px;
            } 
            .p2{
                color: $dark-grey;
            }
            .right-tick{
                margin-right: -3px;
                transform: rotate(-45deg);
                width: 21px;
                height: 10px;
                border: 4px solid #6db72e;
                border-top: none;
                border-right: none;
                display: inline-block;
                margin-top: 12px;
            }
            .p3{
                color: $dark-grey;
                padding-left: 10px;
                font-size: 15px;
                vertical-align: top;
                margin-top: 9px;
                display: inline-block;
                @media (max-width:500px){
                    font-size: 15px;
                    font-weight: 600;
                    margin-top: 6px;
                }
            }
        }
    }
    .pool-action{
        width: 100%;
        float: left;
        .btn{
            line-height: 21px;
            padding: 8px 15px 6px 15px;
        }
        .add{
            background-image: url("../../img/graphics.png");
            height: 25px;
            width: 33px;
            background-position: -475px -198px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
        }
        .btn-green-line{
            padding: 9px 15px 6px 15px;
        }
        .trade{
            background-image: url("../../img/graphics.png");
            height: 26px;
            width: 59px;
            background-position: -390px -198px;
            display: inline-block;
            vertical-align: middle; 
            margin-top: -4px;
        } 
        .btn-orange-line{
            padding: 9px 15px 6px 15px;
        }
        .drop{
            background-image: url("../../img/graphics.png");
            height: 26px; 
            width: 38px;
            background-position: -326px -198px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
        }
    }
} 
/*END Pool name header*/
@media screen and (max-width: 500px) {
    .pool--content{
        .pool-name-header {
            .pool-action{
                float: left;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                margin-bottom: -5px;
                ul{
                    margin: 0;
                    li{
                        width:100%;    
                        margin-bottom: 5px;
                    }
                }
            }   
            .pool-name{
                width: 100%;
                .image{
                    margin-top: 15px;
                    width: 30%;
                    img{
                        width: 100%;
                    }
                }
                .details{
                    margin-top: 15px;
                    width: calc(70% - 13px);
                    margin-bottom: 15px;
                    .selectboxit-container {
                        width:100% !important;
                        .selectboxit{
                            width:100% !important;
                        }
                        .selectboxit-options{
                            width:100% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .pool--content{
        .pool-name-header {
            .details{
                width: calc(100% - 165px);
                .selectboxit-container {
                    width:100% !important;
                    .selectboxit{
                        width:100% !important;
                    }
                    .selectboxit-options{
                        width:100% !important;
                    }
                }
            }
        }
    }
}
#pool-left-header-outer{
    float: left;
    @media screen and (max-width: 991px) {
        width: 100%;
    }
}
#pool-right-header-outer{
    float: right;
    width: calc(100% - 480px);
    @media screen and (max-width: 991px) {
        float: none;
        width: 100%;   
    }
}
#pool-right-header-outer{
    .pools--h2h{
        min-height: 133px !important;
        margin: 0;
        @media(max-width: 991px){
            min-height: auto;
            margin-bottom: 15px;
        }
    }
}
#payment-warning-outer{
    width: 100%;
    float: left;
    .alert{
        float: left;
        width: 100%;
        p{    
            width: calc(100% - 100px);
            float: left;
            padding-right: 15px;
            line-height: 39px;
            @media (max-width:1200px){
                line-height: 25px;
            }
        }
    }
}
#draft-team-alert-outer{
    width: 100%;
    float: left;
    .alert{
        float: left;
        width: 100%;
        p{    
            width: calc(100% - 116px);
            float: left;
            padding-right: 15px;
            line-height: 39px;
            @media (max-width:1200px){
                line-height: 25px;
            }
        }
    }
}
/*css for pool content*/
.pool--content{
    @include make-sm-column(12);
    border: 1px solid $background_lightest; 
    border-bottom: 0;
    padding: 25px;
}
@media screen and (max-width: 991px) {
    .pool--content{
        width:100%;
        float:left;
    }
}
@media screen and (max-width: 500px) {
    .pool--content{
        border:0 !important;
        padding:0 !important;
    }
}