.welcome-slider {
    @include make-sm-column(12);
    @extend .text-center;
    background-image: url('../../img/bg.png');
    background-position: top center;
    padding-bottom: 60px;
    color: $white; 
    .welcome-slider--sidelines{ 
        @include make-sm-column(2);
        @extend .hidden-xs;
        @extend .p0;
        border-top: 1px solid #0E6AAD;
        height: 12px;
        border-bottom: 1px solid #0E6AAD;
        position: absolute;
        top: 50%;
        //margin-top: -6px;
        transform: translate(0%, -50%);
    }
    .welcome-slider--sidelines.right{
        right:0;
    }
    .welcome-slider--logo {
        margin-top: 0px;
        padding-top: 65px;
        margin-bottom: 25px;
        img{
            max-width: 100%;
        }
    }
    .welcome-slider--heading{
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
        @extend .floatnone;
        @extend .marginauto;
        margin-top: 0;
        h2{
            @extend .text-uppercase;
            font-size: 71px;
            font-weight: normal;
            margin: 0;
            line-height: 70px;
            &:before{
                content: "";
                display: block;
                background: red;
            }
        }
    }
    .welcome-slider--subtext {
        font-size: 20px;
        margin-top: 10px;
    } 
    .welcome-slider--button{ 
        .btn-backgreen{
            margin-top: 20px;
        }
    }
} 