/*Pool Nav*/
.pool-nav{
    @include make-sm-column(12);
    padding: 0;
    margin-top: 20px;
    .select-box{
        width:25%;
        float:left;
        /*padding-right: 6px;*/
        .selectboxit-container{
            width:100%;
            .selectboxit{
                width: 100% !important;
            }
            .selectboxit-options{
                width: 100% !important;
                a {
                    text-transform: capitalize;
                }
            }
            span{
                height: 40px; 
                line-height: 38px;
                font-size: 21px;
                font-family: "Titillium Web",sans-serif;
            }
            .selectboxit-text{
                max-width: 100%;
                text-transform: capitalize;
            }
            .selectboxit-arrow-container{
                .selectboxit-default-arrow{
                    top: 21px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 9px solid #fff;
                }
                &:after{
                    top: 8px;
                    border-bottom: 9px solid #fff;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
            }
        }
    } 
    .list-inline{
        width:75%;
        float:left;
        margin:0;
        li{
            width:24%;
            margin-left: 1%;
            /*position: relative;*/ 
            text-align: center;
            padding: 0;
            border: 1px solid $background_lighter;
            box-shadow: inset 0 0 2px 0px $background_lighter;
            font-size: 17px; 
            font-weight: 600;
            float:left;
            &.active{
                background:$dark-grey;
                box-shadow: none;
                a{
                    padding: 11px 0;
                    color: $white;
                    text-decoration: none;
                }
                .bottom-shadow {
                    width: 0;
                    height: 0;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-top: 7px solid $dark-grey;
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    z-index: 5;
                    transform: rotate(0deg);
                    box-shadow: none;
                    margin-left: -10.5px;
                }
            }
            a{
                display: inline-block;
                padding: 11px 10px 3px 10px;
                width: 100%;
                text-decoration: none;
            }
            .bottom-shadow{
                display: inline-block;
                width: 100%;
                height: 8px;
                margin: 0;
                float: left;
                box-shadow: inset 0 8px 6px -4px $background_lighter;
                transform: rotate(180deg);
            }
        }
    }
}  
@media only screen and (min-width:500px) and (max-width: 991px)  {
    .pool-nav{
        .select-box{
            width: 100%;
            //margin: 0px 0.5%;
        }
        .list-inline{
            width:100%; 
            margin-top: 10px;
            li:first-child{
                margin-left: 0;
                width: 25%;
            }
            /*            li{
                            margin-left:0.5%;
                            margin-right:0.5%;
                        }*/
        }
    }
    /*    .pool--content{
            width: 99% !important;
            margin: 0px 0.5%;
            padding:20px;
        }*/
}
/*sublinks*/
#pool_nav{
    li{
        .bottom-shadow{
            border: none;
        }
        ul{
            &.sub-links{
                /*@include make-sm-column(12);*/
                padding: 0;
                position: absolute;
                display: none;
                left: 0;
                margin-top: 8px;
                width:auto;
                right:2px;
                z-index:1;
                background: $dark-grey;
                li{
                    background:$dark-grey;
                    box-shadow: none;
                    border: 1px solid $dark-grey;
                    min-width: 16.66%;
                    width: auto;
                    display: block;
                    margin:0px;
                    position:relative;
                    &.active{
                        background:$dark-grey;
                        box-shadow: none;
                        .bottom-shadow {
                            width: 0;
                            height: 0;
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            border-top: 7px solid #6f838b;
                            position: absolute;
                            bottom: -7px;
                            left: 50%;
                            z-index: 5;
                            transform: rotate(0deg);
                            box-shadow: none;
                            margin-left: -10.5px;
                        }
                    }
                    a{
                        text-decoration: none;
                        color:$white;
                        padding: 10px 10px;
                        font-size: 16px;
                        font-weight: 500;
                        z-index:17;
                        span{
                            height: 18px;
                            border-right: 1px solid $background_lighter;
                            float: right;
                            margin-right: -10px;
                            margin-top: 3px;
                        }
                        &.active{
                            padding: 10px 10px;
                            font-size: 16px;
                            font-weight: 600;
                            color: $background_lighter;
                            text-decoration: none;
                        }
                    }
                    .bottom-shadow{
                        box-shadow: none;
                        height: 0;
                    }
                    &:last-child{
                        a{
                            span{
                                border: none;
                            }
                        }
                    }
                }
            }
        }
        &.clicked-active{
            background:$dark-grey;
            a{
                color:$white;
            }
            .bottom-shadow{
                box-shadow: none;
            }
            ul{
                display: block;
            }
        }
    }
}
@media screen and (max-width: 500px) { 
    .pool-nav{
        float: left;
        z-index:12;
        width:100%;
        .select-box{
            width: 94%;
            margin-left: 3%;
            margin-right: 3%;
        }
        .list-inline{
            width: 100%;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 5px;
            li{
                display: none;
                &.active{
                    display: block; 
                    width:100%;
                    margin:0px;
                }
            }
        }
        .mobile-list{
            display:block!important;
            width: 94%;
            margin-left: 3%;
            margin-right: 3%;
            float: left;
            position:relative;
            button{
                background-color: $white;
                width: 100%;
                height: 42px;
                margin-top: 8px;
                outline: 0;
                border: 0;
                position:relative;
                margin-bottom: 0px;
                text-transform: uppercase;
                font-size: 16px;
                padding-left: 15px;
                text-align:left;
                color:$nav;
                border: 1px solid #d1d6d9;
                .btn-toggle{
                    position:absolute;
                    top: 50%;
                    transform: translate(0,-50%);
                    right:-1px;
                    padding-top: 1px;
                    width:40px;
                    z-index: 9;
                    .icon-bar{
                        width:26px;
                        margin: 3px 5px;
                        height:3px;
                        float:left;
                        background-color: $nav;
                    }
                }
                .crossbtn{
                    position: absolute;
                    background-color: #fff;
                    top: -6px;
                    right: -1px;
                    left: 0;
                    bottom: -7px;
                    background-image: url("../../img/graphics.png");
                    background-position: -50px 110px;
                    background-color:$nav;
                    &.show{
                        display: block !important;
                    }
                }
                .box-shadow{ 
                    display: inline-block;
                    width: 100%;
                    height: 8px;
                    float: left;
                    box-shadow: rgb(210, 215, 218) 0px 8px 6px -4px inset;
                    transform: rotate(180deg);
                    margin: 0px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            ul{
                padding:0;
                li{
                    list-style:none;
                    a{
                        display: block;
                        padding: 14px 0px 14px 25px;
                        color: $white;
                        text-align: left;
                        background-color: $dark-grey ;
                        font-size: 16px;
                        border-bottom:1px solid $brand_bg; 
                    }
                    span{
                        display: block;
                        height: 16px;
                        width: 22px;
                        margin-right: 15px;
                        margin-top: 4px;
                        background-image: url("../../img/graphics.png");
                        background-position: 300px -80px;
                        float:right;
                    }
                    &.clicked{
                        span{
                            transform: rotate(180deg);
                        }
                        &>a{
                            background-color: $navhover;
                            border-bottom:0; 
                        }
                        ul{
                            display: block !important;
                        }
                    }
                    ul{
                        li{
                            a{
                                color:$nav;
                                background-color:$white;
                                padding: 14px 0px 14px 40px;
                                border-bottom:1px solid #d1d6d9; 
                            }
                        }
                    }
                }
            }
            .show{    
                display: block !important;
                position: absolute;
                z-index: 6;
                background: rebeccapurple;
                width: 100%;
                top: 50px;
                color: #fff;
            }
        }
    } 
}

/*END Pool Nav*/