/*pool-slider*/
.matchup-individual-slider{
    position: relative;
    height: 100px;
    overflow: hidden;
    width: 100%;
    float: left;
    margin: 20px 0 15px 0;
    .graphics{
        background-image: url("../../img/graphics.png");
        height: 34px;
        width: 24px; 
        margin: auto;
        margin-top: 41%;
        background-position: -238px -35px;
        cursor: pointer;
    }
    .slider--left-arrow{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 49px;
        background: $white;
        .graphics{
            background-position: -218px -35px;
        }
    }
    .slider--right-arrow{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 46px;
        background:$white;
        .graphics{
            background-position: -238px -35px;
        }
    }
    .slider{
        overflow: hidden;
        height: 100%;
        margin:0 50px;
        /*border-left: 1px solid #85969d;*/
        .matchup-teams{
            width:179px;
            float: left;
            height:75%;
            padding:10px 20px 0px 20px;
            border:1px solid $light-grey;
            border-left:none;
            &:first-child{
                border-left: 1px solid $light-grey;
            }
            .team{
                color:$black;
                float: left;
                width: 100%;
                height: 50%;
                .team-name{
                    text-transform: uppercase;
                    width:85%;
                    float: left;
                    text-align: left;
                }
                .team-score{
                    color: $blue-text;
                    width:15%;
                    font-weight: bold;
                    float: left;
                    font-size: 17px;
                    text-align: right;
                }

            }
        }
        .matchup-weeks{
            width: 179px;
            text-align: center;
            font-weight: normal;
            font-size: 15px;
            padding: 2px 0;
            border: 0;
            background: #85969d;
            color: #fff;
            float: left;
            border-right: 1px solid #fff;
        }
    }
}