/*Pool h2h*/ 
.pools--h2h{
    margin-bottom: 15px;
    float: left;
    width: 100%;
    .week{
        text-align: center;
        font-weight: 700;
        border-bottom: 7px solid #efbe00;
    }
    .upper{
        float: left;
        width: 100%;
        background-color: $background_lighter;
        color:$nav;
        position:relative;
        float: left;
        .right{
            float: left;
            width: 50%;
            border-right: 2px solid $white;
            .name-div{
                float: right;
                text-align: right;
                padding-left: 0;
                padding-right: 15px;
            }
            .img-div{
                float: right;
            }
            .goal-div{
                float: right;
            }
        }
        .left{
            float: left;
            width: 50%;
            border-left: 1px solid $white;
            .name-div{
                float: left;
                text-align: left;
                padding-left: 15px;
                padding-right: 0px;
            }
            .img-div{
                float: left;
            }
            .goal-div{
                float: left;
            }
        }
        .name-div{
            width: 58%;
            p{
                font-size: 16px;
                text-transform: uppercase;
                margin: 0;
                font-weight: 600;
                padding: 13px 0 0 0;
            }
            span{
                color: $background_dark;
                font-size: 13px;
                display: block;
                line-height: 10px;
            }
        }
        .img-div{
            width: 22%;
        }
        .goal-div{
            width: 8%;
            text-align: center;
            p{
                margin: 0;
                font-size: 51px;
                font-weight: bold;
                line-height: 55px;
            }
        }
        .vs{
            width: 8% !important;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0%);
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            float:left;
            p{
                margin: auto;
                margin-top: 14px;
                background: white;
                border-radius: 100%;
                height: 30px;
                width: 30px;
                padding: 3px;
                margin-top: 14px;
            }
        }
    } 
    .bottom{
        width :100%;
        float: left;
        border: 2px solid $background_lighter;
        background:$white;
        .width10{
            width: 10%;
            float: left;
            border-right:2px solid $background_lighter;
            &:last-child{
                border-right:0;
            }
            p{
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                text-align:center; 
            }
            &:after{
                content:'';
                width: 100%;
                height: 4px;
                display: block; 
                background: $white;
            }
            &.green:after{
                background: $main_action;
            }
            &.blue:after{
                background: $light-grey;
            }
            &.red:after{
                background: $maroon;
            } 
        }
    }
    .leading-losing{
        .circle{
            width: 5px;
            height: 5px;
            display: inline-block;
            margin-right: 2px;
            vertical-align: middle;
            &.maroon{
                background: $maroon;
            }
            &.green{
                background: $main_action;
            }
            &.gray{
                background: $light-grey;
            }
        }
        span{
            font-size: 10px;
            text-transform: uppercase;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }

    }
}
@media screen and (max-width: 991px) {
    .pools--h2h .bottom{
        border:0;
        border-left: 2px solid #D2D7DA;
        border-top: 2px solid #D2D7DA;
    }
    .width10{
        border: 2px solid #D2D7DA;
        border-left: 0;
        border-top: 0;
        &:last-child{
            border-right: 2px solid #D2D7DA !important;
        }
    }
}
@media screen and (max-width: 500px) {
    .pools--h2h .bottom{
        border:0;
        border-left: 2px solid #D2D7DA;
        border-top: 2px solid #D2D7DA;
    }
    .pools--h2h .bottom .width10{
        border: 2px solid #D2D7DA;
        border-left: 0;
        border-top: 0;
        &:last-child{
            border-right: 2px solid #D2D7DA;
        }
        &:after{
            height: 8px;
        }
    }
    .pools--h2h{
        .upper{
            .right,.left{
                width:100%;
                border-bottom: 2px solid #fff !important;
                border-right:0;
                .img-div{
                    float: left;
                    img{
                        height:56px;
                    }
                }
                .name-div{
                    text-align: left !important;
                    padding-right: 0;
                    padding-left: 10px;
                    float:left;
                }
                .goal-div{
                    width:16%;
                    float:left;
                }
            }
            .vs{
                left: 10.5%;
                transform: translate(-50%, 0%);
                top: 28px;
            }
        }
    }
}
/*END Pool h2h*/
/*Pool box*/
.pools--box{
    margin-bottom: 15px;
    float: left;
    width: 100%;
    .pools--box-inner{
        background-color: #D2D7DA;
        float: left;
        width: 100%;
        padding: 7px 0;
    }
    .week{
        text-align: center;
        font-weight: 700;
        border-bottom: 7px solid #efbe00;
    }
    .ranks{
        float: left;
        margin: 0px 0 0px 13px;
        padding: 0px 10px 7px 10px;
        font-size: 51px;
        font-weight: 700;
        color: #0F6AAE;
        width: 10%;
        text-align: center;
        @media (max-width:768px){
            width: 43%;
        }
        sup{
            font-size: 65%;
            font-weight: 600;
        }
    }
    .points{
        float: left;
        padding: 0px 10px 0px 10px;
        font-size: 51px;
        font-weight: bold;
        color: #0b273d;
        width: 30%;
        text-align: center;
        margin-top: -10px;
        span:nth-child(2){
            display: block;
            font-size: 14px;
            margin-top: -10px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
        }
        @media (max-width:768px){
            width: 50%;
        }
    }
    .stats{
        float: right;
        margin: 5px 10px 0 0;
        width: calc(60% - 25px);
        text-align: center;
        @media (max-width:768px){
            width: 100%;
            margin: 0; 
            float: none;
        }
        table {
            margin-bottom: 0 !important;
            tr{
                th{
                    text-align: center !important;
                    background: #fff;
                    color: #0F6AAE;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 2px 8px;
                    border-right: 3px solid #D2D7DA !important;
                }
                th:last-child{
                    border-right: 0;
                }
                td{
                    padding: 6px 8px !important;
                    text-align: center;
                    background: #fff;
                    color: #516a73;
                    font-size: 19px;
                    text-transform: uppercase;
                    font-weight: 400;
                    border-top: 5px solid #516a73;
                    border-right: 3px solid #D2D7DA;
                    @media (max-width:768px){
                        text-align: center !important;
                        &:before{
                            text-align: center !important;
                        }
                    }
                }
                td:last-child{
                    border-right: 0;   
                }
            }
            @media (max-width:768px){
                margin: 0 8px;
                width: calc(100% - 16px);
            }
        }
    }
    .upper{
        float: left;
        width: 100%;
        background-color: $background_lighter;
        color:$nav;
        position:relative;
        float: left;
    }
}
@media (max-width:768px){
    .head2head--heading-description{
        margin-bottom: 10px;
    } 
}
/*END Pool box*/
/*Pool Increate*/
.pools--h2h, .pools--box{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    min-height: auto !important;
    .pool-increate__upper{
        margin-top: 20px;
        .pool-increate{
            padding: 10px 15px;
            h4{
                font-size: 24px;
                font-weight: 300;
                text-transform: capitalize;
                display: inline-block;
                span{
                    color: #516a73;
                    font-size: 13px;
                    line-height: 10px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
            a{
                float: right;
                margin-top: 5px;
                span.arrow-right{
                    height: 15px;
                    width: 22px;
                    background-image: url("../../img/graphics.png");
                    display: inline-block;
                    background-position: -230px -79px;
                    transform: rotate(270deg);
                    margin-right: -5px;
                }
            }
        }
    }
}
/*END Pool Increate*/
