.language-bar{
    background: $nav;
    text-align:right;
    color: $white; 
    padding-right: 15px;
    font-size: 12px;
    padding-bottom: 3px; 
    width: 100%;
    height: 20px;
    a{
        color: #fff;
        text-decoration: underline;
    }
    &.fr{
        .en{
            display:block;
        }
        .fr{
            display:none;
        }
    }
    &.en{
        .fr{
            display:block;
            float: none;
        }
        .en{
            display:none;
        }
    }
}
@media (max-width:768px){
    .language-bar{
        display:none;
    }
}
.grey-shadow-upper{
    display: block;
    position: absolute;
    content: '';
    height: 100%;
    width: 12px;
    z-index: 1;
    opacity: 1;
}
.livescoreboard {
    position: relative;
    height: 120px;
    .today {
        background-color: $background_lighter;
        color: $background_dark;
        overflow: hidden;
        span {
            @extend %extend_1;
        }
    }
    .livescoreboard--loader{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background: $white;
        img{
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -24px; 
            margin-top: -24px;
        }
    }
    .livescoreboard--scores--previous,.livescoreboard--scores--previous2, .livescoreboard--scores--yesterday, .livescoreboard--scores--today, .livescoreboard--scores--future, .livescoreboard--scores--future--dayafter, .livescoreboard--scores--future--dayafter--second{
        float: left;
        display:none;
    }
    .graphics{
        background-image: url("../../img/graphics.png");
        height: 34px;
        width: 24px; 
        margin: auto;
        margin-top: 34px;
        &.mobile{
            margin: 20px 5px 7px 30px;
            height: 42px;
            float: left;
            width: 34px;
            background-position: -89px -139px;
        }
    }
    .fa{
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 28px;
        font-size: 27px;
        color: rgb(14, 105, 175); 
    }
    .graybg {
        background-color: $livescoreboard_bg;
        .time {
            width: 65px;
            text-align: right;
        }
    }
    .todaytmrwparent{
        width: 10000px;
    }
    .tomorrow,.dayafter {
        color: $white;
        background-color: #98A7AC;
        overflow: hidden;
        span {
            @extend %extend_1;
        }
    }
    .dayafter{
        border-left: 1px solid #fff;
    }
    .livescoreboard--left-arrow {
        position: absolute;
        left: 0;
        top: 20px;
        bottom: 0;
        width: 50px;
        background: $white;
        .graphics{
            background-position: -218px -35px;
            cursor: pointer;
        }
    }
    .livescoreboard--right-arrow {
        position: absolute;
        right: 0;
        top: 20px;
        bottom: 0;
        width: 50px;
        background: $white;
        .graphics{
            background-position: -238px -35px;
            cursor: pointer;
        }
    }
    .main_header {
        position: absolute;
        top: 20px;
        bottom: 0;
        left: 50px;
        right: 50px;
        overflow: hidden;
    }
    .livescoreboard--scores {
        width: 10000px;
        background-color: $white;
        float: left;
        overflow: hidden;
        height: 100px;
        .outer-parent{
            float:left;
        }
        .livescoreboard--scores-parts {
            width: 168px;
            float: left;
            padding: 10px;
            border-left: 1px solid $background_lightest;
            height: 76px;
            position: relative;
            &.active{
                border-top: 5px solid $live_status;
                padding-top: 5px;
            }
            &.graybg{
                border-left: 1px solid #D3D6D8;
            }
            img{
                max-width: 100%;
            }
            .live_stats{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.8);
                display:none;
                cursor: pointer;
                span{
                    display: block;
                    color: #fff;
                    text-transform: uppercase;
                    float: left;
                    padding: 14px 3px;
                    width: 92px;
                    text-align: left;
                    margin-top: 12px;
                }
            }
        }
        .livescoreboard--scores-parts.today-text{
            border-top: 5px solid $live_status;
            padding: 5px 10px 10px 10px;
        }
        .livescoreboard--scores-parts.today-text{
            .live_stats span{
                margin-top:0;
                padding: 21px 3px;
                line-height: 18px;
            }
        }
        .livescoreboard--scores-parts:hover .live_stats{
            display:block;
        }
    }
    .livescoreboard--scores-parts span { 
        color: $background_dark;
        width: 32px;
        text-align: center;
        display: block;
        float: left;
        line-height: 28px;
        &.score {
            color: $background_dark;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .livescoreboard--scores-parts .img{
        width: 27px;
        margin-left: 12px;
        clear: both;
    }
    .livescoreboard--scores-parts .team{
        width: 42px;
        text-align: left;
        padding-left: 10px;
    }
}
@media screen and (max-width: 768px) {
    .livescoreboard {
        height: 100px;
        .livescoreboard--left-arrow {
            top: 0px;
        }
        .livescoreboard--right-arrow {
            top: 0px;
        }
        .main_header {
            top: 0px;
        }
        .graphics.mobile{
            margin: 20px 2px 0px 8px;
        }
    }
    .livescoreboard .livescoreboard--scores .livescoreboard--scores-parts{
        width: 137px;
    }
}
@media screen and (max-width: 400px) {
    .livescoreboard .livescoreboard--scores .livescoreboard--scores-parts .live_stats span{
        padding: 0px 0px;
        width: 77px;
        font-size: 12px;
        line-height: 16px;
    }
    .livescoreboard .graphics.mobile{
        margin: 0px 5px 7px 30px;
    }
    .livescoreboard .today span, .livescoreboard .tomorrow span, .livescoreboard .dayafter span{
        padding: 2px;
        padding-left: 15px;
    }
    .livescoreboard .livescoreboard--scores{
        height: 60px;
    }
    .livescoreboard{
        height:60px; 
        .graphics{
            margin-top: 14px;
        }
        .main_header{
            .livescoreboard--scores-parts{ 
                width: 150px;
                padding: 6px 10px;
                height:40px;
                &.active{
                    padding-top: 0;
                }
                .final{
                    float: right;
                    width: 20px;
                }
                .score{
                    width: 23px;
                }
                .time{
                    float: right;
                }
                .img{
                    margin-left: 6px;
                    clear: none;
                    width: 25px;
                }
            }
        }
    }
}