.site-properties {
    background-color: $brand_bg;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    .site-properties--container{
        @extend .container;
        @extend .text-center;
        padding: 20px 10px;
        .site-properties--container--property
        {
            @include make-xs-column(4);
            padding: 50px auto;
            .property--left{ 
                .property--left--graphics{
                    background-image: url("../../img/graphics.png");
                    height: 71px;
                    width: 71px;
                    margin: auto;
                    &.mobile{
                        background-position: -70px 0px;
                    }
                    &.stats{
                        background-position: -145px 0px;
                    }
                    &.live_scores{
                        background-position: 0px 0px;
                    }
                }
            }
            .property--right{
                p {
                    color: $light-grey;
                    margin: auto;
                    font-size: 16px;
                }
                h3{
                    font-weight: normal;
                    font-size: 27px;
                    margin-top: 15px;
                }
            }
        }
        .site-properties--container--property:nth-child(1){
            padding: 50px 10px 50px 0;
        }
        .site-properties--container--property:nth-child(2){
            padding: 50px 5px 50px 5px;
        }
        .site-properties--container--property:nth-child(3){
            padding: 50px 0px 50px 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .site-properties{
        padding:0;
        .site-properties--container{
            .site-properties--container--property{
                width: 100%;
                 padding: 20px 15px 20px 0px !important;
                .property--right{
                    width: 74%;
                    float: left;
                    text-align: left;
                }
                .property--left{
                    width: 26%;
                    float: left;
                }
                h3{
                    font-size: 20px;
                    margin-top: 0;
                }
                .property--left{

                .property--left--graphics{
                    height: 71px;
                    width: 71px;
                    &.mobile{
                        background-position: -70px -67px;
                    }
                    &.stats{
                        background-position: -145px -70px;
                    }
                    &.live_scores{
                        background-position: 0px -67px;
                    }
                }
            }
            }
        }
    }
}