.team-records{
    margin: 20px 0;
    .light-grey-table.table tr th{
        font-size: 16px;
        border-bottom: 1px solid $light-grey;
        &:first-child{
            text-transform: capitalize;
        }
    }
    tbody{
        td{
            text-transform: capitalize;
            &:first-child{
                width: 70%;
            }
        }
    }
}

