#trial_expired{
    background: rgba(0,0,0,0.5);
    .modal-content{
        border-radius: 0px;
        text-align: center;
        background: transparent;
        box-shadow: none;
        border:none;
        margin-top: 100px;
        .modal-box{
            background: $white;
            margin-top: 40px;
            min-height: 360px;
            position: relative;
            .inner-wrapper{
                position: absolute;
                top: 50%;
                transform: translate(0%, -50%);
                p{
                    margin: 40px;
                }
                .fa{
                    font-size: 58px;
                }
            }
        }
    }

}