.home-public--news{
    background-color: $background_lightest;
    right: 0;
    z-index:5;
    @media #{$mobile}  {
        position:static;
    } 
    .home-public--news--heading{
        p{
            padding: 12px 0px 12px 15px;
            color: $white;
            background-color: $dark-grey;
            margin: 0;
            font-size: 16px;  
        }
    }
    .home-public--news--tweet{
        @include make-sm-column(11);
        margin: 0 auto;
        float: none !important; 
        overflow: hidden;
        padding: 30px 15px;
        border-bottom: 1px solid $white;
        .image{
            float:left;
            padding:0;
            margin-right: 15px;
            img{
                height: 50px;
                width: 50px;
                border: 2px solid $light_blue;
                border-radius: 50%;
                max-width: 100%;
                max-height: 100%;
            } 
        }
        .replay{
            display:none;
            margin-top: 10px;
            input{
                height: 33px;
                float: left;
                margin-right: 5px;
                padding-left: 10px;
                outline: 0;
                border: 1px solid $dark-grey;
                margin-right: 2%;
                width: 72%;
                &:focus{
                    border: 1px solid $nav;
                }
            }
            .btn-backgreen{
                width: 26%;
                padding: 4px 0;
            }
        }
        .description{
            float:left;
            width: calc(100% - 65px);
            h3 {
                margin: 0;
                color: $light_blue;
                font-size: 18px;
                font-weight: normal;
                    margin-bottom: 5px;
            }
            p:nth-child(3){
                margin:10px 0 0 0;
                a {
                    text-decoration: underline; 
                    float:right;
                }
            }
        }
        .discussion{
            float:left;
            width: calc(100% - 65px);
            @extend .pull-right;
            margin-top: 15px;
            .each-comment{
                margin-bottom: 10px;
                div{
                    text-align: right;
                }
                .name:before{
                    content:'By';
                    padding-right: 5px;
                }
                .created{
                    margin-left: 5px;
                    color: #90949c;
                }
            }
        }
    }
}
.arrow-down{
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 16px solid $dark-grey;
    margin-left: 25px;
}
.upcoming-tweets{
    position: relative;
    min-height: 170px;
}
.upcoming-tweets .home-public--news--tweet:last-child{
    border-bottom: 0;
}
.tweets--loader{ 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3; 
    background: #e5e9ea;
    img{
        vertical-align: middle;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -24px;
        margin-top: -24px;
    }
}