@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/pool_nav"; 
@import "../includes/ad_block";
@import "../includes/twitter_block";

.injury-report-container{
    .injury-report{
        @include make-sm-column(8);
        @include make-xs-column(12);
        padding: 0;
        margin-top: 20px;
        &:after{
            content:'';
            margin-bottom: 70px;
            display: block;
            float: left;
            width: 100%;
        }
        #injury-report-all{
            width:100%;
            float:left;
        }
        /*injury-report-post*/
        .injury-report-post{
            @include make-sm-column(12);
            @include make-xs-column(12);
            padding: 30px 0;
            border-bottom:1px solid $livescoreboard_bg;
            font-size: 15px;
            &:last-child{
                border-bottom: none;
            }
            .pic{ 
                width:10%;
                float:left; 
                img{
                    height: 54px;
                    width: 54px; 
                    float:left;
                }
            }
            .injury-report-details{
                width: 88%;
                float: right;
                .details{
                    @include make-sm-column(12);
                    @include make-xs-column(12);
                    padding: 0;
                    color: $blue-text;
                    text-transform: capitalize;
                    font-size: 17px;
                }
                .description{
                    clear: both;
                    @include make-sm-column(12);
                    @include make-xs-column(12);
                    padding: 0;
                    margin: 10px 0;
                }
                .last-updated{
                    width: 50%;
                    float:left;
                    padding: 0;
                    text-align: left;
                }
                .first-report{
                    width: 50%;
                    float:left;
                    padding: 0;
                    text-align: right;
                } 
            }
        }
        /*injury-report-post ends*/
    }
}
@media screen and (max-width: 768px) { 
    .injury-report-container .injury-report .injury-report-post .pic{
        width:65px;
    }
    .injury-report-container .injury-report .injury-report-post .injury-report-details{
        width:calc(100% - 65px);
    }
    .injury-report-container .injury-report .injury-report-post .injury-report-details .first-report{
        width:100%;
        text-align: left;
    }
    .injury-report-container .injury-report .injury-report-post .injury-report-details .last-updated{
        width:100%;
        margin-bottom: 5px;
    }
}
.no-result-present{
    margin-bottom: 20px;
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
    padding: 0px 15px;
    min-height: 1000px;
}
//END Loader
.adblocks{
    opacity:0;
}
@media (max-width:768px){
    #pool--content{
        padding: 0;
        .injury-report{
            padding: 0 15px; 
        }
    }
}
