@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/pagination"; 
@import "../includes/footer"; 
@import "../common_k";

.player--content{
    @include make-sm-column(12);
    padding: 0;
    margin-bottom:70px;
    margin-top: 50px;
    .pool--top-heading {
        display: inline-block;
        margin: 3px 0 20px 0;
    }
    .type-subtitle{
        color: #516a73;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .view-statistics{
        @include make-sm-column(12);
        padding: 10px 0px 15px 0px;
        .statistics-buttons{
            float: right;
        }
        .pool--main-heading{
            margin:5px auto;
            float: left;
            width: 150px;
            line-height: 29px;
        }
    }
    .selectboxit-container{
        float:left;
        span{
            height:35px;
            line-height:35px;
        }
        .selectboxit-arrow-container{
            .selectboxit-default-arrow{
                top: 18px;
                &:after{
                    top: 8px;
                }
            }
        }
        .selectboxit-options {
            a{
                font-size: 14px;
            }
        }
    }
    .player-select-box {
        float: left;
        padding: 0 30px 35px 0px;
    }
}
.head-arrow{ 
    tr{
        th{
            span{
                right:4px;
                display: none;
            }
            &.desc{
                span{
                    display: inline-block;
                }
            }
            &.asc{
                span{
                    display: inline-block;
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.head-arrow tr th span{
    top: auto;
    bottom: 2px; 
    left: calc(50% - 5px);
} 
.show-if-goalie{
    display: none;
}
.goalie .hide-if-goalie{
    display: none;
}
.goalie .show-if-goalie{
    display: table-cell;
}
.highlighted-1 tr td:nth-child(1){
    background-color: #D3D6D8;
}
.highlighted-2 tr td:nth-child(2){
    background-color: #D3D6D8;
}
.highlighted-3 tr td:nth-child(3){
    background-color: #D3D6D8;
}
.highlighted-4 tr td:nth-child(4){
    background-color: #D3D6D8;
}
.highlighted-5 tr td:nth-child(5){
    background-color: #D3D6D8;
}
.highlighted-6 tr td:nth-child(6){
    background-color: #D3D6D8;
}
.highlighted-7 tr td:nth-child(7){
    background-color: #D3D6D8;
}
.highlighted-8 tr td:nth-child(8){
    background-color: #D3D6D8;
}
.highlighted-9 tr td:nth-child(9){
    background-color: #D3D6D8;
}
.highlighted-10 tr td:nth-child(10){
    background-color: #D3D6D8;
}
.highlighted-11 tr td:nth-child(11){
    background-color: #D3D6D8;
}
.highlighted-12 tr td:nth-child(12){
    background-color: #D3D6D8;
}
.highlighted-13 tr td:nth-child(13){
    background-color: #D3D6D8;
}
.highlighted-14 tr td:nth-child(14){
    background-color: #D3D6D8;
}
.highlighted-15 tr td:nth-child(15){
    background-color: #D3D6D8;
}
.highlighted-16 tr td:nth-child(16){
    background-color: #D3D6D8;
}
.highlighted-17 tr td:nth-child(17){
    background-color: #D3D6D8;
}
.highlighted-18 tr td:nth-child(18){
    background-color: #D3D6D8;
}
.highlighted-19 tr td:nth-child(19){
    background-color: #D3D6D8;
}
.highlighted-20 tr td:nth-child(20){
    background-color: #D3D6D8;
}
.highlighted-21 tr td:nth-child(21){
    background-color: #D3D6D8;
}
.highlighted-22 tr td:nth-child(22){
    background-color: #D3D6D8;
}
.highlighted-23 tr td:nth-child(23){
    background-color: #D3D6D8;
}
.highlighted-24 tr td:nth-child(24){
    background-color: #D3D6D8;
}
.highlighted-25 tr td:nth-child(25){
    background-color: #D3D6D8;
}
.highlighted-26 tr td:nth-child(26){
    background-color: #D3D6D8;
}
.highlighted-27 tr td:nth-child(27){
    background-color: #D3D6D8;
}
.highlighted-28 tr td:nth-child(28){
    background-color: #D3D6D8;
}
.highlighted-29 tr td:nth-child(29){
    background-color: #D3D6D8;
}
.highlighted-30 tr td:nth-child(30){
    background-color: #D3D6D8;
}
@media screen and (max-width: 768px) { 
    .player--content .view-statistics,.player--content{
        width:100%;
        float:left;
    }
    .player--content{
        padding: 0px 15px;
    }
    .pool--main-heading{
        margin: 10px 0 0px 0;
    }
    .player--content .player-select-box{
        padding: 0 10px 20px 0px;
    }
    .player--content .view-statistics{
        padding:0px;
    }
    .goalie .show-if-goalie{
        display: block;
    }
} 
@media screen and (max-width: 1170px) {
    .flip-scroll-table{
        display: block; position: relative; width: 100%;
        width: 100%; border-collapse: collapse; border-spacing: 0;
        float:left;
        .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
        * html .cf { zoom: 1; }
        *:first-child+html .cf { zoom: 1; }
        th,
        td { margin: 0; vertical-align: top; }
        th { text-align: left; }
        thead { display: block; float: left; }
        tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
        thead tr { display: block; }
        th { display: block; text-align: right; }
        tbody tr { display: inline-block; vertical-align: top;    margin-left: -4px; }
        td { display: block; text-align: left; }
        /* sort out borders */
        th { border-bottom: 0; border-left: 0; 
             border-top: 1px solid #85969d !important;
             padding: 10px 15px !important;
             span{
                 right: 2px !important;
                 top: calc(50% - 5px)!important;
                 bottom:auto!important;
                 left: auto !important;
             }
        }
        td { border-left: 0; border-right: 0; border-bottom: 0;     min-height: 42px;}
        tbody tr { border-right: 1px solid #babcbf; }
        th:last-child,
            td:last-child { border-bottom: 1px solid #babcbf; }
    }
}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#pool--content{
    opacity:0;
}
//END Loader