@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer"; 
@import "../includes/ad_block";
@import "../includes/twitter_block";  
.schedule-container{ 
    @include make-sm-column(8);
    float: left;
    min-height: 1000px;
    &:after{
        content:'';
        margin-bottom: 70px;
        display: block;
        float: left;
        width: 100%;
    }
    .schedule-header{ 
        margin-top: 50px;
        .pool--top-heading{
            display: inline-block;
            margin: 3px 0 20px 0;
        }
        .schedule-dates{
            display: inline-block;
            margin-top: -18px;
            vertical-align: middle;
            font-size: 25px;
            color: #0F6AAE;
            margin-left: 15px;
            cursor: pointer;
            position:relative;
            #datetimepicker{
                width: 40px;
                opacity: 0;
                cursor:pointer;
                position: absolute;
                top: -22px;
                left: 0px;
                z-index: 2;
            }
            .fa{
                position: absolute;
                top: -10px;
                left: 4px;
                z-index: 1;
            }
        }
        .selectboxit-container{
            .selectboxit{
                width: 296px !important;
            }
            .selectboxit-text{
                max-width: 296px !important;
            }
            .selectboxit-options{
                width: 296px !important;
            }
            span{
                height: 40px;
                line-height: 38px;
                font-size: 21px;
                font-weight: 300;
                font-family: "Titillium Web",sans-serif;
            }
            .selectboxit-default-arrow {
                top: 21px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 9px solid #fff;
            }
            .selectboxit-arrow-container:after{
                top: 8px;
                border-bottom: 9px solid #fff;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
            @media screen and (min-width:769px) and (max-width:1122px){
                .selectboxit{
                    width: 200px !important;
                }
                .selectboxit-text{
                    max-width: 200px !important;
                }
                .selectboxit-options{
                    width: 200px !important;
                } 
            }
        }
        .schedule-dropdowns{
            margin: 20px 0 5px 0;
            width: 100%;
            float: left;
            .selectboxit-container:nth-child(4){
                margin-left: 30px;
                @media screen and (max-width:768px){
                    margin:10px 0;
                }
            }
        }
    }
    .pool--main-heading{
        width: 100%;
        float: left;
    }
    #matchup-all{
        float: left;
        width: 100%;
    }
    .blue-table{
        tr{
            th:first-child(),td:first-child(){
                width: 50%;
                @media #{$medium-mobile} {
                    width: 59%;
                }
            }
        }
        tr td{
            line-height: 39px;
            &:first-child{
                img:nth-child(1){
                    width: 27px;
                    margin-right: 10px;
                    @media #{$medium-mobile} {
                        margin-right: 3px;
                    }
                }
                img:nth-child(4){
                    width: 27px; 
                    margin-right: 10px;
                    @media #{$medium-mobile} {
                        margin-right: 3px;
                    }
                }
                .name1{
                    color: inherit;
                    width: 110px;
                    display: inline-block;
                    font-size: inherit;
                    margin-right: 0;
                    @media #{$medium-mobile} {
                        width: auto;
                        display: inline;
                    }
                }
                .name2{
                    color: inherit;
                    margin-right: 0;
                    font-size: inherit;
                }
                span{
                    color: #999;
                    margin-right: 25px;
                    font-size: 13px;
                }

                span:nth-child(3){
                    @media #{$medium-mobile} {
                        display: block;
                        padding-left: 42px;
                        line-height: 11px;
                    }
                }
            } 
            &:last-child{
                /*text-transform:uppercase;*/
                .btn-green-line{
                    i{
                        margin-right: 5px;
                    }
                    margin-right: 10px;
                }
                .btn-backgreen{
                    .arrows{
                        display: inline-block;
                        vertical-align: top;
                        margin-top: 4px;
                        margin-right: 5px;
                        .fa-long-arrow-left{
                            display: block;
                            line-height: 7px;
                            margin-left: -2px;
                        }
                        .fa-long-arrow-right{
                            display: block;
                            line-height: 7px;
                        }
                    }
                }
            }
            .winner-bold{
                font-weight: bold !important;
                /*display: block;*/
            }
            div{
                display: inline-block;
            }
            &.schedule-result{
                @media screen and (min-width:1123px){
                    min-width: 110px;
                }
                @media screen and (max-width:1122px){
                    min-width: 80px;
                }
                @media screen and (max-width:1122px){
                    min-width: 50px;
                }
            }
        }
    }
}
.schedule-result{
    /*display:none;*/

}
//Loader
.site-container{
    background-color: rgb(12, 40, 62);
}
#main-content{
    opacity:0;
}
.adblocks{
    opacity:0;
}
//END Loader
@media screen and (max-width: 500px) {  
    .schedule-container .schedule-header .selectboxit-container{
        width:100%;
        .selectboxit{
            width: 100% !important; 
        } 
        .selectboxit-options{
            width: 100% !important; 
        }
    }
    .bootstrap-datetimepicker-widget{ 
        right: -62px !important; 
    } 
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before{
        right: 75px;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after{
        right: 76px;
    }
}
//Remove this amd solve issue
body{
    overflow-x: hidden;
}
//show th on format change
.show-heading{
    display: table-row;
}