@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; 
@import "../variables"; 
@import "../common";
@import "../includes/scoreboard";
@import "../includes/navigation";
@import "../includes/footer";
@import "../includes/ad_block";
@import "../includes/pool_nav";
@import "../includes/pool_name_header";
@import "../common_k";

.standings-container{
    @include make-sm-column(12);
    margin-bottom: 70px;
    .standings-header{
        margin-top: 50px;
        .pool--top-heading{
            display: inline-block;
            margin: 3px 0 20px 0;
        }
        & > .selectboxit-container{
            margin-left: 15px;
            margin-top: 5px;
            .selectboxit{
                width: 296px !important;
            }
            .selectboxit-text{
                max-width: 296px !important;
            }
            .selectboxit-options{
                width: 296px !important;
            }
            span{
                height: 40px;
                line-height: 38px;
                font-size: 21px;
                font-weight: 300;
                font-family: "Titillium Web",sans-serif;
            }
            .selectboxit-default-arrow {
                top: 21px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 9px solid #fff;
            }
            .selectboxit-arrow-container:after{
                top: 8px;
                border-bottom: 9px solid #fff;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }
        .page-sub-nav{
            margin-top: 20px;
        }
    }
    table{
        tr{
            td{
                &:nth-child(1){
                    img{
                        width: 27px;
                        margin: 0 5px;
                    }
                }
            }
            th{
                &:nth-child(1){
                    width: 200px;
                }
            }
        }

    }
}
.blue-table.table{
    margin-bottom: 20px;
}
.pool--main-heading{
    width:100%;
    float:left;
    margin: 10px 0;
}
//Loader
.site-container{ 
    background-color: rgb(12, 40, 62);
}
#main-content{
    opacity:0;
}
//END Loader
@media screen and (max-width: 768px) { 
    .blue-table{
        th{
            height: 42px;
            &:first-child{
                width: auto !important; 
            }
        }
        td{
            height: 42px;
        }
    }
}
@media screen and (max-width: 500px) { 
    .page-sub-nav li a{
        margin: 30px 5px 30px 0px;
        font-size: 21px;
    }
    .page-sub-nav li a.selected{
        font-size: 26px;
    }
    #main-content .standings-container .standings-header .selectboxit-container{
        margin-left: 0px !important;
        .selectboxit{
            width: 240px !important;
        }
    }
}